# Recommendations with IBM

In this notebook, you will be putting your recommendation skills to use on real data from the IBM Watson Studio platform. 


You may either submit your notebook through the workspace here, or you may work from your local machine and submit through the next page.  Either way assure that your code passes the project [RUBRIC](https://review.udacity.com/#!/rubrics/2322/view).  **Please save regularly.**

By following the table of contents, you will build out a number of different methods for making recommendations that can be used for different situations. 


## Table of Contents

I. [Exploratory Data Analysis](#Exploratory-Data-Analysis)<br>
II. [Rank Based Recommendations](#Rank)<br>
III. [User-User Based Collaborative Filtering](#User-User)<br>
IV. [Content Based Recommendations (EXTRA - NOT REQUIRED)](#Content-Recs)<br>
V. [Matrix Factorization](#Matrix-Fact)<br>
VI. [Extras & Concluding](#conclusions)

At the end of the notebook, you will find directions for how to submit your work.  Let's get started by importing the necessary libraries and reading in the data.

In [2465]:
import random
from collections import Counter
from pprint import pp

In [775]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import project_tests as t
import pickle

%matplotlib inline

df = pd.read_csv('data/user-item-interactions.csv')
df_content = pd.read_csv('data/articles_community.csv')
del df['Unnamed: 0']
del df_content['Unnamed: 0']

# Show df to get an idea of the data
df.head()

,article_id,title,email
0,1430.0,"using pixiedust for fast, flexible, and easier...",ef5f11f77ba020cd36e1105a00ab868bbdbf7fe7
1,1314.0,healthcare python streaming application demo,083cbdfa93c8444beaa4c5f5e0f5f9198e4f9e0b
2,1429.0,use deep learning for image classification,b96a4f2e92d8572034b1e9b28f9ac673765cd074
3,1338.0,ml optimization using cognitive assistant,06485706b34a5c9bf2a0ecdac41daf7e7654ceb7
4,1276.0,deploy your python model as a restful api,f01220c46fc92c6e6b161b1849de11faacd7ccb2

### <a class="anchor" id="Exploratory-Data-Analysis">Part I : Exploratory Data Analysis</a>

Use the dictionary and cells below to provide some insight into the descriptive statistics of the data.

`1.` What is the distribution of how many articles a user interacts with in the dataset?  Provide a visual and descriptive statistics to assist with giving a look at the number of times each user interacts with an article.

In [779]:
# 50% of individuals interact with ____ number of articles or fewer.

median_val = df.groupby('email').size().sort_values(ascending=True).median()

median_val

3.0

In [780]:
# The maximum number of user-article interactions by any 1 user is ______. ?

max_views_by_user = df.groupby('email').size().sort_values(ascending=False).head(1).values[0]

max_views_by_user

364

`2.` Explore and remove duplicate articles from the **df_content** dataframe.

In [781]:
df_content['article_id'].nunique()

1051

In [782]:
# Find and explore duplicate articles

dups = df_content.groupby('article_id').size().sort_values(ascending=False) # duplicates of article id
dups_idx = dups[dups > 1].index # duplicates index

df_content[df_content['article_id'].isin(dups_idx)].sort_values(by='article_id') # retrieve duplicated content

,doc_body,doc_description,doc_full_name,doc_status,article_id
50,Follow Sign in / Sign up Home About Insight Da...,Community Detection at Scale,Graph-based machine learning,Live,50
365,Follow Sign in / Sign up Home About Insight Da...,During the seven-week Insight Data Engineering...,Graph-based machine learning,Live,50
221,* United States\r\n\r\nIBM® * Site map\r\n\r\n...,When used to make sense of huge amounts of con...,How smart catalogs can turn the big data flood...,Live,221
692,Homepage Follow Sign in / Sign up Homepage * H...,One of the earliest documented catalogs was co...,How smart catalogs can turn the big data flood...,Live,221
232,Homepage Follow Sign in Get started Homepage *...,"If you are like most data scientists, you are ...",Self-service data preparation with IBM Data Re...,Live,232
971,Homepage Follow Sign in Get started * Home\r\n...,"If you are like most data scientists, you are ...",Self-service data preparation with IBM Data Re...,Live,232
399,Homepage Follow Sign in Get started * Home\r\n...,Today’s world of data science leverages data f...,Using Apache Spark as a parallel processing fr...,Live,398
761,Homepage Follow Sign in Get started Homepage *...,Today’s world of data science leverages data f...,Using Apache Spark as a parallel processing fr...,Live,398
578,This video shows you how to construct queries ...,This video shows you how to construct queries ...,Use the Primary Index,Live,577
970,This video shows you how to construct queries ...,This video shows you how to construct queries ...,Use the Primary Index,Live,577

In [783]:
# Remove any rows that have the same article_id - only keep the first

df_content = df_content.drop_duplicates('article_id', keep='first')

`3.` Use the cells below to find:

**a.** The number of unique articles that have an interaction with a user.  
**b.** The number of unique articles in the dataset (whether they have any interactions or not).<br>
**c.** The number of unique users in the dataset. (excluding null values) <br>
**d.** The number of user-article interactions in the dataset.

In [785]:
unique_articles = df.article_id.nunique() # The number of unique articles that have at least one interaction
unique_articles

714

In [786]:
total_articles = df_content.article_id.nunique() # The number of unique articles on the IBM platform
total_articles

1051

In [787]:
unique_users = df.email.nunique() # The number of unique users
unique_users

5148

In [788]:
user_article_interactions = df.shape[0] # The number of user-article interactions

user_article_interactions

45993

`4.` Use the cells below to find the most viewed **article_id**, as well as how often it was viewed.  After talking to the company leaders, the `email_mapper` function was deemed a reasonable way to map users to ids.  There were a small number of null values, and it was found that all of these null values likely belonged to a single user (which is how they are stored using the function below).

In [789]:
most_viewed_ds = df.groupby('article_id').size().sort_values(ascending=False).head(1)

In [790]:
# The most viewed article in the dataset as a string with one value following the decimal 
most_viewed_article_id = str(most_viewed_ds.index[0])
most_viewed_article_id

'1429.0'

In [791]:
# The most viewed article in the dataset was viewed how many times?

max_views = most_viewed_ds.values[0]
max_views

937

In [792]:
## No need to change the code here - this will be helpful for later parts of the notebook
# Run this cell to map the user email to a user_id column and remove the email column

def email_mapper():
    coded_dict = dict()
    cter = 1
    email_encoded = []
    
    for val in df['email']:
        if val not in coded_dict:
            coded_dict[val] = cter
            cter+=1
        
        email_encoded.append(coded_dict[val])
    return email_encoded

email_encoded = email_mapper()
del df['email']
df['user_id'] = email_encoded

# show header
df.head()

   article_id                                              title  user_id
0      1430.0  using pixiedust for fast, flexible, and easier...        1
1      1314.0       healthcare python streaming application demo        2
2      1429.0         use deep learning for image classification        3
3      1338.0          ml optimization using cognitive assistant        4
4      1276.0          deploy your python model as a restful api        5

In [793]:
## If you stored all your results in the variable names above, 
## you shouldn't need to change anything in this cell

sol_1_dict = {
    '`50% of individuals have _____ or fewer interactions.`': median_val, 
    '`The total number of user-article interactions in the dataset is ______.`': user_article_interactions, 
    '`The maximum number of user-article interactions by any 1 user is ______.`': max_views_by_user,
    '`The most viewed article in the dataset was viewed _____ times.`': max_views, 
    '`The article_id of the most viewed article is ______.`': most_viewed_article_id, 
    '`The number of unique articles that have at least 1 rating ______.`': unique_articles, 
    '`The number of unique users in the dataset is ______`': unique_users, 
    '`The number of unique articles on the IBM platform`': total_articles 
}

# Test your dictionary against the solution
t.sol_1_test(sol_1_dict)

It looks like you have everything right here! Nice job!

### <a class="anchor" id="Rank">Part II: Rank-Based Recommendations</a>

Unlike in the earlier lessons, we don't actually have ratings for whether a user liked an article or not.  We only know that a user has interacted with an article.  In these cases, the popularity of an article can really only be based on how often an article was interacted with.

`1.` Fill in the function below to return the **n** top articles ordered with most interactions as the top. Test your function using the tests below.

In [794]:
def get_top_articles(n, df=df):
    '''
    INPUT:
    n - (int) the number of top articles to return
    df - (pandas dataframe) df as defined at the top of the notebook 
    
    OUTPUT:
    top_articles - (list) A list of the top 'n' article titles 
    
    '''
    # Your code here
    article_ids_ds = df.groupby('article_id').size().sort_values(ascending=False).head(n)
    ids = article_ids_ds.index
    
    top_articles = []
    for i in ids:
        top_articles.append(df[df['article_id'] == i].head(1).title.values[0])
    
    
    
    return top_articles # Return the top article titles from df (not df_content)

In [795]:
def get_top_article_ids(n, df=df):
    '''
    INPUT:
    n - (int) the number of top articles to return
    df - (pandas dataframe) df as defined at the top of the notebook 
    
    OUTPUT:
    top_articles_ids - (list) A list of the top 'n' article titles 
    
    '''
    # Your code here
    article_ids_ds = df.groupby('article_id').size().sort_values(ascending=False).head(n)
    ids = article_ids_ds.index
    top_articles_ids = list(ids)
 
    return top_articles_ids # Return the top article ids

In [799]:
print(get_top_articles(10))
print(get_top_article_ids(10))

['use deep learning for image classification', 'insights from new york car accident reports', 'visualize car data with brunel', 'use xgboost, scikit-learn & ibm watson machine learning apis', 'predicting churn with the spss random tree algorithm', 'healthcare python streaming application demo', 'finding optimal locations of new store using decision optimization', 'apache spark lab, part 1: basic concepts', 'analyze energy consumption in buildings', 'gosales transactions for logistic regression model']
[1429.0, 1330.0, 1431.0, 1427.0, 1364.0, 1314.0, 1293.0, 1170.0, 1162.0, 1304.0]

In [800]:
# Test your function by returning the top 5, 10, and 20 articles
top_5 = get_top_articles(5)
top_10 = get_top_articles(10)
top_20 = get_top_articles(20)

# Test each of your three lists from above
t.sol_2_test(get_top_articles)

Your top_5 looks like the solution list! Nice job.
Your top_10 looks like the solution list! Nice job.
Your top_20 looks like the solution list! Nice job.

### <a class="anchor" id="User-User">Part III: User-User Based Collaborative Filtering</a>


`1.` Use the function below to reformat the **df** dataframe to be shaped with users as the rows and articles as the columns.  

* Each **user** should only appear in each **row** once.


* Each **article** should only show up in one **column**.  


* **If a user has interacted with an article, then place a 1 where the user-row meets for that article-column**.  It does not matter how many times a user has interacted with the article, all entries where a user has interacted with an article should be a 1.  


* **If a user has not interacted with an item, then place a zero where the user-row meets for that article-column**. 

Use the tests to make sure the basic structure of your matrix matches what is expected by the solution.

In [532]:
# create the user-article matrix with 1's and 0's

def create_user_item_matrix(df):
    '''
    INPUT:
    df - pandas dataframe with article_id, title, user_id columns
    
    OUTPUT:
    user_item - user item matrix 
    
    Description:
    Return a matrix with user ids as rows and article ids on the columns with 1 values where a user interacted with 
    an article and a 0 otherwise
    '''
    # Fill in the function here
    df['title'] = 1
    df = df[['user_id', 'article_id', 'title']]
    
    user_item = pd.pivot_table(df, index='user_id', columns='article_id', values='title', fill_value=0)
    
    return user_item # return the user_item matrix 

user_item = create_user_item_matrix(df)

In [533]:
user_item

article_id,0.0,2.0,4.0,8.0,9.0,12.0,14.0,15.0,16.0,18.0,...,1434.0,1435.0,1436.0,1437.0,1439.0,1440.0,1441.0,1442.0,1443.0,1444.0
user_id,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5145,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5146,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5147,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5148,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5149,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [534]:
## Tests: You should just need to run this cell.  Don't change the code.
assert user_item.shape[0] == 5149, "Oops!  The number of users in the user-article matrix doesn't look right."
assert user_item.shape[1] == 714, "Oops!  The number of articles in the user-article matrix doesn't look right."
assert user_item.sum(axis=1)[1] == 36, "Oops!  The number of articles seen by user 1 doesn't look right."
print("You have passed our quick tests!  Please proceed!")

You have passed our quick tests!  Please proceed!

2. Complete the function below which should take a user_id and provide an ordered list of the most similar users to that user (from most similar to least similar). The returned result should not contain the provided user_id, as we know that each user is similar to him/herself. Because the results for each user here are binary, it (perhaps) makes sense to compute similarity as the dot product of two users.

Use the tests to test your function.

In [873]:
import time

In [697]:
# experiment with pandas inbuilt corr

user_item.loc[(1,2), :].transpose().corr()

user_id         1         2
user_id
1        1.000000  0.119027
2        0.119027  1.000000

2. Complete the function below which should take a user_id and provide an ordered list of the most similar users to that user (from most similar to least similar). The returned result should not contain the provided user_id, as we know that each user is similar to him/herself. **Because the results for each user here are binary, it (perhaps) makes sense to compute similarity as the dot product of two users.**

Use the tests to test your function.

In [1001]:
def find_similar_users(user_id, user_item=user_item):
    '''
    INPUT:
    user_id - (int) a user_id
    user_item - (pandas dataframe) matrix of users by articles: 
                1's when a user has interacted with an article, 0 otherwise
    
    OUTPUT:
    similar_users - (list) an ordered list where the closest users (largest dot product users)
                    are listed first
    
    Description:
    Computes the similarity of every pair of users based on the dot product
    Returns an ordered
    
    '''
    
    user_ids_all = user_item.index
    
    # a dictionary holds [user id : similarity] value pairs
    dot_product_dict = {}

    # compute similarity of each user to the provided user
    for i in user_ids_all:
        dot_product = np.dot(user_item.loc[user_id:user_id,:], user_item.loc[i:i,:].transpose())
        dot_product_dict[i] = dot_product[0][0]
        
    # sort by highest (most similar), also drop against self    
    ds = pd.Series(dot_product_dict.values(), index=dot_product_dict.keys()).drop(index=user_id).sort_values(ascending=False)
    
    # extract only index as list of ids. 
    most_similar_users = list(ds.index)
       
    return most_similar_users # return a list of the users in order from most to least similar

In [1004]:
# Do a spot check of your function
print("The 10 most similar users to user 1 are: {}".format(find_similar_users(1)[:10]))
print("The 5 most similar users to user 3933 are: {}".format(find_similar_users(3933)[:5]))
print("The 3 most similar users to user 46 are: {}".format(find_similar_users(46)[:3]))

The 10 most similar users to user 1 are: [3933, 23, 3782, 203, 4459, 3870, 131, 46, 4201, 395]
The 5 most similar users to user 3933 are: [1, 23, 3782, 4459, 203]
The 3 most similar users to user 46 are: [4201, 23, 3782]

`3.` Now that you have a function that provides the most similar users to each user, you will want to use these users to find articles you can recommend.  Complete the functions below to return the articles you would recommend to each user.

In [1053]:
def get_article_names(article_ids, df=df):
    '''
    INPUT:
    article_ids - (list) a list of article ids
    df - (pandas dataframe) df as defined at the top of the notebook
    
    OUTPUT:
    article_names - (list) a list of article names associated with the list of article ids 
                    (this is identified by the title column)
    '''
    # Your code here
    
    article_names = []
    
    for id in article_ids:

        name = df[df.article_id == id].title.head(1).values[0]

        article_names.append(name)
    
    return article_names # Return the article names associated with list of article ids


a_ids = [1430.0, 1314.0, 1276.0, 233.0]
get_article_names(a_ids)

['using pixiedust for fast, flexible, and easier data analysis and experimentation',
 'healthcare python streaming application demo',
 'deploy your python model as a restful api',
 'bayesian nonparametric models – stats and bots']

In [1056]:
def get_user_articles(user_id, user_item=user_item):
    '''
    INPUT:
    user_id - (int) a user id
    user_item - (pandas dataframe) matrix of users by articles: 
                1's when a user has interacted with an article, 0 otherwise
    
    OUTPUT:
    article_ids - (list) a list of the article ids seen by the user
    article_names - (list) a list of article names associated with the list of article ids 
                    (this is identified by the doc_full_name column in df_content)
    
    Description:
    Provides a list of the article_ids and article titles that have been seen by a user
    '''
    # Your code here
    
    
    article_ids = list(user_item.loc[user_id][user_item.loc[user_id] > 0].index)
    article_names = get_article_names(article_ids)
    
    return article_ids, article_names # return the ids and names


get_user_articles(2)

([1024.0, 1176.0, 1305.0, 1314.0, 1422.0, 1427.0],
 ['using deep learning to reconstruct high-resolution audio',
  'build a python app on the streaming analytics service',
  'gosales transactions for naive bayes model',
  'healthcare python streaming application demo',
  'use r dataframes & ibm watson natural language understanding',
  'use xgboost, scikit-learn & ibm watson machine learning apis'])

In [1185]:
def user_user_recs(user_id, m=10):
    '''
    INPUT:
    user_id - (int) a user id
    m - (int) the number of recommendations you want for the user
    
    OUTPUT:
    recs - (list) a list of recommendations for the user
    
    Description:
    Loops through the users based on closeness to the input user_id
    For each user - finds articles the user hasn't seen before and provides them as recs
    Does this until m recommendations are found
    
    Notes:
    Users who are the same closeness are chosen arbitrarily as the 'next' user
    
    For the user where the number of recommended articles starts below m 
    and ends exceeding m, the last items are chosen arbitrarily
    
    '''
    # Your code here
    
    
    # get all similar user ids for the targeted user
    similar_uids = find_similar_users(user_id)


    # get all article ids of the targeted user
    article_ids_target_user = get_user_articles(user_id)[0]
    # print(f"[article_ids_target_user]:\n {article_ids_target_user} \n")

    
    # a list contain unseen articles to recommend
    recs = []

    for uid in similar_uids:

        # print(f"\n\n\n[number of recs]: {len(recs)}\n")
        if len(recs) == m:
            # print(f"Number of recs reaches threadhold. Enough. Stop")
            break


        #print(f"[similar user id]: {uid}")

        # get this uid's article ids, and arbitrarily shuffle
        article_ids_similar_user = get_user_articles(uid)[0]

        # compute the differences of articles seen between the this user and targeted user
        # subtraction's order matters
        set_diff = list(set(article_ids_similar_user) - set(article_ids_target_user))
        # print(f"[set_diff]:\n {set_diff} \n")
        
        # make a shuffle for arbitraily chocies from the diff set
        random.shuffle(set_diff)

        # add the differences of article ids to recs [], append only unique (no duplicate)
        for i in set_diff:
            if i not in recs and len(recs) < m:
                recs.append(i)
                # print(f"[id] {i} appended")

    return recs # return your recommendations for this user_id

In [1146]:
# Check Results
get_article_names(user_user_recs(1, 10)) # Return 10 recommendations for user 1

['data tidying in data science experience',
 'this week in data science (april 18, 2017)',
 'shaping data with ibm data refinery',
 'data science platforms are on the rise and ibm is leading the way',
 'timeseries data analysis of iot events by using jupyter notebook',
 'got zip code data? prep it for analytics. – ibm watson data lab – medium',
 'higher-order logistic regression for large datasets',
 'using machine learning to predict parking difficulty',
 'a tensorflow regression model to predict house values',
 'deep forest: towards an alternative to deep neural networks']

In [1168]:
# BUT THE ANSWER WANT ARTICLE IDS TO BE STRING RATHER THAN NUMBER. However according to dataset, 
# they are all float. In the case, I just use its default astype for argument. 

df.article_id.dtype

dtype('float64')

In [1163]:
# Test your functions here
assert set(get_article_names([1024.0, 1176.0, 1305.0, 1314.0, 1422.0, 1427.0])) == set(['using deep learning to reconstruct high-resolution audio', 'build a python app on the streaming analytics service', 'gosales transactions for naive bayes model', 'healthcare python streaming application demo', 'use r dataframes & ibm watson natural language understanding', 'use xgboost, scikit-learn & ibm watson machine learning apis']), "Oops! Your the get_article_names function doesn't work quite how we expect."
assert set(get_article_names([1320.0, 232.0, 844.0])) == set(['housing (2015): united states demographic measures','self-service data preparation with ibm data refinery','use the cloudant-spark connector in python notebook']), "Oops! Your the get_article_names function doesn't work quite how we expect."
assert set(get_user_articles(20)[0]) == set([1320.0, 232.0, 844.0])
assert set(get_user_articles(20)[1]) == set(['housing (2015): united states demographic measures', 'self-service data preparation with ibm data refinery','use the cloudant-spark connector in python notebook'])
assert set(get_user_articles(2)[0]) == set([1024.0, 1176.0, 1305.0, 1314.0, 1422.0, 1427.0])
assert set(get_user_articles(2)[1]) == set(['using deep learning to reconstruct high-resolution audio', 'build a python app on the streaming analytics service', 'gosales transactions for naive bayes model', 'healthcare python streaming application demo', 'use r dataframes & ibm watson natural language understanding', 'use xgboost, scikit-learn & ibm watson machine learning apis'])
print("If this is all you see, you passed all of our tests!  Nice job!")

If this is all you see, you passed all of our tests!  Nice job!

`4.` Now we are going to improve the consistency of the **user_user_recs** function from above.  

* Instead of arbitrarily choosing when we obtain users who are all the same closeness to a given user - choose the users that have the most total article interactions before choosing those with fewer article interactions.


* Instead of arbitrarily choosing articles from the user where the number of recommended articles starts below m and ends exceeding m, choose articles with the articles with the most total interactions before choosing those with fewer total interactions. This ranking should be  what would be obtained from the **top_articles** function you wrote earlier.

In [1256]:
def get_top_sorted_users(user_id, df=df, user_item=user_item):
    '''
    INPUT:
    user_id - (int)
    df - (pandas dataframe) df as defined at the top of the notebook 
    user_item - (pandas dataframe) matrix of users by articles: 
            1's when a user has interacted with an article, 0 otherwise
    
            
    OUTPUT:
    neighbors_df - (pandas dataframe) a dataframe with:
                    neighbor_id - is a neighbor user_id
                    similarity - measure of the similarity of each user to the provided user_id
                    num_interactions - the number of articles viewed by the user - if a u
                    
    Other Details - sort the neighbors_df by the similarity and then by number of interactions where 
                    highest of each is higher in the dataframe
     
    '''
    # Your code here
    
    # get all neighbors ids
    nbh_ids = find_similar_users(user_id)
    
    
    # assemble a data matrix
    data_matrix = np.array([
    [
        x, # neighbor id
        np.dot(user_item.loc[user_id:user_id,:], user_item.loc[x:x,:].transpose())[0][0], # similarity score
        df[df.user_id == x].shape[0] # number of content interaction
    ] for x in nbh_ids])
    
    # make a dataframe
    neighbors_df = pd.DataFrame(data=data_matrix, 
                                columns=['neighbor_id', 'similarity', 'num_interactions'], 
                                index=data_matrix[:,0]).sort_values(by=['similarity', 'num_interactions'],
                                                                    ascending=[False, False])
    
    
    
    return neighbors_df # Return the dataframe specified in the doc_string

In [1309]:
def user_user_recs_part2(user_id, m=10):
    '''
    INPUT:
    user_id - (int) a user id
    m - (int) the number of recommendations you want for the user
    
    OUTPUT:
    recs - (list) a list of recommendations for the user by article id
    rec_names - (list) a list of recommendations for the user by article title
    
    Description:
    Loops through the users based on closeness to the input user_id
    For each user - finds articles the user hasn't seen before and provides them as recs
    Does this until m recommendations are found
    
    Notes:
    * Choose the users that have the most total article interactions 
    before choosing those with fewer article interactions.

    * Choose articles with the articles with the most total interactions 
    before choosing those with fewer total interactions. 
   
    '''
    # Your code here
    
    
    # get all similar user ids for the targeted user
    # fetch with the 'neighbors_df'
    similar_uids = list(get_top_sorted_users(user_id).index)
    #print(f"[similar_uids]: \n{similar_uids}")


    # get all article ids of the targeted user
    article_ids_target_user = get_user_articles(user_id)[0]
    # print(f"[article_ids_target_user]:\n {article_ids_target_user} \n")

    
    # a list contain unseen articles to recommend
    recs = []

    for uid in similar_uids:

        # print(f"\n\n\n[number of recs]: {len(recs)}\n")
        if len(recs) == m:
            #print(f"Number of recs reaches threadhold {m}. Enough. Stop")
            break


        #print(f"[similar user id]: {uid}")

        # get this uid's article ids, and arbitrarily shuffle
        article_ids_similar_user = get_user_articles(uid)[0]

        # compute the differences of articles seen between the this user and targeted user
        # subtraction's order matters
        set_diff = list(set(article_ids_similar_user) - set(article_ids_target_user))
        #print(f"[set_diff before sort]:\n {set_diff} \n")
        
        # Sort the set. Determine with highest total interactions metric 
        set_diff = list(df[df.article_id.isin(set_diff)]['article_id'].value_counts().index)
        #print(f"[set_diff after sort]:\n {set_diff} \n")

        # add the differences of article ids to recs [], append only unique (no duplicate)
        for i in set_diff:
            if i not in recs and len(recs) < m:
                recs.append(i)
                #print(f"[id] {i} appended")
    
    
    
    
    rec_names = get_article_names(recs)
    
    return recs, rec_names

In [1311]:
# Quick spot check - don't change this code - just use it to test your functions
rec_ids, rec_names = user_user_recs_part2(20, 10)
print("The top 10 recommendations for user 20 are the following article ids:")
print(rec_ids)
print()
print("The top 10 recommendations for user 20 are the following article names:")
print(rec_names)

The top 10 recommendations for user 20 are the following article ids:
[1330.0, 1427.0, 1364.0, 1170.0, 1162.0, 1304.0, 1351.0, 1160.0, 1354.0, 1368.0]

The top 10 recommendations for user 20 are the following article names:
['insights from new york car accident reports', 'use xgboost, scikit-learn & ibm watson machine learning apis', 'predicting churn with the spss random tree algorithm', 'apache spark lab, part 1: basic concepts', 'analyze energy consumption in buildings', 'gosales transactions for logistic regression model', 'model bike sharing data with spss', 'analyze accident reports on amazon emr spark', 'movie recommender system with spark machine learning', 'putting a human face on machine learning']

`5.` Use your functions from above to correctly fill in the solutions to the dictionary below.  Then test your dictionary against the solution.  Provide the code you need to answer each following the comments below.

In [1312]:
get_top_sorted_users(1).head(1)

      neighbor_id  similarity  num_interactions
3933         3933          35                45

In [1316]:
get_top_sorted_users(131).head(10)

      neighbor_id  similarity  num_interactions
3870         3870          74               144
3782         3782          39               363
23             23          38               364
203           203          33               160
4459         4459          33               158
98             98          29               170
3764         3764          29               169
49             49          29               147
3697         3697          29               145
242           242          25               148

In [1317]:
### Tests with a dictionary of results

user1_most_sim = 3933 # Find the user that is most similar to user 1 
user131_10th_sim = 242 # Find the 10th most similar user to user 131

In [1318]:
## Dictionary Test Here
sol_5_dict = {
    'The user that is most similar to user 1.': user1_most_sim, 
    'The user that is the 10th most similar to user 131': user131_10th_sim,
}

t.sol_5_test(sol_5_dict)

This all looks good!  Nice job!

6. If we were given a new user, which of the above functions would you be able to use to make recommendations? Explain. Can you think of a better way we might make recommendations? Use the cell below to explain a better method for new users.

A: For new user, code start problem, we can use knowledge base approach, pulling most-interacted (viewed) content and/or trending content. Since the dataset has no timestamp attribute, we might just pull most-interacted content.

7. Using your existing functions, provide the top 10 recommended articles you would provide for the a new user below. You can test your function against our thoughts to make sure we are all on the same page with how we might make a recommendation.

In [1321]:
new_user = 0.0

# What would your recommendations be for this new user '0.0'?  As a new user, they have no observed articles.
# Provide a list of the top 10 article ids you would give to 


new_user_recs = get_top_article_ids(10, df) # Your recommendations here

new_user_recs

[1429.0,
 1330.0,
 1431.0,
 1427.0,
 1364.0,
 1314.0,
 1293.0,
 1170.0,
 1162.0,
 1304.0]

In [1322]:
assert set(new_user_recs) == set([1314.0,1429.0,1293.0,1427.0,1162.0,1364.0,1304.0,1170.0,1431.0,1330.0]), "Oops!  It makes sense that in this case we would want to recommend the most popular articles, because we don't know anything about these users."

print("That's right!  Nice job!")

That's right!  Nice job!

### <a class="anchor" id="Content-Recs">Part IV: Content Based Recommendations (EXTRA - NOT REQUIRED)</a>

Another method we might use to make recommendations is to perform a ranking of the highest ranked articles associated with some term.  You might consider content to be the **doc_body**, **doc_description**, or **doc_full_name**.  There isn't one way to create a content based recommendation, especially considering that each of these columns hold content related information.  

`1.` Use the function body below to create a content based recommender.  Since there isn't one right answer for this recommendation tactic, no test functions are provided.  Feel free to change the function inputs if you decide you want to try a method that requires more input values.  The input values are currently set with one idea in mind that you may use to make content based recommendations.  One additional idea is that you might want to choose the most popular recommendations that meet your 'content criteria', but again, there is a lot of flexibility in how you might make these recommendations.

### This part is NOT REQUIRED to pass this project.  However, you may choose to take this on as an extra way to show off your skills.

In [1446]:
import re
import nltk
from nltk.corpus import stopwords
from nltk.stem.wordnet import WordNetLemmatizer
from nltk.tokenize import word_tokenize
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package punkt to /Users/apple/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /Users/apple/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /Users/apple/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /Users/apple/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

https://github.com/gilzero/project_disaster_responses/blob/main/train_classifier.py

https://towardsdatascience.com/the-best-document-similarity-algorithm-in-2020-a-beginners-guide-a01b9ef8cf05

In [1358]:
# constants and reusable objects
url_regex = 'http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+'
stop_words = stopwords.words("english")
lemmatizer = WordNetLemmatizer()

In [2060]:
df_nlp = df_content.copy()
df_nlp.head(60)

,doc_body,doc_description,doc_full_name,doc_status,article_id
0,Skip navigation Sign in SearchLoading...\r\n\r...,Detect bad readings in real time using Python ...,Detect Malfunctioning IoT Sensors with Streami...,Live,0
1,No Free Hunch Navigation * kaggle.com\r\n\r\n ...,"See the forest, see the trees. Here lies the c...",Communicating data science: A guide to present...,Live,1
2,☰ * Login\r\n * Sign Up\r\n\r\n * Learning Pat...,Here’s this week’s news in Data Science and Bi...,"This Week in Data Science (April 18, 2017)",Live,2
3,"DATALAYER: HIGH THROUGHPUT, LOW LATENCY AT SCA...",Learn how distributed DBs solve the problem of...,DataLayer Conference: Boost the performance of...,Live,3
4,Skip navigation Sign in SearchLoading...\r\n\r...,This video demonstrates the power of IBM DataS...,Analyze NY Restaurant data using Spark in DSX,Live,4
5,Compose is all about immediacy. You want a new...,Using Compose's PostgreSQL data browser.,Browsing PostgreSQL Data with Compose,Live,5
6,UPGRADING YOUR POSTGRESQL TO 9.5Share on Twitt...,Upgrading your PostgreSQL deployment to versio...,Upgrading your PostgreSQL to 9.5,Live,6
7,Follow Sign in / Sign up 135 8 * Share\r\n * 1...,For a company like Slack that strives to be as...,Data Wrangling at Slack,Live,7
8,* Host\r\n * Competitions\r\n * Datasets\r\n *...,Kaggle is your home for data science. Learn ne...,Data Science Bowl 2017,Live,8
9,THE GRADIENT FLOW\r\nDATA / TECHNOLOGY / CULTU...,[A version of this post appears on the O’Reill...,Using Apache Spark to predict attack vectors a...,Live,9
10,OFFLINE-FIRST IOS APPS WITH SWIFT & PART 1: TH...,"Apple's sample app, Food Tracker, taught you i...",Offline-First iOS Apps with Swift & Cloudant S...,Live,10
11,Warehousing data from Cloudant to dashDB great...,Replicating data to a relational dashDB databa...,Warehousing GeoJSON documents,Live,11
12,Skip to main content IBM developerWorks / Deve...,This recipe showcases how one can analyze the ...,Timeseries Data Analysis of IoT events by usin...,Live,12
13,Maureen McElaney Blocked Unblock Follow Follow...,There’s a reason you’ve been hearing a lot abo...,Bridging the Gap Between Python and Scala Jupy...,Live,13
14,Raj Singh Blocked Unblock Follow Following Dev...,Who are those people lurking behind the statis...,Got zip code data? Prep it for analytics. – IB...,Live,14
15,* Home\r\n * Community\r\n * Projects\r\n * Bl...,Early methods to integrate machine learning us...,Apache Spark™ 2.0: Extend Structured Streaming...,Live,15
16,* Home\r\n * Research\r\n * Partnerships and C...,The performance of supervised predictive model...,Higher-order Logistic Regression for Large Dat...,Live,16
17,Enterprise Pricing Articles Sign in Free 30-Da...,We've always considered MySQL as a potential C...,Compose for MySQL now for you,Live,17
18,Homepage Follow Sign in / Sign up * Home\r\n *...,It has never been easier to build AI or machin...,The Greatest Public Datasets for AI – Startup ...,Live,18
19,METRICS MAVEN: MODE D'EMPLOI - FINDING THE MOD...,"In our Metrics Maven series, Compose's data sc...",Finding the Mode in PostgreSQL,Live,19
20,Homepage Follow Sign in / Sign up Homepage * H...,It is often useful to use RStudio for one piec...,Working interactively with RStudio and noteboo...,Live,20
21,Raj Singh Blocked Unblock Follow Following Dev...,You’re doing your data a disservice if you don...,Mapping for Data Science with PixieDust and Ma...,Live,21
22,IMPORTING JSON DOCUMENTS WITH NOSQLIMPORT\r\nG...,"Introducing nosqlimport, an npm module to help...",Move CSVs into different JSON doc stores,Live,22
23,This video shows you how to build and query a ...,This video shows you how to build and query a ...,Tutorial: How to build and query a Cloudant ge...,Live,23
24,THE CONVERSATIONAL INTERFACE IS THE NEW PARADI...,Botkit provides a simple framework to handle t...,The Conversational Interface is the New Paradigm,Live,24
25,Skip navigation Upload Sign in SearchLoading.....,Want to learn more about how we created the Da...,Creating the Data Science Experience,Live,25
26,GOOGLE RESEARCH BLOG The latest news from Rese...,Much of driving is spent either stuck in traff...,Using Machine Learning to predict parking diff...,Live,26
27,Skip navigation Upload Sign in SearchLoading.....,This talk assumes you have a basic understandi...,Getting The Best Performance With PySpark,Live,27
28,"ACCESS DENIED\r\nSadly, your client does not s...","In this paper, we propose gcForest, a decision...",Deep Forest: Towards An Alternative to Deep Ne...,Live,28
29,Homepage Follow Sign in / Sign up Homepage * H...,I’m very happy and proud to announce that IBM ...,Experience IoT with Coursera,Live,29
30,"KDNUGGETS\r\nData Mining, Analytics, Big Data,...",An open API is available on the internet for f...,How open API economy accelerates the growth of...,Live,30
31,Skip navigation Sign in SearchLoading...\r\n\r...,This video shows you how to sign up for a free...,Sign up for a free trial in DSX,Live,31
32,No Free Hunch Navigation * kaggle.com\r\n\r\n ...,Stacking is a model ensembling technique used ...,A Kaggler's Guide to Model Stacking in Practice,Live,32
33,Working Vis * \r\n * \r\n\r\n * Home\r\n * Abo...,Analytics and visualization often go hand-in-h...,Using Brunel in IPython/Jupyter Notebooks,Live,33
34,Homepage Follow Sign in / Sign up Steve Moore ...,Machine learning has already extended into so ...,Top 10 Machine Learning Use Cases: Part 1,Live,34
35,Nick Kasten Blocked Unblock Follow Following C...,"In this article, I’ll describe an app I built ...",Gaze Into My Reddit Crystal Ball – IBM Watson ...,Live,35
36,Jump to navigation\r\n\r\n * Twitter\r\n * Lin...,Here’s a quick and handy guide to creating dat...,Data visualization playbook: The right level o...,Live,36
37,Homepage IBM Watson Data Lab Follow Sign in / ...,When you customise your Cloudant domain with C...,Create a Custom Domain for Cloudant Using Clou...,Live,37
38,The primary index is the fastest way to retrie...,A guide to using Cloudant's _all_docs endpoint...,For Developers: Querying the Cloudant Primary ...,Live,38
39,* R Views\r\n * About this Blog\r\n * Contribu...,Our app will be simple in that it displays pri...,Pulling and Displaying ETF Data,Live,39
40,Stats and Bots Follow Sign in / Sign up * Home...,Ensemble learning helps improve machine learni...,Ensemble Learning to Improve Machine Learning ...,Live,40
41,TL;DR: It's easy to customise the Mongo shell'...,It's easy to customize the Mongo shell's promp...,Customizing MongoDB’s Shell with Compact Prompts,Live,41
42,GETTING STARTED WITH COMPOSE'S SCYLLADB\r\nSha...,Getting started with ScyllaDB is easy since it...,Getting Started with Compose's ScyllaDB,Live,42
43,☰ * Login\r\n * Sign Up\r\n\r\n * Learning Pat...,This free Deep Learning with TensorFlow course...,Deep Learning With Tensorflow Course by Big Da...,Live,43
44,Skip to main content IBM developerWorks / Deve...,Learn how to use IBM Bluemix and the Simple Da...,Uncover Product Insights Hidden in Stack Overflow,Live,44
45,Build a custom library for Apache® Spark™ and ...,Build a custom library for Apache® Spark™ and ...,Start Developing with Spark and Notebooks,Live,45
46,REAL-TIME Q&A APP WITH RETHINKDB\r\nMatt Colli...,RethinkDB's push updates makes it great for re...,Q&A Voting App with RethinkDB,Live,46
47,Skip to main content IBM developerWorks / Deve...,Watch how to download and install Database Con...,Install IBM Database Conversion Workbench,Live,47
48,Data Science Experience Datasci X * Data Scien...,Learn to use IBM Data Science Experience.,Data Science Experience Documentation,Live,48
49,Compose The Compose logo Articles Sign in Free...,We'll also look at using PostGIS to filter our...,GeoFile: Using OpenStreetMap Data in Compose P...,Live,49
50,Follow Sign in / Sign up Home About Insight Da...,Community Detection at Scale,Graph-based machine learning,Live,50
51,* Free 7-Day Crash Course\r\n * Blog\r\n * Mas...,Get to know the ML landscape through this prac...,Modern Machine Learning Algorithms,Live,51
52,* United States\r\n\r\nIBM® * Site map\r\n\r\n...,Watch how to build a storefront web app with I...,Build an app using IBM Graph,Live,52
53,Homepage Follow Sign in Get started Homepage *...,"Starting today, users will be able to access S...",Introducing Streams Designer,Live,53
54,Jump to navigation\r\n\r\n * Twitter\r\n * Lin...,Discover eight ways that Apache Spark’s machin...,8 ways to turn data into value with Apache Spa...,Live,54
55,"PREDICT FLIGHT DELAYS WITH APACHE SPARK MLLIB,...",Build a Machine Learning model with Apache Spa...,"Predict Flight Delays with Apache Spark MLLib,...",Live,55
56,INTRODUCING THE SIMPLE AUTOCOMPLETE SERVICE\r\...,Easily add autocomplete to your web form field...,Introducing the Simple Autocomplete Service,Live,56
57,WILL WOLF\r\nDATA SCIENCE THINGS AND THOUGHTS ...,"In this work, we explore improving a vanilla r...",Transfer Learning for Flight Delay Prediction ...,Live,57
58,Skip navigation Upload Sign in SearchLoading.....,"01. Holden Karau, IBM, Visits #theCUBE!. (00:2...",Advancements in the Spark Community,Live,58
59,Homepage PUBLISHED IN AUTONOMOUS AGENTS — #AI ...,Let’s say you have the gift of flight (or you ...,How to tame the valley — Hessian-free hacks fo...,Live,59

In [1431]:
def tokenize(text):
    '''
    private tokenizer to transform each text.
    As a NLP helper function including following tasks:
    - Replace URLs
    - Normalize text
    - Remove punctuation
    - Tokenize words
    - Remove stop words
    - Legmmatize words
    :param text: A message text.
    :return: cleaned tokens extracted from original message text.
    '''

    # print(f"original text: \n {text}")

    # replace urls
    detected_urls = re.findall(url_regex, text)
    for url in detected_urls:
        text = text.replace(url, "urlplaceholder")

    # normalize case and remove punctuation
    text = re.sub(r"[^a-zA-Z0-9]", " ", text.lower())

    # tokenize text
    tokens = word_tokenize(text)

    # lemmatize andremove stop words
    tokens = [lemmatizer.lemmatize(word).strip() for word in tokens if word not in stop_words]

    # in case after normalize/lemmatize, if there is no words, make a dummy element. otherwise StartingVerb breaks
    if len(tokens) < 1:
        tokens = ['none']

    # print(f"tokens: \n {tokens} \n\n")
    return tokens

In [1396]:
# Test tokenized result. 

df_nlp.iloc[0].doc_body

token_doc = tokenize(df_nlp.iloc[0].doc_body)

token_doc

'skip navigation sign searchloading close yeah keep undo closethis video unavailable watch queue queue watch queue queue remove disconnect next video starting stop 1 loading watch queue queue count total find closedemo detect malfunctioning iot sensor streaming analytics ibm analyticsloading unsubscribe ibm analytics cancel unsubscribeworking subscribe subscribed unsubscribe 26kloading loading working add towant watch later sign add video playlist sign share reportneed report video sign report inappropriate content sign transcript statistic add translation 175 view 6like video sign make opinion count sign 7 0don like video sign make opinion count sign 1loading loading transcript interactive transcript could loaded loading loading rating available video rented feature available right please try later published nov 6 2017this video demonstrates streaming analytics application written python running ibm data science experience result analysis displayed map using plotly notebook demonstrated video available try urlplaceholder visit streamsdev article tip stream urlplaceholder python api developer guide urlplaceholder streaming analytics python course urlplaceholder category science technology license standard youtube license show show lessloading autoplay autoplay enabled suggested video automatically play next next python ecosystem data science guided tour christian staudt duration 25 41 pydata 1 411 view 25 41 ibm streaming analytics python duration 1 00 51 john neill 105 view 1 00 51 customer using ibm data science experience expected case expected one duration 18 29 databricks 327 view 18 29 giovanni lanzani applied data science duration 35 14 pydata 2 728 view 35 14 detecting fraud real time azure stream analytics duration 32 16 philip howard 71 view 32 16 step step guide build real time anomaly detection system using apache spark streaming duration 16 11 mariusz jacyno 4 591 view 16 11 real time analytics azure stream analytics duration 54 47 pas business analytics virtual group 940 view 54 47 real time machine learning analytics using structured streaming kinesis firehose duration 31 25 databricks 660 view 31 25 data science duration 25 05 manish telang 3 view 25 05 real time log analytics using amazon kinesis amazon elasticsearch service duration 28 32 amazon web service webinar channel 1 072 view 28 32 ibm data science experience machine learning use case healthcare duration 26 53 idea 157 view 26 53 streaming analytics comparison open source framework product cloud service duration 47 06 kai w hner 1 761 view 47 06 overview ibm streaming analytics bluemix duration 44 12 ibm analytics 1 311 view 44 12 predicting stock price learn python data science 4 duration 7 39 siraj raval 274 452 view 7 39 rest api concept example duration 8 53 webconcepts 1 687 034 view 8 53 streaming data analytics apache spark streaming duration 1 01 19 data guru 300 view 1 01 19 orchestrate ibm data science experience analytics workflow using node red duration 10 16 balaji kadambi 109 view 10 16 delight client data science ibm integrated analytics system duration 15 05 ibm analytics 1 581 view 15 05 devops simple english duration 7 07 rackspace 657 396 view 7 07 introduction learn python data science 1 duration 6 55 siraj raval 206 552 view 6 55 loading suggestion show language english location united state restricted mode history helploading loading loading press copyright creator advertise developer youtube term privacy policy safety send feedback test new feature loading working sign add watch lateradd loading playlist'

In [2061]:
# Found index and article id mismatched. Update index with article to make it consistant

df_nlp.index = df_nlp.article_id

In [2062]:
# Cleaning Data. For empty content in body
# There are some rows' doc_body value is NaN
df_nlp.doc_body.isnull()

article_id
0       False
1       False
2       False
3       False
4       False
        ...
1046    False
1047    False
1048    False
1049     True
1050    False
Name: doc_body, Length: 1051, dtype: bool

In [2063]:
# Update the empty body with 'empty' placeholder
df_nlp.loc[df_nlp[df_nlp.doc_body.isnull()].index, 'doc_body'] = 'empty'

In [2064]:
# Update the empty desc with 'empty' placeholder
# There are some rows' doc_description value is NaN

df_nlp.loc[df_nlp[df_nlp.doc_description.isnull()].index, 'doc_description'] = 'empty'

In [1566]:
def _compute_article_body_similarity(article_id_1, article_id_2):
    # Compute the consine similarity based on tfidf of body content
    

    doc_a = ' '.join(tokenize(df_nlp.loc[article_id_1].doc_body))
    doc_b = ' '.join(tokenize(df_nlp.loc[article_id_2].doc_body))
    
    

    # combine to a list of documents
    documents = [doc_a, doc_b]

    
    # instanciate a scikitlearn tfidf vecorizer
    vectorizer = TfidfVectorizer()

    # fit transform to get a sparse matrix
    matrix = vectorizer.fit_transform(documents)


    # # UnComment out belows to examing details (term features, tfidf values)
    # ====================================
    # term_features =  vectorizer.get_feature_names_out()

    # # convert to readable array 
    # matrix_array = matrix.toarray()

    # # assemble to a dataframe for explor 
    # tfidf_dataframe = pd.DataFrame(data=matrix_array, columns=term_features)
    # ====================================


    return cosine_similarity(matrix[:1], matrix[1:])[0][0]

In [1567]:
def _compute_article_title_similarity(article_id_1, article_id_2):
    # Compute the consine similarity based on tfidf of title (doc_full_name)
    # think of title tag for seo pagerank
    

    doc_a = ' '.join(tokenize(df_nlp.loc[article_id_1].doc_full_name))
    doc_b = ' '.join(tokenize(df_nlp.loc[article_id_2].doc_full_name))
    
    

    # combine to a list of documents
    documents = [doc_a, doc_b]

    
    # instanciate a scikitlearn tfidf vecorizer
    vectorizer = TfidfVectorizer()

    # fit transform to get a sparse matrix
    matrix = vectorizer.fit_transform(documents)


    # # UnComment out belows to examing details (term features, tfidf values)
    # ====================================
    # term_features =  vectorizer.get_feature_names_out()

    # # convert to readable array 
    # matrix_array = matrix.toarray()

    # # assemble to a dataframe for explor 
    # tfidf_dataframe = pd.DataFrame(data=matrix_array, columns=term_features)
    # ====================================


    return cosine_similarity(matrix[:1], matrix[1:])[0][0]

In [1568]:
def _compute_article_desc_similarity(article_id_1, article_id_2):
    # Compute the consine similarity based on tfidf of desc content (doc_description)
    # think of desc tag for seo pagerank
    

    doc_a = ' '.join(tokenize(df_nlp.loc[article_id_1].doc_description))
    doc_b = ' '.join(tokenize(df_nlp.loc[article_id_2].doc_description))
    
    

    # combine to a list of documents
    documents = [doc_a, doc_b]

    
    # instanciate a scikitlearn tfidf vecorizer
    vectorizer = TfidfVectorizer()

    # fit transform to get a sparse matrix
    matrix = vectorizer.fit_transform(documents)


    # # UnComment out belows to examing details (term features, tfidf values)
    # ====================================
    # term_features =  vectorizer.get_feature_names_out()

    # # convert to readable array 
    # matrix_array = matrix.toarray()

    # # assemble to a dataframe for explor 
    # tfidf_dataframe = pd.DataFrame(data=matrix_array, columns=term_features)
    # ====================================


    return cosine_similarity(matrix[:1], matrix[1:])[0][0]

In [1571]:
def compute_article_similarity(article_id_1, article_id_2):
    # calculate similary for body, title, desc, then combine a single value.
    # think about how google weight. Title tag is very heavy. SEO-wised
    # so having 3 consine similarity values, then do a normailized one. 
    # what's the formular? think of a course, assignments weight x, final exam weight y,
    # then what's total grade.
    # https://www.indeed.com/career-advice/career-development/how-to-calculate-weighted-average
    
    similarity_title = _compute_article_title_similarity(article_id_1,article_id_2)
    similarity_body = _compute_article_body_similarity(article_id_1,article_id_2)
    similarity_desc = _compute_article_desc_similarity(article_id_1,article_id_2)
    
    # a weighted sum caluculation for final score
    
    overall = similarity_title * 0.5 + similarity_body * 0.4 + similarity_desc * 0.1
    
    return overall

In [1576]:
compute_article_similarity(55,50)

0.07122043497708203

In [1794]:
# Find similar articles for a given article
def find_similar_articles(article_id, data=df_nlp):
    
    article_ids_all = data.index
    similarity_dict = {}
    
    for i in article_ids_all:
        # print(f"\n[i]: {i}")
        
        if i == article_id:
            continue

        similarity_score = compute_article_similarity(article_id,i)
        similarity_dict[i] = similarity_score
        # print(f"[similarity_score]: {similarity_score}")
    
    
    similarity_ds = pd.Series(data=similarity_dict.values(), 
                           index=similarity_dict.keys()).sort_values(ascending=False).index
    
    return list(similarity_ds)

In [1795]:
# Calculate in real time, it might take some seconds
# (since it loop to all articles against the targeted article)

relavant_articles = find_similar_articles(420)

relavant_articles

[389,
 993,
 949,
 592,
 714,
 117,
 678,
 942,
 231,
 925,
 15,
 463,
 353,
 835,
 907,
 284,
 977,
 600,
 595,
 997,
 239,
 240,
 411,
 45,
 119,
 473,
 375,
 934,
 560,
 264,
 893,
 515,
 54,
 404,
 849,
 815,
 380,
 486,
 632,
 674,
 424,
 443,
 55,
 9,
 647,
 398,
 161,
 707,
 193,
 948,
 844,
 721,
 681,
 223,
 58,
 961,
 403,
 77,
 874,
 1005,
 762,
 96,
 143,
 112,
 1049,
 938,
 121,
 249,
 235,
 4,
 20,
 341,
 689,
 842,
 809,
 489,
 744,
 141,
 1042,
 872,
 941,
 400,
 594,
 624,
 302,
 318,
 342,
 468,
 272,
 760,
 706,
 280,
 643,
 562,
 47,
 27,
 956,
 499,
 469,
 385,
 7,
 84,
 110,
 326,
 241,
 801,
 728,
 228,
 378,
 683,
 198,
 362,
 138,
 147,
 369,
 593,
 154,
 569,
 847,
 104,
 772,
 447,
 787,
 1028,
 226,
 176,
 578,
 936,
 958,
 13,
 65,
 48,
 334,
 267,
 432,
 634,
 146,
 776,
 293,
 828,
 313,
 44,
 720,
 717,
 846,
 97,
 523,
 120,
 869,
 575,
 691,
 800,
 269,
 1021,
 430,
 262,
 351,
 11,
 12,
 651,
 864,
 62,
 644,
 703,
 729,
 136,
 230,
 773,
 856,
 935,
 73,
 444,
 1001,
 87,
 974,
 865,
 736,
 416,
 510,
 245,
 101,
 325,
 476,
 5,
 491,
 1017,
 829,
 672,
 232,
 304,
 1013,
 698,
 807,
 374,
 126,
 306,
 474,
 319,
 631,
 1034,
 183,
 440,
 780,
 682,
 461,
 395,
 710,
 210,
 962,
 410,
 557,
 861,
 78,
 965,
 836,
 1035,
 793,
 712,
 687,
 95,
 103,
 108,
 36,
 251,
 529,
 75,
 363,
 502,
 990,
 966,
 409,
 732,
 617,
 584,
 820,
 448,
 739,
 427,
 859,
 564,
 172,
 191,
 100,
 621,
 213,
 653,
 428,
 663,
 76,
 711,
 725,
 194,
 827,
 604,
 216,
 758,
 441,
 540,
 953,
 192,
 888,
 417,
 521,
 524,
 122,
 1022,
 144,
 583,
 1025,
 29,
 850,
 753,
 517,
 202,
 640,
 766,
 892,
 364,
 1039,
 999,
 217,
 808,
 559,
 708,
 52,
 464,
 344,
 479,
 764,
 733,
 665,
 543,
 134,
 743,
 685,
 25,
 1000,
 556,
 960,
 348,
 106,
 980,
 701,
 260,
 153,
 881,
 668,
 763,
 799,
 113,
 426,
 382,
 288,
 244,
 771,
 21,
 493,
 53,
 855,
 3,
 88,
 534,
 174,
 1043,
 102,
 2,
 988,
 796,
 549,
 221,
 419,
 676,
 459,
 626,
 450,
 740,
 929,
 623,
 694,
 910,
 114,
 335,
 518,
 208,
 139,
 406,
 769,
 123,
 716,
 125,
 964,
 177,
 49,
 806,
 973,
 42,
 298,
 320,
 933,
 636,
 512,
 446,
 646,
 212,
 972,
 975,
 184,
 915,
 688,
 775,
 456,
 56,
 278,
 115,
 211,
 203,
 111,
 669,
 567,
 14,
 453,
 897,
 22,
 601,
 848,
 902,
 1019,
 274,
 995,
 950,
 625,
 791,
 250,
 969,
 883,
 655,
 768,
 66,
 957,
 778,
 797,
 613,
 246,
 323,
 531,
 186,
 418,
 330,
 10,
 587,
 148,
 1033,
 1037,
 1026,
 159,
 533,
 501,
 454,
 661,
 98,
 487,
 899,
 642,
 412,
 852,
 151,
 229,
 607,
 281,
 679,
 649,
 8,
 35,
 415,
 72,
 145,
 349,
 421,
 582,
 639,
 436,
 37,
 275,
 373,
 658,
 586,
 985,
 394,
 129,
 350,
 573,
 994,
 285,
 445,
 522,
 504,
 519,
 92,
 305,
 352,
 885,
 581,
 438,
 686,
 383,
 779,
 978,
 816,
 31,
 135,
 439,
 903,
 822,
 552,
 188,
 347,
 452,
 393,
 268,
 149,
 568,
 242,
 550,
 824,
 170,
 505,
 219,
 931,
 690,
 508,
 1041,
 105,
 821,
 329,
 798,
 63,
 940,
 628,
 301,
 741,
 546,
 737,
 197,
 1050,
 390,
 913,
 619,
 930,
 548,
 659,
 675,
 127,
 513,
 858,
 86,
 943,
 719,
 322,
 503,
 908,
 831,
 46,
 805,
 745,
 91,
 425,
 182,
 128,
 782,
 884,
 530,
 317,
 734,
 392,
 490,
 811,
 673,
 71,
 455,
 160,
 277,
 558,
 0,
 810,
 696,
 576,
 413,
 397,
 986,
 162,
 606,
 693,
 866,
 64,
 616,
 1038,
 283,
 38,
 588,
 379,
 509,
 402,
 93,
 654,
 615,
 50,
 263,
 74,
 794,
 596,
 467,
 218,
 882,
 368,
 124,
 1040,
 266,
 705,
 921,
 355,
 166,
 803,
 585,
 371,
 442,
 377,
 920,
 589,
 321,
 912,
 1002,
 1018,
 259,
 247,
 834,
 370,
 252,
 597,
 33,
 214,
 751,
 635,
 492,
 458,
 754,
 328,
 832,
 237,
 257,
 650,
 603,
 630,
 457,
 222,
 327,
 622,
 795,
 551,
 99,
 906,
 360,
 1023,
 339,
 179,
 173,
 670,
 752,
 367,
 536,
 923,
 662,
 372,
 116,
 1,
 199,
 387,
 554,
 475,
 132,
 547,
 384,
 19,
 784,
 1015,
 167,
 431,
 854,
 570,
 695,
 664,
 843,
 555,
 171,
 482,
 612,
 652,
 983,
 895,
 39,
 478,
 528,
 316,
 83,
 757,
 300,
 1045,
 131,
 1029,
 748,
 423,
 175,
 60,
 566,
 157,
 702,
 460,
 954,
 742,
 618,
 919,
 496,
 340,
 853,
 273,
 1030,
 253,
 207,
 168,
 178,
 574,
 968,
 945,
 435,
 833,
 434,
 258,
 433,
 786,
 814,
 361,
 788,
 150,
 867,
 718,
 656,
 946,
 620,
 727,
 488,
 818,
 610,
 516,
 470,
 477,
 255,
 224,
 817,
 887,
 916,
 1020,
 984,
 331,
 1014,
 466,
 580,
 605,
 345,
 1006,
 645,
 591,
 785,
 880,
 254,
 67,
 40,
 967,
 599,
 998,
 781,
 579,
 709,
 391,
 449,
 287,
 43,
 215,
 756,
 366,
 133,
 24,
 878,
 236,
 495,
 225,
 697,
 947,
 271,
 158,
 1003,
 614,
 541,
 437,
 180,
 876,
 89,
 959,
 414,
 918,
 248,
 804,
 289,
 527,
 17,
 109,
 730,
 765,
 671,
 94,
 602,
 917,
 1011,
 937,
 724,
 462,
 971,
 169,
 494,
 873,
 715,
 970,
 34,
 932,
 471,
 851,
 1008,
 726,
 537,
 26,
 890,
 359,
 343,
 525,
 358,
 611,
 922,
 979,
 201,
 877,
 511,
 914,
 429,
 722,
 747,
 51,
 238,
 862,
 196,
 265,
 939,
 870,
 951,
 497,
 838,
 189,
 871,
 571,
 152,
 332,
 904,
 989,
 61,
 381,
 767,
 981,
 826,
 308,
 130,
 205,
 1044,
 608,
 1012,
 812,
 365,
 770,
 388,
 30,
 684,
 307,
 572,
 713,
 282,
 627,
 792,
 987,
 894,
 542,
 830,
 609,
 164,
 845,
 401,
 1046,
 909,
 407,
 1027,
 553,
 405,
 819,
 860,
 590,
 68,
 837,
 1016,
 598,
 16,
 290,
 28,
 790,
 310,
 243,
 735,
 311,
 761,
 276,
 641,
 900,
 336,
 286,
 484,
 209,
 545,
 376,
 996,
 18,
 142,
 875,
 465,
 723,
 982,
 315,
 185,
 155,
 514,
 396,
 955,
 80,
 783,
 991,
 6,
 746,
 911,
 234,
 220,
 952,
 165,
 57,
 738,
 731,
 386,
 755,
 422,
 657,
 506,
 118,
 140,
 928,
 565,
 314,
 200,
 648,
 324,
 749,
 233,
 813,
 680,
 156,
 357,
 500,
 1024,
 137,
 777,
 802,
 312,
 85,
 905,
 69,
 498,
 337,
 408,
 81,
 924,
 399,
 107,
 82,
 901,
 520,
 774,
 863,
 354,
 309,
 356,
 338,
 291,
 1004,
 1048,
 296,
 32,
 699,
 195,
 70,
 279,
 181,
 976,
 898,
 692,
 297,
 868,
 667,
 187,
 1047,
 227,
 879,
 190,
 823,
 577,
 638,
 41,
 637,
 789,
 963,
 700,
 1007,
 256,
 666,
 23,
 90,
 294,
 507,
 927,
 535,
 ...]

In [1663]:
# Checking relavancy. They are order by relavancy. 

df_nlp.iloc[relavant_articles].head(20)

# Looks like related to 'Apache Spark'

,doc_body,doc_description,doc_full_name,doc_status,article_id
article_id,,,,,
389,* Home\r\n * Community\r\n * Projects\r\n * Bl...,What a difference a version number makes! With...,Apache Spark™ 2.0: Impressive Improvements to ...,Live,389
993,* Home\r\n * Community\r\n * Projects\r\n * Bl...,The Apache Spark website documents the propert...,Configuring the Apache Spark SQL Context,Live,993
949,* Home\r\n * Community\r\n * Projects\r\n * Bl...,The Apache Spark SQL component has several sub...,Apache Spark SQL Analyzer Resolves Order-by Co...,Live,949
592,APACHE SPARK ANALYTICSCombine Apache® Spark™ w...,Combine Apache® Spark™ with other cloud servic...,Apache Spark Analytics,Live,592
714,* Home\r\n * Community\r\n * Projects\r\n * Bl...,From the big crop of books about Apache Spark™...,A Survey of Books about Apache Spark™,Live,714
117,* Home\r\n * Community\r\n * Projects\r\n * Bl...,This post provides a brief summary of sample c...,Apache Spark™ 2.0: Migrating Applications,Live,117
678,{ spark .tc } * Community\r\n * Projects\r\n *...,Spark SQL Version 1.6 runs queries faster! Tha...,Spark SQL - Rapid Performance Evolution,Live,678
942,* Home\r\n * Community\r\n * Projects\r\n * Bl...,Sean looks back on his first encounter with Sp...,"Interview with Sean Li, New Apache Spark™ Comm...",Live,942
231,Skip to main content IBM developerWorks / Deve...,Get faster queries and write less code too. Le...,Speed your SQL Queries with Spark SQL,Live,231
925,Skip navigation Sign in SearchLoading...\r\n\r...,This video shows you how to use the Spark SQL ...,Build SQL queries with Apache Spark in DSX,Live,925
15,* Home\r\n * Community\r\n * Projects\r\n * Bl...,Early methods to integrate machine learning us...,Apache Spark™ 2.0: Extend Structured Streaming...,Live,15
463,Skip navigation Upload Sign in SearchLoading.....,Learn Why and How To Use Spark for large amoun...,What is Spark?,Live,463
353,RStudio Blog * Home\r\n\r\n * Subscribe to fee...,"We’re excited today to announce sparklyr, a ne...",sparklyr — R interface for Apache Spark,Live,353
835,Skip to main content IBM developerWorks / Deve...,How to build SQL Queries in a Scala notebook u...,Build SQL Queries in a Scala notebook using Ap...,Live,835
907,Skip to main content IBM developerWorks / Deve...,How to build SQL Queries in a Scala notebook u...,Build Spark SQL Queries,Live,907
284,* Home\r\n * Community\r\n * Projects\r\n * Bl...,Now that the dust has settled on Apache Spark ...,Apache Spark 2.0: Machine Learning. Under the ...,Live,284
977,* Home\r\n * Community\r\n * Projects\r\n * Bl...,A handful of talks at the recent Spark Summit ...,Apache Spark as the New Engine of Genomics,Live,977
600,Homepage Follow Sign in / Sign up Homepage * H...,In this post I will show you how to use the IB...,Access IBM Analytics for Apache Spark from RSt...,Live,600
595,Skip to main content IBM developerWorks / Deve...,Learn how to create a connection to dashDB dat...,Load dashDB Data with Apache Spark,Live,595
997,Skip to main content IBM developerWorks / Deve...,One of the best things about Apache Spark is t...,Apache Spark: Upgrade and speed-up your analytics,Live,997

The above find_similar_articles work well, however it is calculating on the fly, could take time to load, for user experience, real time calculating too expensive. So make a article_article_similary dataframe for look up. (the content-content rec). This can be act as, people view X article also might be interested in Y article based on relavancy.

### Approach:
Make a dataframe, store article-article-similarity.
(Based on the cleaned df_content version dataset: df_nlp)

In [1673]:
# Make a user-user dummy dataframe based on shape of user_article_dict_trimmed
article_article = pd.DataFrame(
                data=np.zeros((len(df_nlp.index),len(df_nlp.index))), 
                index=df_nlp.index, 
                columns=df_nlp.index
            )

article_article

article_id,0,1,2,3,4,5,6,7,8,9,...,1041,1042,1043,1044,1045,1046,1047,1048,1049,1050
article_id,,,,,,,,,,,,,,,,,,,,,
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1046,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1047,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1048,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1049,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1050,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [1692]:
# Iterations. Update the similar score values to article_article

# ATTENTION: THE ITERATION TAKES time, better to track progress


start = time.time()


# Number of articles
len_articles = article_article.shape[0]

# List of index of articles
idx_articles = list(article_article.index)


# Loop thru each article: for each row, loop each columns. 
for i in idx_articles:
    print(f"Processing row {i} of {len_articles-1}.")
    
    for j in idx_articles:
        article_article.loc[i, j] = compute_article_similarity(i, j)
        

end = time.time()
print(end - start)

Processing row 0 of 1050.
Processing row 1 of 1050.
Processing row 2 of 1050.
Processing row 3 of 1050.
Processing row 4 of 1050.
Processing row 5 of 1050.
Processing row 6 of 1050.
Processing row 7 of 1050.
Processing row 8 of 1050.
Processing row 9 of 1050.
Processing row 10 of 1050.
Processing row 11 of 1050.
Processing row 12 of 1050.
Processing row 13 of 1050.
Processing row 14 of 1050.
Processing row 15 of 1050.
Processing row 16 of 1050.
Processing row 17 of 1050.
Processing row 18 of 1050.
Processing row 19 of 1050.
Processing row 20 of 1050.
Processing row 21 of 1050.
Processing row 22 of 1050.
Processing row 23 of 1050.
Processing row 24 of 1050.
Processing row 25 of 1050.
Processing row 26 of 1050.
Processing row 27 of 1050.
Processing row 28 of 1050.
Processing row 29 of 1050.
Processing row 30 of 1050.
Processing row 31 of 1050.
Processing row 32 of 1050.
Processing row 33 of 1050.
Processing row 34 of 1050.
Processing row 35 of 1050.
Processing row 36 of 1050.
Processing row 37 of 1050.
Processing row 38 of 1050.
Processing row 39 of 1050.
Processing row 40 of 1050.
Processing row 41 of 1050.
Processing row 42 of 1050.
Processing row 43 of 1050.
Processing row 44 of 1050.
Processing row 45 of 1050.
Processing row 46 of 1050.
Processing row 47 of 1050.
Processing row 48 of 1050.
Processing row 49 of 1050.
Processing row 50 of 1050.
Processing row 51 of 1050.
Processing row 52 of 1050.
Processing row 53 of 1050.
Processing row 54 of 1050.
Processing row 55 of 1050.
Processing row 56 of 1050.
Processing row 57 of 1050.
Processing row 58 of 1050.
Processing row 59 of 1050.
Processing row 60 of 1050.
Processing row 61 of 1050.
Processing row 62 of 1050.
Processing row 63 of 1050.
Processing row 64 of 1050.
Processing row 65 of 1050.
Processing row 66 of 1050.
Processing row 67 of 1050.
Processing row 68 of 1050.
Processing row 69 of 1050.
Processing row 70 of 1050.
Processing row 71 of 1050.
Processing row 72 of 1050.
Processing row 73 of 1050.
Processing row 74 of 1050.
Processing row 75 of 1050.
Processing row 76 of 1050.
Processing row 77 of 1050.
Processing row 78 of 1050.
Processing row 79 of 1050.
Processing row 80 of 1050.
Processing row 81 of 1050.
Processing row 82 of 1050.
Processing row 83 of 1050.
Processing row 84 of 1050.
Processing row 85 of 1050.
Processing row 86 of 1050.
Processing row 87 of 1050.
Processing row 88 of 1050.
Processing row 89 of 1050.
Processing row 90 of 1050.
Processing row 91 of 1050.
Processing row 92 of 1050.
Processing row 93 of 1050.
Processing row 94 of 1050.
Processing row 95 of 1050.
Processing row 96 of 1050.
Processing row 97 of 1050.
Processing row 98 of 1050.
Processing row 99 of 1050.
Processing row 100 of 1050.
Processing row 101 of 1050.
Processing row 102 of 1050.
Processing row 103 of 1050.
Processing row 104 of 1050.
Processing row 105 of 1050.
Processing row 106 of 1050.
Processing row 107 of 1050.
Processing row 108 of 1050.
Processing row 109 of 1050.
Processing row 110 of 1050.
Processing row 111 of 1050.
Processing row 112 of 1050.
Processing row 113 of 1050.
Processing row 114 of 1050.
Processing row 115 of 1050.
Processing row 116 of 1050.
Processing row 117 of 1050.
Processing row 118 of 1050.
Processing row 119 of 1050.
Processing row 120 of 1050.
Processing row 121 of 1050.
Processing row 122 of 1050.
Processing row 123 of 1050.
Processing row 124 of 1050.
Processing row 125 of 1050.
Processing row 126 of 1050.
Processing row 127 of 1050.
Processing row 128 of 1050.
Processing row 129 of 1050.
Processing row 130 of 1050.
Processing row 131 of 1050.
Processing row 132 of 1050.
Processing row 133 of 1050.
Processing row 134 of 1050.
Processing row 135 of 1050.
Processing row 136 of 1050.
Processing row 137 of 1050.
Processing row 138 of 1050.
Processing row 139 of 1050.
Processing row 140 of 1050.
Processing row 141 of 1050.
Processing row 142 of 1050.
Processing row 143 of 1050.
Processing row 144 of 1050.
Processing row 145 of 1050.
Processing row 146 of 1050.
Processing row 147 of 1050.
Processing row 148 of 1050.
Processing row 149 of 1050.
Processing row 150 of 1050.
Processing row 151 of 1050.
Processing row 152 of 1050.
Processing row 153 of 1050.
Processing row 154 of 1050.
Processing row 155 of 1050.
Processing row 156 of 1050.
Processing row 157 of 1050.
Processing row 158 of 1050.
Processing row 159 of 1050.
Processing row 160 of 1050.
Processing row 161 of 1050.
Processing row 162 of 1050.
Processing row 163 of 1050.
Processing row 164 of 1050.
Processing row 165 of 1050.
Processing row 166 of 1050.
Processing row 167 of 1050.
Processing row 168 of 1050.
Processing row 169 of 1050.
Processing row 170 of 1050.
Processing row 171 of 1050.
Processing row 172 of 1050.
Processing row 173 of 1050.
Processing row 174 of 1050.
Processing row 175 of 1050.
Processing row 176 of 1050.
Processing row 177 of 1050.
Processing row 178 of 1050.
Processing row 179 of 1050.
Processing row 180 of 1050.
Processing row 181 of 1050.
Processing row 182 of 1050.
Processing row 183 of 1050.
Processing row 184 of 1050.
Processing row 185 of 1050.
Processing row 186 of 1050.
Processing row 187 of 1050.
Processing row 188 of 1050.
Processing row 189 of 1050.
Processing row 190 of 1050.
Processing row 191 of 1050.
Processing row 192 of 1050.
Processing row 193 of 1050.
Processing row 194 of 1050.
Processing row 195 of 1050.
Processing row 196 of 1050.
Processing row 197 of 1050.
Processing row 198 of 1050.
Processing row 199 of 1050.
Processing row 200 of 1050.
Processing row 201 of 1050.
Processing row 202 of 1050.
Processing row 203 of 1050.
Processing row 204 of 1050.
Processing row 205 of 1050.
Processing row 206 of 1050.
Processing row 207 of 1050.
Processing row 208 of 1050.
Processing row 209 of 1050.
Processing row 210 of 1050.
Processing row 211 of 1050.
Processing row 212 of 1050.
Processing row 213 of 1050.
Processing row 214 of 1050.
Processing row 215 of 1050.
Processing row 216 of 1050.
Processing row 217 of 1050.
Processing row 218 of 1050.
Processing row 219 of 1050.
Processing row 220 of 1050.
Processing row 221 of 1050.
Processing row 222 of 1050.
Processing row 223 of 1050.
Processing row 224 of 1050.
Processing row 225 of 1050.
Processing row 226 of 1050.
Processing row 227 of 1050.
Processing row 228 of 1050.
Processing row 229 of 1050.
Processing row 230 of 1050.
Processing row 231 of 1050.
Processing row 232 of 1050.
Processing row 233 of 1050.
Processing row 234 of 1050.
Processing row 235 of 1050.
Processing row 236 of 1050.
Processing row 237 of 1050.
Processing row 238 of 1050.
Processing row 239 of 1050.
Processing row 240 of 1050.
Processing row 241 of 1050.
Processing row 242 of 1050.
Processing row 243 of 1050.
Processing row 244 of 1050.
Processing row 245 of 1050.
Processing row 246 of 1050.
Processing row 247 of 1050.
Processing row 248 of 1050.
Processing row 249 of 1050.
Processing row 250 of 1050.
Processing row 251 of 1050.
Processing row 252 of 1050.
Processing row 253 of 1050.
Processing row 254 of 1050.
Processing row 255 of 1050.
Processing row 256 of 1050.
Processing row 257 of 1050.
Processing row 258 of 1050.
Processing row 259 of 1050.
Processing row 260 of 1050.
Processing row 261 of 1050.
Processing row 262 of 1050.
Processing row 263 of 1050.
Processing row 264 of 1050.
Processing row 265 of 1050.
Processing row 266 of 1050.
Processing row 267 of 1050.
Processing row 268 of 1050.
Processing row 269 of 1050.
Processing row 270 of 1050.
Processing row 271 of 1050.
Processing row 272 of 1050.
Processing row 273 of 1050.
Processing row 274 of 1050.
Processing row 275 of 1050.
Processing row 276 of 1050.
Processing row 277 of 1050.
Processing row 278 of 1050.
Processing row 279 of 1050.
Processing row 280 of 1050.
Processing row 281 of 1050.
Processing row 282 of 1050.
Processing row 283 of 1050.
Processing row 284 of 1050.
Processing row 285 of 1050.
Processing row 286 of 1050.
Processing row 287 of 1050.
Processing row 288 of 1050.
Processing row 289 of 1050.
Processing row 290 of 1050.
Processing row 291 of 1050.
Processing row 292 of 1050.
Processing row 293 of 1050.
Processing row 294 of 1050.
Processing row 295 of 1050.
Processing row 296 of 1050.

Processing row 297 of 1050.
Processing row 298 of 1050.
Processing row 299 of 1050.
Processing row 300 of 1050.
Processing row 301 of 1050.
Processing row 302 of 1050.
Processing row 303 of 1050.
Processing row 304 of 1050.
Processing row 305 of 1050.
Processing row 306 of 1050.
Processing row 307 of 1050.
Processing row 308 of 1050.
Processing row 309 of 1050.
Processing row 310 of 1050.
Processing row 311 of 1050.
Processing row 312 of 1050.
Processing row 313 of 1050.
Processing row 314 of 1050.
Processing row 315 of 1050.
Processing row 316 of 1050.
Processing row 317 of 1050.
Processing row 318 of 1050.
Processing row 319 of 1050.
Processing row 320 of 1050.
Processing row 321 of 1050.
Processing row 322 of 1050.
Processing row 323 of 1050.
Processing row 324 of 1050.
Processing row 325 of 1050.
Processing row 326 of 1050.
Processing row 327 of 1050.
Processing row 328 of 1050.
Processing row 329 of 1050.
Processing row 330 of 1050.
Processing row 331 of 1050.
Processing row 332 of 1050.
Processing row 333 of 1050.
Processing row 334 of 1050.
Processing row 335 of 1050.
Processing row 336 of 1050.
Processing row 337 of 1050.
Processing row 338 of 1050.
Processing row 339 of 1050.
Processing row 340 of 1050.
Processing row 341 of 1050.
Processing row 342 of 1050.
Processing row 343 of 1050.
Processing row 344 of 1050.
Processing row 345 of 1050.
Processing row 346 of 1050.
Processing row 347 of 1050.
Processing row 348 of 1050.
Processing row 349 of 1050.
Processing row 350 of 1050.
Processing row 351 of 1050.
Processing row 352 of 1050.
Processing row 353 of 1050.
Processing row 354 of 1050.
Processing row 355 of 1050.
Processing row 356 of 1050.
Processing row 357 of 1050.
Processing row 358 of 1050.
Processing row 359 of 1050.
Processing row 360 of 1050.
Processing row 361 of 1050.
Processing row 362 of 1050.
Processing row 363 of 1050.
Processing row 364 of 1050.
Processing row 365 of 1050.
Processing row 366 of 1050.
Processing row 367 of 1050.
Processing row 368 of 1050.
Processing row 369 of 1050.
Processing row 370 of 1050.
Processing row 371 of 1050.
Processing row 372 of 1050.
Processing row 373 of 1050.
Processing row 374 of 1050.
Processing row 375 of 1050.
Processing row 376 of 1050.
Processing row 377 of 1050.
Processing row 378 of 1050.
Processing row 379 of 1050.
Processing row 380 of 1050.
Processing row 381 of 1050.
Processing row 382 of 1050.
Processing row 383 of 1050.
Processing row 384 of 1050.
Processing row 385 of 1050.
Processing row 386 of 1050.
Processing row 387 of 1050.
Processing row 388 of 1050.
Processing row 389 of 1050.
Processing row 390 of 1050.
Processing row 391 of 1050.
Processing row 392 of 1050.
Processing row 393 of 1050.
Processing row 394 of 1050.
Processing row 395 of 1050.
Processing row 396 of 1050.
Processing row 397 of 1050.
Processing row 398 of 1050.
Processing row 399 of 1050.
Processing row 400 of 1050.
Processing row 401 of 1050.
Processing row 402 of 1050.
Processing row 403 of 1050.
Processing row 404 of 1050.
Processing row 405 of 1050.
Processing row 406 of 1050.
Processing row 407 of 1050.
Processing row 408 of 1050.
Processing row 409 of 1050.
Processing row 410 of 1050.
Processing row 411 of 1050.
Processing row 412 of 1050.
Processing row 413 of 1050.
Processing row 414 of 1050.
Processing row 415 of 1050.
Processing row 416 of 1050.
Processing row 417 of 1050.
Processing row 418 of 1050.
Processing row 419 of 1050.
Processing row 420 of 1050.
Processing row 421 of 1050.
Processing row 422 of 1050.
Processing row 423 of 1050.
Processing row 424 of 1050.
Processing row 425 of 1050.
Processing row 426 of 1050.
Processing row 427 of 1050.
Processing row 428 of 1050.
Processing row 429 of 1050.
Processing row 430 of 1050.
Processing row 431 of 1050.
Processing row 432 of 1050.
Processing row 433 of 1050.
Processing row 434 of 1050.
Processing row 435 of 1050.
Processing row 436 of 1050.
Processing row 437 of 1050.
Processing row 438 of 1050.
Processing row 439 of 1050.
Processing row 440 of 1050.
Processing row 441 of 1050.
Processing row 442 of 1050.
Processing row 443 of 1050.
Processing row 444 of 1050.
Processing row 445 of 1050.
Processing row 446 of 1050.
Processing row 447 of 1050.
Processing row 448 of 1050.
Processing row 449 of 1050.
Processing row 450 of 1050.
Processing row 451 of 1050.
Processing row 452 of 1050.
Processing row 453 of 1050.
Processing row 454 of 1050.
Processing row 455 of 1050.
Processing row 456 of 1050.
Processing row 457 of 1050.
Processing row 458 of 1050.
Processing row 459 of 1050.
Processing row 460 of 1050.
Processing row 461 of 1050.
Processing row 462 of 1050.
Processing row 463 of 1050.
Processing row 464 of 1050.
Processing row 465 of 1050.
Processing row 466 of 1050.
Processing row 467 of 1050.
Processing row 468 of 1050.
Processing row 469 of 1050.
Processing row 470 of 1050.
Processing row 471 of 1050.
Processing row 472 of 1050.
Processing row 473 of 1050.
Processing row 474 of 1050.
Processing row 475 of 1050.
Processing row 476 of 1050.
Processing row 477 of 1050.
Processing row 478 of 1050.
Processing row 479 of 1050.
Processing row 480 of 1050.
Processing row 481 of 1050.
Processing row 482 of 1050.
Processing row 483 of 1050.
Processing row 484 of 1050.
Processing row 485 of 1050.
Processing row 486 of 1050.
Processing row 487 of 1050.
Processing row 488 of 1050.
Processing row 489 of 1050.
Processing row 490 of 1050.
Processing row 491 of 1050.
Processing row 492 of 1050.
Processing row 493 of 1050.
Processing row 494 of 1050.
Processing row 495 of 1050.
Processing row 496 of 1050.
Processing row 497 of 1050.
Processing row 498 of 1050.
Processing row 499 of 1050.
Processing row 500 of 1050.
Processing row 501 of 1050.
Processing row 502 of 1050.
Processing row 503 of 1050.
Processing row 504 of 1050.
Processing row 505 of 1050.
Processing row 506 of 1050.
Processing row 507 of 1050.
Processing row 508 of 1050.
Processing row 509 of 1050.
Processing row 510 of 1050.
Processing row 511 of 1050.
Processing row 512 of 1050.
Processing row 513 of 1050.
Processing row 514 of 1050.
Processing row 515 of 1050.
Processing row 516 of 1050.
Processing row 517 of 1050.
Processing row 518 of 1050.
Processing row 519 of 1050.
Processing row 520 of 1050.
Processing row 521 of 1050.
Processing row 522 of 1050.
Processing row 523 of 1050.
Processing row 524 of 1050.
Processing row 525 of 1050.
Processing row 526 of 1050.
Processing row 527 of 1050.
Processing row 528 of 1050.
Processing row 529 of 1050.
Processing row 530 of 1050.
Processing row 531 of 1050.
Processing row 532 of 1050.
Processing row 533 of 1050.
Processing row 534 of 1050.
Processing row 535 of 1050.
Processing row 536 of 1050.
Processing row 537 of 1050.
Processing row 538 of 1050.
Processing row 539 of 1050.
Processing row 540 of 1050.
Processing row 541 of 1050.
Processing row 542 of 1050.
Processing row 543 of 1050.
Processing row 544 of 1050.
Processing row 545 of 1050.
Processing row 546 of 1050.
Processing row 547 of 1050.
Processing row 548 of 1050.
Processing row 549 of 1050.
Processing row 550 of 1050.
Processing row 551 of 1050.
Processing row 552 of 1050.
Processing row 553 of 1050.
Processing row 554 of 1050.
Processing row 555 of 1050.
Processing row 556 of 1050.
Processing row 557 of 1050.
Processing row 558 of 1050.
Processing row 559 of 1050.
Processing row 560 of 1050.
Processing row 561 of 1050.
Processing row 562 of 1050.
Processing row 563 of 1050.
Processing row 564 of 1050.
Processing row 565 of 1050.
Processing row 566 of 1050.
Processing row 567 of 1050.
Processing row 568 of 1050.
Processing row 569 of 1050.
Processing row 570 of 1050.
Processing row 571 of 1050.
Processing row 572 of 1050.
Processing row 573 of 1050.
Processing row 574 of 1050.
Processing row 575 of 1050.
Processing row 576 of 1050.
Processing row 577 of 1050.
Processing row 578 of 1050.
Processing row 579 of 1050.
Processing row 580 of 1050.
Processing row 581 of 1050.
Processing row 582 of 1050.
Processing row 583 of 1050.
Processing row 584 of 1050.
Processing row 585 of 1050.
Processing row 586 of 1050.
Processing row 587 of 1050.
Processing row 588 of 1050.
Processing row 589 of 1050.

Processing row 590 of 1050.
Processing row 591 of 1050.
Processing row 592 of 1050.
Processing row 593 of 1050.
Processing row 594 of 1050.
Processing row 595 of 1050.
Processing row 596 of 1050.
Processing row 597 of 1050.
Processing row 598 of 1050.
Processing row 599 of 1050.
Processing row 600 of 1050.
Processing row 601 of 1050.
Processing row 602 of 1050.
Processing row 603 of 1050.
Processing row 604 of 1050.
Processing row 605 of 1050.
Processing row 606 of 1050.
Processing row 607 of 1050.
Processing row 608 of 1050.
Processing row 609 of 1050.
Processing row 610 of 1050.
Processing row 611 of 1050.
Processing row 612 of 1050.
Processing row 613 of 1050.
Processing row 614 of 1050.
Processing row 615 of 1050.
Processing row 616 of 1050.
Processing row 617 of 1050.
Processing row 618 of 1050.
Processing row 619 of 1050.
Processing row 620 of 1050.
Processing row 621 of 1050.
Processing row 622 of 1050.
Processing row 623 of 1050.
Processing row 624 of 1050.
Processing row 625 of 1050.
Processing row 626 of 1050.
Processing row 627 of 1050.
Processing row 628 of 1050.
Processing row 629 of 1050.
Processing row 630 of 1050.
Processing row 631 of 1050.
Processing row 632 of 1050.
Processing row 633 of 1050.
Processing row 634 of 1050.
Processing row 635 of 1050.
Processing row 636 of 1050.
Processing row 637 of 1050.
Processing row 638 of 1050.
Processing row 639 of 1050.
Processing row 640 of 1050.
Processing row 641 of 1050.
Processing row 642 of 1050.
Processing row 643 of 1050.
Processing row 644 of 1050.
Processing row 645 of 1050.
Processing row 646 of 1050.
Processing row 647 of 1050.
Processing row 648 of 1050.
Processing row 649 of 1050.
Processing row 650 of 1050.
Processing row 651 of 1050.
Processing row 652 of 1050.
Processing row 653 of 1050.
Processing row 654 of 1050.
Processing row 655 of 1050.
Processing row 656 of 1050.
Processing row 657 of 1050.
Processing row 658 of 1050.
Processing row 659 of 1050.
Processing row 660 of 1050.
Processing row 661 of 1050.
Processing row 662 of 1050.
Processing row 663 of 1050.
Processing row 664 of 1050.
Processing row 665 of 1050.
Processing row 666 of 1050.
Processing row 667 of 1050.
Processing row 668 of 1050.
Processing row 669 of 1050.
Processing row 670 of 1050.
Processing row 671 of 1050.
Processing row 672 of 1050.
Processing row 673 of 1050.
Processing row 674 of 1050.
Processing row 675 of 1050.
Processing row 676 of 1050.
Processing row 677 of 1050.
Processing row 678 of 1050.
Processing row 679 of 1050.
Processing row 680 of 1050.
Processing row 681 of 1050.
Processing row 682 of 1050.
Processing row 683 of 1050.
Processing row 684 of 1050.
Processing row 685 of 1050.
Processing row 686 of 1050.
Processing row 687 of 1050.
Processing row 688 of 1050.
Processing row 689 of 1050.
Processing row 690 of 1050.
Processing row 691 of 1050.
Processing row 692 of 1050.
Processing row 693 of 1050.
Processing row 694 of 1050.
Processing row 695 of 1050.
Processing row 696 of 1050.
Processing row 697 of 1050.
Processing row 698 of 1050.
Processing row 699 of 1050.
Processing row 700 of 1050.
Processing row 701 of 1050.
Processing row 702 of 1050.
Processing row 703 of 1050.
Processing row 704 of 1050.
Processing row 705 of 1050.
Processing row 706 of 1050.
Processing row 707 of 1050.
Processing row 708 of 1050.
Processing row 709 of 1050.
Processing row 710 of 1050.
Processing row 711 of 1050.
Processing row 712 of 1050.
Processing row 713 of 1050.
Processing row 714 of 1050.
Processing row 715 of 1050.
Processing row 716 of 1050.
Processing row 717 of 1050.
Processing row 718 of 1050.
Processing row 719 of 1050.
Processing row 720 of 1050.
Processing row 721 of 1050.
Processing row 722 of 1050.
Processing row 723 of 1050.
Processing row 724 of 1050.
Processing row 725 of 1050.
Processing row 726 of 1050.
Processing row 727 of 1050.
Processing row 728 of 1050.
Processing row 729 of 1050.
Processing row 730 of 1050.
Processing row 731 of 1050.
Processing row 732 of 1050.
Processing row 733 of 1050.
Processing row 734 of 1050.
Processing row 735 of 1050.
Processing row 736 of 1050.
Processing row 737 of 1050.
Processing row 738 of 1050.
Processing row 739 of 1050.
Processing row 740 of 1050.
Processing row 741 of 1050.
Processing row 742 of 1050.
Processing row 743 of 1050.
Processing row 744 of 1050.
Processing row 745 of 1050.
Processing row 746 of 1050.
Processing row 747 of 1050.
Processing row 748 of 1050.
Processing row 749 of 1050.
Processing row 750 of 1050.
Processing row 751 of 1050.
Processing row 752 of 1050.
Processing row 753 of 1050.
Processing row 754 of 1050.
Processing row 755 of 1050.
Processing row 756 of 1050.
Processing row 757 of 1050.
Processing row 758 of 1050.
Processing row 759 of 1050.
Processing row 760 of 1050.
Processing row 761 of 1050.
Processing row 762 of 1050.
Processing row 763 of 1050.
Processing row 764 of 1050.
Processing row 765 of 1050.
Processing row 766 of 1050.
Processing row 767 of 1050.
Processing row 768 of 1050.
Processing row 769 of 1050.
Processing row 770 of 1050.
Processing row 771 of 1050.
Processing row 772 of 1050.
Processing row 773 of 1050.
Processing row 774 of 1050.
Processing row 775 of 1050.
Processing row 776 of 1050.
Processing row 777 of 1050.
Processing row 778 of 1050.
Processing row 779 of 1050.
Processing row 780 of 1050.
Processing row 781 of 1050.
Processing row 782 of 1050.
Processing row 783 of 1050.
Processing row 784 of 1050.
Processing row 785 of 1050.
Processing row 786 of 1050.
Processing row 787 of 1050.
Processing row 788 of 1050.
Processing row 789 of 1050.
Processing row 790 of 1050.
Processing row 791 of 1050.
Processing row 792 of 1050.
Processing row 793 of 1050.
Processing row 794 of 1050.
Processing row 795 of 1050.
Processing row 796 of 1050.
Processing row 797 of 1050.
Processing row 798 of 1050.
Processing row 799 of 1050.
Processing row 800 of 1050.
Processing row 801 of 1050.
Processing row 802 of 1050.
Processing row 803 of 1050.
Processing row 804 of 1050.
Processing row 805 of 1050.
Processing row 806 of 1050.
Processing row 807 of 1050.
Processing row 808 of 1050.
Processing row 809 of 1050.
Processing row 810 of 1050.
Processing row 811 of 1050.
Processing row 812 of 1050.
Processing row 813 of 1050.
Processing row 814 of 1050.
Processing row 815 of 1050.
Processing row 816 of 1050.
Processing row 817 of 1050.
Processing row 818 of 1050.
Processing row 819 of 1050.
Processing row 820 of 1050.
Processing row 821 of 1050.
Processing row 822 of 1050.
Processing row 823 of 1050.
Processing row 824 of 1050.
Processing row 825 of 1050.
Processing row 826 of 1050.
Processing row 827 of 1050.
Processing row 828 of 1050.
Processing row 829 of 1050.
Processing row 830 of 1050.
Processing row 831 of 1050.
Processing row 832 of 1050.
Processing row 833 of 1050.
Processing row 834 of 1050.
Processing row 835 of 1050.
Processing row 836 of 1050.
Processing row 837 of 1050.
Processing row 838 of 1050.
Processing row 839 of 1050.
Processing row 840 of 1050.
Processing row 841 of 1050.
Processing row 842 of 1050.
Processing row 843 of 1050.
Processing row 844 of 1050.
Processing row 845 of 1050.
Processing row 846 of 1050.
Processing row 847 of 1050.
Processing row 848 of 1050.
Processing row 849 of 1050.
Processing row 850 of 1050.
Processing row 851 of 1050.
Processing row 852 of 1050.
Processing row 853 of 1050.
Processing row 854 of 1050.
Processing row 855 of 1050.
Processing row 856 of 1050.
Processing row 857 of 1050.
Processing row 858 of 1050.
Processing row 859 of 1050.
Processing row 860 of 1050.
Processing row 861 of 1050.
Processing row 862 of 1050.
Processing row 863 of 1050.
Processing row 864 of 1050.
Processing row 865 of 1050.
Processing row 866 of 1050.
Processing row 867 of 1050.
Processing row 868 of 1050.
Processing row 869 of 1050.
Processing row 870 of 1050.
Processing row 871 of 1050.
Processing row 872 of 1050.
Processing row 873 of 1050.
Processing row 874 of 1050.
Processing row 875 of 1050.
Processing row 876 of 1050.
Processing row 877 of 1050.
Processing row 878 of 1050.
Processing row 879 of 1050.
Processing row 880 of 1050.
Processing row 881 of 1050.
Processing row 882 of 1050.

Processing row 883 of 1050.
Processing row 884 of 1050.
Processing row 885 of 1050.
Processing row 886 of 1050.
Processing row 887 of 1050.
Processing row 888 of 1050.
Processing row 889 of 1050.
Processing row 890 of 1050.
Processing row 891 of 1050.
Processing row 892 of 1050.
Processing row 893 of 1050.
Processing row 894 of 1050.
Processing row 895 of 1050.
Processing row 896 of 1050.
Processing row 897 of 1050.
Processing row 898 of 1050.
Processing row 899 of 1050.
Processing row 900 of 1050.
Processing row 901 of 1050.
Processing row 902 of 1050.
Processing row 903 of 1050.
Processing row 904 of 1050.
Processing row 905 of 1050.
Processing row 906 of 1050.
Processing row 907 of 1050.
Processing row 908 of 1050.
Processing row 909 of 1050.
Processing row 910 of 1050.
Processing row 911 of 1050.
Processing row 912 of 1050.
Processing row 913 of 1050.
Processing row 914 of 1050.
Processing row 915 of 1050.
Processing row 916 of 1050.
Processing row 917 of 1050.
Processing row 918 of 1050.
Processing row 919 of 1050.
Processing row 920 of 1050.
Processing row 921 of 1050.
Processing row 922 of 1050.
Processing row 923 of 1050.
Processing row 924 of 1050.
Processing row 925 of 1050.
Processing row 926 of 1050.
Processing row 927 of 1050.
Processing row 928 of 1050.
Processing row 929 of 1050.
Processing row 930 of 1050.
Processing row 931 of 1050.
Processing row 932 of 1050.
Processing row 933 of 1050.
Processing row 934 of 1050.
Processing row 935 of 1050.
Processing row 936 of 1050.
Processing row 937 of 1050.
Processing row 938 of 1050.
Processing row 939 of 1050.
Processing row 940 of 1050.
Processing row 941 of 1050.
Processing row 942 of 1050.
Processing row 943 of 1050.
Processing row 944 of 1050.
Processing row 945 of 1050.
Processing row 946 of 1050.
Processing row 947 of 1050.
Processing row 948 of 1050.
Processing row 949 of 1050.
Processing row 950 of 1050.
Processing row 951 of 1050.
Processing row 952 of 1050.
Processing row 953 of 1050.
Processing row 954 of 1050.
Processing row 955 of 1050.
Processing row 956 of 1050.
Processing row 957 of 1050.
Processing row 958 of 1050.
Processing row 959 of 1050.
Processing row 960 of 1050.
Processing row 961 of 1050.
Processing row 962 of 1050.
Processing row 963 of 1050.
Processing row 964 of 1050.
Processing row 965 of 1050.
Processing row 966 of 1050.
Processing row 967 of 1050.
Processing row 968 of 1050.
Processing row 969 of 1050.
Processing row 970 of 1050.
Processing row 971 of 1050.
Processing row 972 of 1050.
Processing row 973 of 1050.
Processing row 974 of 1050.
Processing row 975 of 1050.
Processing row 976 of 1050.
Processing row 977 of 1050.
Processing row 978 of 1050.
Processing row 979 of 1050.
Processing row 980 of 1050.
Processing row 981 of 1050.
Processing row 982 of 1050.
Processing row 983 of 1050.
Processing row 984 of 1050.
Processing row 985 of 1050.
Processing row 986 of 1050.
Processing row 987 of 1050.
Processing row 988 of 1050.
Processing row 989 of 1050.
Processing row 990 of 1050.
Processing row 991 of 1050.
Processing row 992 of 1050.
Processing row 993 of 1050.
Processing row 994 of 1050.
Processing row 995 of 1050.
Processing row 996 of 1050.
Processing row 997 of 1050.
Processing row 998 of 1050.
Processing row 999 of 1050.
Processing row 1000 of 1050.
Processing row 1001 of 1050.
Processing row 1002 of 1050.
Processing row 1003 of 1050.
Processing row 1004 of 1050.
Processing row 1005 of 1050.
Processing row 1006 of 1050.
Processing row 1007 of 1050.
Processing row 1008 of 1050.
Processing row 1009 of 1050.
Processing row 1010 of 1050.
Processing row 1011 of 1050.
Processing row 1012 of 1050.
Processing row 1013 of 1050.
Processing row 1014 of 1050.
Processing row 1015 of 1050.
Processing row 1016 of 1050.
Processing row 1017 of 1050.
Processing row 1018 of 1050.
Processing row 1019 of 1050.
Processing row 1020 of 1050.
Processing row 1021 of 1050.
Processing row 1022 of 1050.
Processing row 1023 of 1050.
Processing row 1024 of 1050.
Processing row 1025 of 1050.
Processing row 1026 of 1050.
Processing row 1027 of 1050.
Processing row 1028 of 1050.
Processing row 1029 of 1050.
Processing row 1030 of 1050.
Processing row 1031 of 1050.
Processing row 1032 of 1050.
Processing row 1033 of 1050.
Processing row 1034 of 1050.
Processing row 1035 of 1050.
Processing row 1036 of 1050.
Processing row 1037 of 1050.
Processing row 1038 of 1050.
Processing row 1039 of 1050.
Processing row 1040 of 1050.
Processing row 1041 of 1050.
Processing row 1042 of 1050.
Processing row 1043 of 1050.
Processing row 1044 of 1050.
Processing row 1045 of 1050.
Processing row 1046 of 1050.
Processing row 1047 of 1050.
Processing row 1048 of 1050.
Processing row 1049 of 1050.
Processing row 1050 of 1050.
30872.925096035004

In [1694]:
# Check updated article_article with calculated results. 

article_article

article_id,0,1,2,3,4,5,6,7,8,9,...,1041,1042,1043,1044,1045,1046,1047,1048,1049,1050
article_id,,,,,,,,,,,,,,,,,,,,,
0,1.000000,0.032471,0.072460,0.020439,0.259333,0.033410,0.016156,0.051355,0.046419,0.047824,...,0.063201,0.051671,0.143709,0.020163,0.010646,0.003492,0.004095,0.028436,0.000000,0.078722
1,0.032471,1.000000,0.186967,0.028671,0.093232,0.098205,0.035012,0.155317,0.206362,0.103742,...,0.104562,0.152361,0.093032,0.030101,0.082490,0.014128,0.019350,0.056505,0.010927,0.090637
2,0.072460,0.186967,1.000000,0.053018,0.172458,0.106455,0.041646,0.204603,0.339824,0.153497,...,0.149979,0.208527,0.139453,0.036274,0.009098,0.009416,0.013930,0.104403,0.018914,0.160396
3,0.020439,0.028671,0.053018,1.000000,0.027609,0.037732,0.084109,0.048761,0.031276,0.049991,...,0.027299,0.026927,0.033499,0.010938,0.036107,0.012851,0.011922,0.010652,0.009425,0.036531
4,0.259333,0.093232,0.172458,0.027609,1.000000,0.095990,0.026990,0.154261,0.135846,0.152328,...,0.122135,0.141956,0.137278,0.024670,0.007071,0.006955,0.003037,0.038724,0.072108,0.138237
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1046,0.003492,0.014128,0.009416,0.012851,0.006955,0.019682,0.009555,0.018015,0.004764,0.006668,...,0.013567,0.003230,0.003622,0.014652,0.005776,1.000000,0.000000,0.001758,0.000000,0.005407
1047,0.004095,0.019350,0.013930,0.011922,0.003037,0.010529,0.002925,0.006396,0.007393,0.017164,...,0.007295,0.002512,0.005704,0.001240,0.006689,0.000000,1.000000,0.058308,0.000000,0.006413
1048,0.028436,0.056505,0.104403,0.010652,0.038724,0.026182,0.017823,0.050228,0.041883,0.069507,...,0.074214,0.024484,0.034961,0.020447,0.015387,0.001758,0.058308,1.000000,0.000000,0.114996
1049,0.000000,0.010927,0.018914,0.009425,0.072108,0.010935,0.000000,0.012977,0.014043,0.066733,...,0.005548,0.069338,0.068079,0.005126,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
1050,0.078722,0.090637,0.160396,0.036531,0.138237,0.030091,0.038946,0.130746,0.084648,0.095793,...,0.188039,0.113751,0.140985,0.025935,0.023651,0.005407,0.006413,0.114996,0.000000,1.000000

In [1695]:
# Export to pickle

article_article.to_pickle('article_article_similarity_df.pkl')

In [2261]:
1427 in article_article.index.values

False

In [2284]:
# Instead of finding in real time. Use a query method from pre-calculated 
# article_article df. Save time.

def loopup_similar_articles(article_id, data=article_article, n=20):
    
    # input: n - number of top similar to return
    
    if article_id in article_article.index.values:
    
        ids = list(data.loc[article_id][data.loc[article_id].index != article_id].sort_values(ascending=False).head(n).index)
        names = list(df_nlp.loc[ids].doc_full_name.values)
        
    else:
        # print(f"[article_id] {article_id} not found in df_content")
        ids = []
        names = []
    
    
    return ids, names

In [1785]:
# Test result: look up most relavant articles for 455th article

relavant_for_455th_article = loopup_similar_articles(455, n=30)
relavant_for_455th_article

# Revealing that they are about on 'machine learning'.

([800,
  1035,
  313,
  805,
  444,
  721,
  260,
  967,
  122,
  96,
  384,
  809,
  124,
  723,
  234,
  892,
  54,
  253,
  812,
  861,
  412,
  732,
  871,
  74,
  221,
  89,
  479,
  616,
  500,
  567],
 ['Machine Learning for the Enterprise',
  'Machine Learning for the Enterprise.',
  'What is machine learning?',
  'Machine Learning for everyone',
  'Declarative Machine Learning',
  'The power of machine learning in Spark',
  'The Machine Learning Database',
  'ML Algorithm != Learning Machine',
  'Watson Machine Learning for Developers',
  'Improving quality of life with Spark-empowered machine learning',
  'Continuous Learning on Watson',
  'Use the Machine Learning Library',
  'Python Machine Learning: Scikit-Learn Tutorial',
  '10 Essential Algorithms For Machine Learning Engineers',
  '3 Scenarios for Machine Learning on Multicloud',
  'Breaking the 80/20 rule: How data catalogs transform data scientists’ productivity',
  '8 ways to turn data into value with Apache Spark machine learning',
  'Lifelong (machine) learning: how automation can help your models get smarter over time',
  'Machine Learning Exercises In Python, Part 1',
  'Cleaning the swamp: Turn your data lake into a source of crystal-clear insight',
  'Adoption of machine learning to software failure prediction',
  'Rapidly build Machine Learning flows with DSX',
  'Overfitting in Machine Learning: What It Is and How to Prevent It',
  'The 3 Kinds of Context: Machine Learning and the Art of the Frame',
  'How smart catalogs can turn the big data flood into an ocean of opportunity',
  'Top 20 R Machine Learning and Data Science packages',
  'Drowning in data sources: How data cataloging could fix your findability problems',
  'Three reasons machine learning models go out of sync',
  'The Difference Between AI, Machine Learning, and Deep Learning?',
  'You could be looking at it all wrong'])

### Note on datasets inconsistency: 

Since that orginal df_content / df_nlp (cleaned version) only contain article from \[0 - 1050\].

However, df (the interaction) dataset showing more article ids that beyone 1050. e,g 1429.

So these two dataset's article are not up to dated.  
The given df_content is 'late' (not catch up), which means: **articles that are in df (interaction) dataset might 
not be found in df_content dataset**. 

Therefore, due to this inconsistency, we will not be able to find content details for some articles mentioned in df.

----

### Other ideas to explore: 
- Based on the relavant article for a given article, can you get common words on them. Extract topic perhaps
- What are the top contents? (that also in df_content/df_nlp)
- What are the common words / terms of those top content? word bag counter
- Can these words/terms represent trending topic?
- Make a list of most trending topics

In [1786]:
# Extract topics from relavant content.
# Try extract common terms represented in top relavant articles. 
# e.g the relavant results showing they all contain 'machine learning'. 
# Approach with intersection of tokens for those relavant documents.
# bag of words, 1-gram, 2-gram, 3-gram? counter? then intersections 

def extract_topics_from_relavant_articles(ids, data=df_nlp):
    
    return []

In [1808]:
target_id = 455
relevant_articles = loopup_similar_articles(target_id, n=30)

r_ids = relevant_articles[0]
r_ids

# concat tokens: for an article, combine token of title, desc, body all together to represent its tokened text
test_id = 800

title = df_nlp.loc[test_id].doc_full_name
desc = df_nlp.loc[test_id].doc_description
body = df_nlp.loc[test_id].doc_body

tokened_text = tokenize(title) + tokenize(desc) + tokenize(body)
tokened_text

['machine',
 'learning',
 'enterprise',
 'last',
 'blog',
 'business',
 'differentiation',
 'machine',
 'learning',
 'introduced',
 'described',
 'concept',
 'machine',
 'learning',
 'traced',
 'origin',
 'computer',
 'science',
 'project',
 'watson',
 'show',
 'skip',
 'contentdinesh',
 'nirmal',
 'blog',
 'blog',
 'big',
 'data',
 'analytics',
 'digital',
 'technology',
 'impacting',
 'business',
 'data',
 'driven',
 'economy',
 'menu',
 'welcome',
 'twitter',
 'machine',
 'learning',
 'enterprise',
 'last',
 'blog',
 'business',
 'differentiation',
 'machine',
 'learning',
 'introduced',
 'described',
 'concept',
 'machine',
 'learning',
 'traced',
 'origin',
 'computer',
 'science',
 'project',
 'watson',
 'showcasing',
 'winning',
 'jeopardy',
 'tv',
 'quiz',
 'show',
 'real',
 'world',
 'use',
 'across',
 'numerous',
 'industry',
 'including',
 'health',
 'care',
 'concluded',
 'machine',
 'learning',
 'potential',
 'help',
 'make',
 'world',
 'better',
 'safer',
 'place',
 'however',
 'yep',
 'always',
 'however',
 'order',
 'become',
 'reality',
 'machine',
 'learning',
 'form',
 'enterprise',
 'ready',
 'enterprise',
 'requirement',
 'use',
 'word',
 'enterprise',
 'mean',
 'organization',
 'business',
 'critical',
 'requirement',
 'organization',
 'size',
 'volume',
 'transaction',
 'data',
 'velocity',
 'interaction',
 'variety',
 'data',
 'yes',
 'v',
 'big',
 'data',
 'key',
 'factor',
 'might',
 'impact',
 'organization',
 'machine',
 'learning',
 'requirement',
 'also',
 'collaboration',
 'across',
 'data',
 'scientist',
 'engineer',
 'developer',
 'creating',
 'testing',
 'training',
 'deploying',
 'machine',
 'learning',
 'model',
 'level',
 'different',
 'audience',
 'want',
 'exposed',
 'machine',
 'learning',
 'let',
 'look',
 'factor',
 'make',
 'machine',
 'learning',
 'ibm',
 'truly',
 'enterprise',
 'ready',
 'collaboration',
 'large',
 'enterprise',
 'tend',
 'significant',
 'data',
 'scientist',
 'team',
 'often',
 'multiple',
 'data',
 'scientist',
 'engaged',
 'single',
 'project',
 'collaboration',
 'across',
 'data',
 'scientist',
 'maybe',
 'persona',
 'required',
 'maximize',
 'productivity',
 'agility',
 'effectiveness',
 'today',
 'part',
 'ibm',
 'data',
 'science',
 'experience',
 'bring',
 'concept',
 'project',
 'wherein',
 'various',
 'persona',
 'user',
 'safely',
 'collaborate',
 'project',
 'build',
 'test',
 'use',
 'deploy',
 'many',
 'artefact',
 'group',
 'people',
 'machine',
 'learning',
 'technology',
 'adopt',
 'concept',
 'able',
 'share',
 'analytic',
 'artefact',
 'notebook',
 'pipeline',
 'model',
 'etc',
 'example',
 'group',
 'people',
 'collaborate',
 'single',
 'notebook',
 'wherein',
 'one',
 'person',
 'curation',
 'transformation',
 'hand',
 'another',
 'person',
 'creating',
 'algorithm',
 'testing',
 'training',
 'model',
 'team',
 'member',
 'evaluate',
 'model',
 'deploy',
 'individual',
 'user',
 'authenticated',
 'separately',
 'authorized',
 'part',
 'role',
 'defined',
 'project',
 'limiting',
 'granting',
 'access',
 'part',
 'overall',
 'process',
 'experience',
 'accordingly',
 'consumption',
 'everyone',
 'data',
 'scientist',
 'want',
 'need',
 'know',
 'model',
 'design',
 'statistical',
 'theory',
 'training',
 'model',
 'developer',
 'example',
 'may',
 'varying',
 'level',
 'need',
 'may',
 'want',
 'able',
 'use',
 'known',
 'model',
 'work',
 'well',
 'deploy',
 'app',
 'figure',
 '1',
 'show',
 'ibm',
 'designed',
 'work',
 'space',
 'allows',
 'application',
 'developer',
 'choose',
 'deploy',
 'model',
 'actually',
 'create',
 'pipeline',
 'via',
 'step',
 'step',
 'process',
 'take',
 'one',
 'step',
 'higher',
 'level',
 'developer',
 'may',
 'want',
 'choose',
 'collection',
 'pre',
 'packaged',
 'machine',
 'learning',
 'service',
 'fraud',
 'detection',
 'weather',
 'prediction',
 'manufacturing',
 'model',
 'sentiment',
 'analysis',
 'emotional',
 'analysis',
 'ibm',
 'provides',
 'today',
 'bluemix',
 'service',
 'integrated',
 'part',
 'data',
 'science',
 'experience',
 'figure',
 '1',
 'integrated',
 'workspace',
 'creating',
 'pipeline',
 'commoditizing',
 'automating',
 'machine',
 'learning',
 'machine',
 'learning',
 'enterprise',
 'environment',
 'challenging',
 'start',
 'assumption',
 'model',
 'becomes',
 'stale',
 'minute',
 'stop',
 'training',
 'time',
 'accuracy',
 'model',
 'worsen',
 'take',
 'significant',
 'time',
 'understand',
 'happening',
 'retrain',
 'existing',
 'model',
 'deploy',
 'new',
 'version',
 'come',
 'revenue',
 'enterprise',
 'may',
 'hard',
 'time',
 'adopting',
 'necessary',
 'discipline',
 'gauge',
 'impact',
 'bottom',
 'line',
 'lot',
 'machine',
 'learning',
 'use',
 'case',
 'might',
 'intuitive',
 'sense',
 'set',
 'clear',
 'control',
 'point',
 'flow',
 'people',
 'logically',
 'relate',
 'term',
 'machine',
 'learning',
 'may',
 'send',
 'le',
 'scientific',
 'people',
 'community',
 'running',
 'opposite',
 'direction',
 'often',
 'data',
 'scientist',
 'perform',
 'number',
 'tedious',
 'time',
 'consuming',
 'step',
 'derive',
 'insight',
 'raw',
 'data',
 'set',
 'process',
 'involve',
 'data',
 'ingestion',
 'cleaning',
 'transformation',
 'e',
 'g',
 'outlier',
 'removal',
 'missing',
 'value',
 'imputation',
 'proceed',
 'model',
 'building',
 'finally',
 'presentation',
 'prediction',
 'align',
 'end',
 'user',
 'objective',
 'preference',
 'long',
 'complex',
 'sometimes',
 'artful',
 'process',
 'requiring',
 'substantial',
 'time',
 'effort',
 'especially',
 'combinatorial',
 'explosion',
 'choice',
 'algorithm',
 'platform',
 'parameter',
 'composition',
 'tool',
 'help',
 'automate',
 'step',
 'process',
 'potential',
 'accelerate',
 'time',
 'delivery',
 'useful',
 'result',
 'expand',
 'reach',
 'data',
 'science',
 'non',
 'expert',
 'offer',
 'systematic',
 'exploration',
 'available',
 'option',
 'cognitive',
 'automation',
 'data',
 'science',
 'cad',
 'help',
 'integrate',
 'learning',
 'planning',
 'composition',
 'orchestration',
 'technique',
 'automatically',
 'efficiently',
 'build',
 'model',
 'done',
 'deploying',
 'analytic',
 'flow',
 'interactively',
 'support',
 'would',
 'data',
 'scientist',
 'task',
 'cad',
 'also',
 'provides',
 'capability',
 'run',
 'multiple',
 'predefined',
 'algorithm',
 'parallel',
 'identify',
 'best',
 'suitable',
 'algorithm',
 'particular',
 'use',
 'case',
 'short',
 'cad',
 'selects',
 'best',
 'algorithm',
 'given',
 'use',
 'case',
 'click',
 'read',
 'ibm',
 'paper',
 'cad',
 'training',
 'tuning',
 'model',
 'optimization',
 'time',
 'model',
 'algorithm',
 'used',
 'machine',
 'learning',
 'becomes',
 'good',
 'true',
 'training',
 'data',
 'model',
 'predicts',
 'training',
 'data',
 'well',
 'performs',
 'poorly',
 'new',
 'data',
 'known',
 'overfitting',
 'extreme',
 'case',
 'occur',
 'rote',
 'learning',
 'model',
 'achieves',
 '100',
 'performance',
 'data',
 'already',
 'seen',
 'probably',
 'better',
 'random',
 'guess',
 'new',
 'data',
 'imagine',
 'would',
 'business',
 'could',
 'ruin',
 'upset',
 'customer',
 'set',
 'wrong',
 'price',
 'point',
 'miss',
 'many',
 'business',
 'opportunity',
 'ibm',
 'machine',
 'learning',
 'help',
 'counter',
 'clean',
 'separation',
 'training',
 'data',
 'holdout',
 'data',
 'used',
 'evaluate',
 'model',
 'performance',
 'well',
 'careful',
 'use',
 'cross',
 'validation',
 'technique',
 'data',
 'sovereignty',
 'isolation',
 'enterprise',
 'organization',
 'fear',
 'psychological',
 'otherwise',
 'come',
 'putting',
 'data',
 'application',
 'hardware',
 'storage',
 'network',
 'infrastructure',
 'shared',
 'organization',
 'ibm',
 'cloud',
 'first',
 'strategy',
 'provides',
 'necessary',
 'sovereignty',
 'multi',
 'tenancy',
 'isolation',
 'help',
 'ensure',
 'data',
 'application',
 'managed',
 'privately',
 'across',
 'ibm',
 'world',
 'wide',
 'data',
 'center',
 'variety',
 'type',
 'data',
 'used',
 'time',
 'data',
 'simpler',
 'structured',
 'relational',
 'hierarchical',
 'data',
 'stored',
 'database',
 'big',
 'data',
 'simply',
 'mean',
 'data',
 'includes',
 'volume',
 'raw',
 'content',
 'structured',
 'form',
 'part',
 'unstructured',
 'add',
 'internet',
 'thing',
 'sending',
 'massive',
 'amount',
 'sensor',
 'data',
 'world',
 'simple',
 'ibm',
 'data',
 'strategy',
 'make',
 'data',
 'simple',
 'machine',
 'learning',
 'capability',
 'leverage',
 'strategy',
 'able',
 'process',
 'structured',
 'semi',
 'structured',
 'unstructured',
 'data',
 'set',
 'using',
 'many',
 'connector',
 'abstracting',
 'complexity',
 'exploiting',
 'spark',
 'r',
 'python',
 'runtimes',
 'machine',
 'learning',
 'ibm',
 'provides',
 '20',
 'different',
 'data',
 'source',
 'connector',
 'organization',
 'ingest',
 'data',
 'large',
 'compute',
 'power',
 'enterprise',
 'need',
 'high',
 'compute',
 'power',
 'since',
 'process',
 'ever',
 'increasing',
 'work',
 'load',
 'data',
 'transaction',
 'process',
 'since',
 'spark',
 'service',
 'single',
 'multi',
 'tenant',
 'cluster',
 'resource',
 'utilization',
 'wasted',
 'repurpose',
 'computer',
 'power',
 'scaling',
 'scaling',
 'capability',
 'built',
 'part',
 'service',
 'machine',
 'learning',
 'able',
 'transparently',
 'enable',
 'scale',
 'scale',
 'capability',
 'information',
 'governance',
 'ibm',
 'strong',
 'heritage',
 'information',
 'governance',
 'managing',
 'data',
 'lifecycle',
 'cleansing',
 'quality',
 'data',
 'data',
 'wrangling',
 'shaping',
 'security',
 'privacy',
 'data',
 'information',
 'governance',
 'catalogue',
 'us',
 'policy',
 'help',
 'ensure',
 'right',
 'people',
 'see',
 'access',
 'execute',
 'data',
 'service',
 'ibm',
 'also',
 'help',
 'provide',
 'real',
 'time',
 'monitoring',
 'threat',
 'detection',
 'prevention',
 'intervention',
 'well',
 'forensics',
 'compliance',
 'detailed',
 'audit',
 'obfuscation',
 'masking',
 'data',
 'encryption',
 'applied',
 'machine',
 'learning',
 'training',
 'data',
 'machine',
 'learning',
 'one',
 'trick',
 'pony',
 'machine',
 'learning',
 'service',
 'mlaas',
 'many',
 'form',
 'machine',
 'learning',
 'system',
 'ml',
 'ibm',
 'donated',
 'apache',
 'foundation',
 'natural',
 'language',
 'processing',
 'vision',
 'personality',
 'emotional',
 'insight',
 'customer',
 'sentiment',
 'retrieve',
 'rank',
 'ibm',
 'makeit',
 'simple',
 'enterprise',
 'size',
 'pick',
 'choose',
 'number',
 'predefined',
 'machine',
 'learning',
 'service',
 'bluemix',
 'tile',
 'figure',
 '2',
 'ran',
 'earlier',
 'blog',
 'personality',
 'analyser',
 'knew',
 'really',
 'nice',
 'guy',
 'reassuring',
 'hear',
 'machine',
 'learning',
 'service',
 'believe',
 'try',
 'figure',
 '2',
 'machine',
 'learning',
 'bluemix',
 'service',
 'using',
 'machine',
 'learning',
 'reduce',
 'cost',
 'risk',
 'many',
 'customer',
 'across',
 'different',
 'industry',
 'used',
 'machine',
 'learning',
 'capability',
 'help',
 'reduce',
 'cost',
 'improve',
 'customer',
 'service',
 'reduce',
 'risk',
 'vermont',
 'electrical',
 'power',
 'company',
 'velco',
 'worked',
 'ibm',
 'research',
 'develop',
 'integrated',
 'weather',
 'forecasting',
 'system',
 'help',
 'deliver',
 'reliable',
 'clean',
 'affordable',
 'power',
 'consumer',
 'integrating',
 'renewable',
 'energy',
 'grid',
 'solution',
 'combine',
 'high',
 'resolution',
 'weather',
 'multiple',
 'forecasting',
 'tool',
 'based',
 'machine',
 'learning',
 'machine',
 'learning',
 'model',
 'trained',
 'hindcasts',
 'weather',
 'correlated',
 'historical',
 'energy',
 'production',
 'historical',
 'net',
 'demand',
 'result',
 'precise',
 'accurate',
 'wind',
 'solar',
 ...]

In [1984]:
from nltk.util import pad_sequence
from nltk.util import bigrams
from nltk.util import ngrams
from nltk.util import everygrams
from nltk.lm.preprocessing import pad_both_ends
from nltk.lm.preprocessing import flatten

In [1823]:
# two grams

[f"{x[0]} {x[1]}" for x in list(bigrams(tokened_text))]

['machine learning',
 'learning enterprise',
 'enterprise last',
 'last blog',
 'blog business',
 'business differentiation',
 'differentiation machine',
 'machine learning',
 'learning introduced',
 'introduced described',
 'described concept',
 'concept machine',
 'machine learning',
 'learning traced',
 'traced origin',
 'origin computer',
 'computer science',
 'science project',
 'project watson',
 'watson show',
 'show skip',
 'skip contentdinesh',
 'contentdinesh nirmal',
 'nirmal blog',
 'blog blog',
 'blog big',
 'big data',
 'data analytics',
 'analytics digital',
 'digital technology',
 'technology impacting',
 'impacting business',
 'business data',
 'data driven',
 'driven economy',
 'economy menu',
 'menu welcome',
 'welcome twitter',
 'twitter machine',
 'machine learning',
 'learning enterprise',
 'enterprise last',
 'last blog',
 'blog business',
 'business differentiation',
 'differentiation machine',
 'machine learning',
 'learning introduced',
 'introduced described',
 'described concept',
 'concept machine',
 'machine learning',
 'learning traced',
 'traced origin',
 'origin computer',
 'computer science',
 'science project',
 'project watson',
 'watson showcasing',
 'showcasing winning',
 'winning jeopardy',
 'jeopardy tv',
 'tv quiz',
 'quiz show',
 'show real',
 'real world',
 'world use',
 'use across',
 'across numerous',
 'numerous industry',
 'industry including',
 'including health',
 'health care',
 'care concluded',
 'concluded machine',
 'machine learning',
 'learning potential',
 'potential help',
 'help make',
 'make world',
 'world better',
 'better safer',
 'safer place',
 'place however',
 'however yep',
 'yep always',
 'always however',
 'however order',
 'order become',
 'become reality',
 'reality machine',
 'machine learning',
 'learning form',
 'form enterprise',
 'enterprise ready',
 'ready enterprise',
 'enterprise requirement',
 'requirement use',
 'use word',
 'word enterprise',
 'enterprise mean',
 'mean organization',
 'organization business',
 'business critical',
 'critical requirement',
 'requirement organization',
 'organization size',
 'size volume',
 'volume transaction',
 'transaction data',
 'data velocity',
 'velocity interaction',
 'interaction variety',
 'variety data',
 'data yes',
 'yes v',
 'v big',
 'big data',
 'data key',
 'key factor',
 'factor might',
 'might impact',
 'impact organization',
 'organization machine',
 'machine learning',
 'learning requirement',
 'requirement also',
 'also collaboration',
 'collaboration across',
 'across data',
 'data scientist',
 'scientist engineer',
 'engineer developer',
 'developer creating',
 'creating testing',
 'testing training',
 'training deploying',
 'deploying machine',
 'machine learning',
 'learning model',
 'model level',
 'level different',
 'different audience',
 'audience want',
 'want exposed',
 'exposed machine',
 'machine learning',
 'learning let',
 'let look',
 'look factor',
 'factor make',
 'make machine',
 'machine learning',
 'learning ibm',
 'ibm truly',
 'truly enterprise',
 'enterprise ready',
 'ready collaboration',
 'collaboration large',
 'large enterprise',
 'enterprise tend',
 'tend significant',
 'significant data',
 'data scientist',
 'scientist team',
 'team often',
 'often multiple',
 'multiple data',
 'data scientist',
 'scientist engaged',
 'engaged single',
 'single project',
 'project collaboration',
 'collaboration across',
 'across data',
 'data scientist',
 'scientist maybe',
 'maybe persona',
 'persona required',
 'required maximize',
 'maximize productivity',
 'productivity agility',
 'agility effectiveness',
 'effectiveness today',
 'today part',
 'part ibm',
 'ibm data',
 'data science',
 'science experience',
 'experience bring',
 'bring concept',
 'concept project',
 'project wherein',
 'wherein various',
 'various persona',
 'persona user',
 'user safely',
 'safely collaborate',
 'collaborate project',
 'project build',
 'build test',
 'test use',
 'use deploy',
 'deploy many',
 'many artefact',
 'artefact group',
 'group people',
 'people machine',
 'machine learning',
 'learning technology',
 'technology adopt',
 'adopt concept',
 'concept able',
 'able share',
 'share analytic',
 'analytic artefact',
 'artefact notebook',
 'notebook pipeline',
 'pipeline model',
 'model etc',
 'etc example',
 'example group',
 'group people',
 'people collaborate',
 'collaborate single',
 'single notebook',
 'notebook wherein',
 'wherein one',
 'one person',
 'person curation',
 'curation transformation',
 'transformation hand',
 'hand another',
 'another person',
 'person creating',
 'creating algorithm',
 'algorithm testing',
 'testing training',
 'training model',
 'model team',
 'team member',
 'member evaluate',
 'evaluate model',
 'model deploy',
 'deploy individual',
 'individual user',
 'user authenticated',
 'authenticated separately',
 'separately authorized',
 'authorized part',
 'part role',
 'role defined',
 'defined project',
 'project limiting',
 'limiting granting',
 'granting access',
 'access part',
 'part overall',
 'overall process',
 'process experience',
 'experience accordingly',
 'accordingly consumption',
 'consumption everyone',
 'everyone data',
 'data scientist',
 'scientist want',
 'want need',
 'need know',
 'know model',
 'model design',
 'design statistical',
 'statistical theory',
 'theory training',
 'training model',
 'model developer',
 'developer example',
 'example may',
 'may varying',
 'varying level',
 'level need',
 'need may',
 'may want',
 'want able',
 'able use',
 'use known',
 'known model',
 'model work',
 'work well',
 'well deploy',
 'deploy app',
 'app figure',
 'figure 1',
 '1 show',
 'show ibm',
 'ibm designed',
 'designed work',
 'work space',
 'space allows',
 'allows application',
 'application developer',
 'developer choose',
 'choose deploy',
 'deploy model',
 'model actually',
 'actually create',
 'create pipeline',
 'pipeline via',
 'via step',
 'step step',
 'step process',
 'process take',
 'take one',
 'one step',
 'step higher',
 'higher level',
 'level developer',
 'developer may',
 'may want',
 'want choose',
 'choose collection',
 'collection pre',
 'pre packaged',
 'packaged machine',
 'machine learning',
 'learning service',
 'service fraud',
 'fraud detection',
 'detection weather',
 'weather prediction',
 'prediction manufacturing',
 'manufacturing model',
 'model sentiment',
 'sentiment analysis',
 'analysis emotional',
 'emotional analysis',
 'analysis ibm',
 'ibm provides',
 'provides today',
 'today bluemix',
 'bluemix service',
 'service integrated',
 'integrated part',
 'part data',
 'data science',
 'science experience',
 'experience figure',
 'figure 1',
 '1 integrated',
 'integrated workspace',
 'workspace creating',
 'creating pipeline',
 'pipeline commoditizing',
 'commoditizing automating',
 'automating machine',
 'machine learning',
 'learning machine',
 'machine learning',
 'learning enterprise',
 'enterprise environment',
 'environment challenging',
 'challenging start',
 'start assumption',
 'assumption model',
 'model becomes',
 'becomes stale',
 'stale minute',
 'minute stop',
 'stop training',
 'training time',
 'time accuracy',
 'accuracy model',
 'model worsen',
 'worsen take',
 'take significant',
 'significant time',
 'time understand',
 'understand happening',
 'happening retrain',
 'retrain existing',
 'existing model',
 'model deploy',
 'deploy new',
 'new version',
 'version come',
 'come revenue',
 'revenue enterprise',
 'enterprise may',
 'may hard',
 'hard time',
 'time adopting',
 'adopting necessary',
 'necessary discipline',
 'discipline gauge',
 'gauge impact',
 'impact bottom',
 'bottom line',
 'line lot',
 'lot machine',
 'machine learning',
 'learning use',
 'use case',
 'case might',
 'might intuitive',
 'intuitive sense',
 'sense set',
 'set clear',
 'clear control',
 'control point',
 'point flow',
 'flow people',
 'people logically',
 'logically relate',
 'relate term',
 'term machine',
 'machine learning',
 'learning may',
 'may send',
 'send le',
 'le scientific',
 'scientific people',
 'people community',
 'community running',
 'running opposite',
 'opposite direction',
 'direction often',
 'often data',
 'data scientist',
 'scientist perform',
 'perform number',
 'number tedious',
 'tedious time',
 'time consuming',
 'consuming step',
 'step derive',
 'derive insight',
 'insight raw',
 'raw data',
 'data set',
 'set process',
 'process involve',
 'involve data',
 'data ingestion',
 'ingestion cleaning',
 'cleaning transformation',
 'transformation e',
 'e g',
 'g outlier',
 'outlier removal',
 'removal missing',
 'missing value',
 'value imputation',
 'imputation proceed',
 'proceed model',
 'model building',
 'building finally',
 'finally presentation',
 'presentation prediction',
 'prediction align',
 'align end',
 'end user',
 'user objective',
 'objective preference',
 'preference long',
 'long complex',
 'complex sometimes',
 'sometimes artful',
 'artful process',
 'process requiring',
 'requiring substantial',
 'substantial time',
 'time effort',
 'effort especially',
 'especially combinatorial',
 'combinatorial explosion',
 'explosion choice',
 'choice algorithm',
 'algorithm platform',
 'platform parameter',
 'parameter composition',
 'composition tool',
 'tool help',
 'help automate',
 'automate step',
 'step process',
 'process potential',
 'potential accelerate',
 'accelerate time',
 'time delivery',
 'delivery useful',
 'useful result',
 'result expand',
 'expand reach',
 'reach data',
 'data science',
 'science non',
 'non expert',
 'expert offer',
 'offer systematic',
 'systematic exploration',
 'exploration available',
 'available option',
 'option cognitive',
 'cognitive automation',
 'automation data',
 'data science',
 'science cad',
 'cad help',
 'help integrate',
 'integrate learning',
 'learning planning',
 'planning composition',
 'composition orchestration',
 'orchestration technique',
 'technique automatically',
 'automatically efficiently',
 'efficiently build',
 'build model',
 'model done',
 'done deploying',
 'deploying analytic',
 'analytic flow',
 'flow interactively',
 'interactively support',
 'support would',
 'would data',
 'data scientist',
 'scientist task',
 'task cad',
 'cad also',
 'also provides',
 'provides capability',
 'capability run',
 'run multiple',
 'multiple predefined',
 'predefined algorithm',
 'algorithm parallel',
 'parallel identify',
 'identify best',
 'best suitable',
 'suitable algorithm',
 'algorithm particular',
 'particular use',
 'use case',
 'case short',
 'short cad',
 'cad selects',
 'selects best',
 'best algorithm',
 'algorithm given',
 'given use',
 'use case',
 'case click',
 'click read',
 'read ibm',
 'ibm paper',
 'paper cad',
 'cad training',
 'training tuning',
 'tuning model',
 'model optimization',
 'optimization time',
 'time model',
 'model algorithm',
 'algorithm used',
 'used machine',
 'machine learning',
 'learning becomes',
 'becomes good',
 'good true',
 'true training',
 'training data',
 'data model',
 'model predicts',
 'predicts training',
 'training data',
 'data well',
 'well performs',
 'performs poorly',
 'poorly new',
 'new data',
 'data known',
 'known overfitting',
 'overfitting extreme',
 'extreme case',
 'case occur',
 'occur rote',
 'rote learning',
 'learning model',
 'model achieves',
 'achieves 100',
 '100 performance',
 'performance data',
 'data already',
 'already seen',
 'seen probably',
 'probably better',
 'better random',
 'random guess',
 'guess new',
 'new data',
 'data imagine',
 'imagine would',
 'would business',
 'business could',
 'could ruin',
 'ruin upset',
 'upset customer',
 'customer set',
 'set wrong',
 'wrong price',
 'price point',
 'point miss',
 'miss many',
 'many business',
 'business opportunity',
 'opportunity ibm',
 'ibm machine',
 'machine learning',
 'learning help',
 'help counter',
 'counter clean',
 'clean separation',
 'separation training',
 'training data',
 'data holdout',
 'holdout data',
 'data used',
 'used evaluate',
 'evaluate model',
 'model performance',
 'performance well',
 'well careful',
 'careful use',
 'use cross',
 'cross validation',
 'validation technique',
 'technique data',
 'data sovereignty',
 'sovereignty isolation',
 'isolation enterprise',
 'enterprise organization',
 'organization fear',
 'fear psychological',
 'psychological otherwise',
 'otherwise come',
 'come putting',
 'putting data',
 'data application',
 'application hardware',
 'hardware storage',
 'storage network',
 'network infrastructure',
 'infrastructure shared',
 'shared organization',
 'organization ibm',
 'ibm cloud',
 'cloud first',
 'first strategy',
 'strategy provides',
 'provides necessary',
 'necessary sovereignty',
 'sovereignty multi',
 'multi tenancy',
 'tenancy isolation',
 'isolation help',
 'help ensure',
 'ensure data',
 'data application',
 'application managed',
 'managed privately',
 'privately across',
 'across ibm',
 'ibm world',
 'world wide',
 'wide data',
 'data center',
 'center variety',
 'variety type',
 'type data',
 'data used',
 'used time',
 'time data',
 'data simpler',
 'simpler structured',
 'structured relational',
 'relational hierarchical',
 'hierarchical data',
 'data stored',
 'stored database',
 'database big',
 'big data',
 'data simply',
 'simply mean',
 'mean data',
 'data includes',
 'includes volume',
 'volume raw',
 'raw content',
 'content structured',
 'structured form',
 'form part',
 'part unstructured',
 'unstructured add',
 'add internet',
 'internet thing',
 'thing sending',
 'sending massive',
 'massive amount',
 'amount sensor',
 'sensor data',
 'data world',
 'world simple',
 'simple ibm',
 'ibm data',
 'data strategy',
 'strategy make',
 'make data',
 'data simple',
 'simple machine',
 'machine learning',
 'learning capability',
 'capability leverage',
 'leverage strategy',
 'strategy able',
 'able process',
 'process structured',
 'structured semi',
 'semi structured',
 'structured unstructured',
 'unstructured data',
 'data set',
 'set using',
 'using many',
 'many connector',
 'connector abstracting',
 'abstracting complexity',
 'complexity exploiting',
 'exploiting spark',
 'spark r',
 'r python',
 'python runtimes',
 'runtimes machine',
 'machine learning',
 'learning ibm',
 'ibm provides',
 'provides 20',
 '20 different',
 'different data',
 'data source',
 'source connector',
 'connector organization',
 'organization ingest',
 'ingest data',
 'data large',
 'large compute',
 'compute power',
 'power enterprise',
 'enterprise need',
 'need high',
 'high compute',
 'compute power',
 'power since',
 'since process',
 'process ever',
 'ever increasing',
 'increasing work',
 'work load',
 'load data',
 'data transaction',
 'transaction process',
 'process since',
 'since spark',
 'spark service',
 'service single',
 'single multi',
 'multi tenant',
 'tenant cluster',
 'cluster resource',
 'resource utilization',
 'utilization wasted',
 'wasted repurpose',
 'repurpose computer',
 'computer power',
 'power scaling',
 'scaling scaling',
 'scaling capability',
 'capability built',
 'built part',
 'part service',
 'service machine',
 'machine learning',
 'learning able',
 'able transparently',
 'transparently enable',
 'enable scale',
 'scale scale',
 'scale capability',
 'capability information',
 'information governance',
 'governance ibm',
 'ibm strong',
 'strong heritage',
 'heritage information',
 'information governance',
 'governance managing',
 'managing data',
 'data lifecycle',
 'lifecycle cleansing',
 'cleansing quality',
 'quality data',
 'data data',
 'data wrangling',
 'wrangling shaping',
 'shaping security',
 'security privacy',
 'privacy data',
 'data information',
 'information governance',
 'governance catalogue',
 'catalogue us',
 'us policy',
 'policy help',
 'help ensure',
 'ensure right',
 'right people',
 'people see',
 'see access',
 'access execute',
 'execute data',
 'data service',
 'service ibm',
 'ibm also',
 'also help',
 'help provide',
 'provide real',
 'real time',
 'time monitoring',
 'monitoring threat',
 'threat detection',
 'detection prevention',
 'prevention intervention',
 'intervention well',
 'well forensics',
 'forensics compliance',
 'compliance detailed',
 'detailed audit',
 'audit obfuscation',
 'obfuscation masking',
 'masking data',
 'data encryption',
 'encryption applied',
 'applied machine',
 'machine learning',
 'learning training',
 'training data',
 'data machine',
 'machine learning',
 'learning one',
 'one trick',
 'trick pony',
 'pony machine',
 'machine learning',
 'learning service',
 'service mlaas',
 'mlaas many',
 'many form',
 'form machine',
 'machine learning',
 'learning system',
 'system ml',
 'ml ibm',
 'ibm donated',
 'donated apache',
 'apache foundation',
 'foundation natural',
 'natural language',
 'language processing',
 'processing vision',
 'vision personality',
 'personality emotional',
 'emotional insight',
 'insight customer',
 'customer sentiment',
 'sentiment retrieve',
 'retrieve rank',
 'rank ibm',
 'ibm makeit',
 'makeit simple',
 'simple enterprise',
 'enterprise size',
 'size pick',
 'pick choose',
 'choose number',
 'number predefined',
 'predefined machine',
 'machine learning',
 'learning service',
 'service bluemix',
 'bluemix tile',
 'tile figure',
 'figure 2',
 '2 ran',
 'ran earlier',
 'earlier blog',
 'blog personality',
 'personality analyser',
 'analyser knew',
 'knew really',
 'really nice',
 'nice guy',
 'guy reassuring',
 'reassuring hear',
 'hear machine',
 'machine learning',
 'learning service',
 'service believe',
 'believe try',
 'try figure',
 'figure 2',
 '2 machine',
 'machine learning',
 'learning bluemix',
 'bluemix service',
 'service using',
 'using machine',
 'machine learning',
 'learning reduce',
 'reduce cost',
 'cost risk',
 'risk many',
 'many customer',
 'customer across',
 'across different',
 'different industry',
 'industry used',
 'used machine',
 'machine learning',
 'learning capability',
 'capability help',
 'help reduce',
 'reduce cost',
 'cost improve',
 'improve customer',
 'customer service',
 'service reduce',
 'reduce risk',
 'risk vermont',
 'vermont electrical',
 'electrical power',
 'power company',
 'company velco',
 'velco worked',
 'worked ibm',
 'ibm research',
 'research develop',
 'develop integrated',
 'integrated weather',
 'weather forecasting',
 'forecasting system',
 'system help',
 'help deliver',
 'deliver reliable',
 'reliable clean',
 'clean affordable',
 'affordable power',
 'power consumer',
 'consumer integrating',
 'integrating renewable',
 'renewable energy',
 'energy grid',
 'grid solution',
 'solution combine',
 'combine high',
 'high resolution',
 'resolution weather',
 'weather multiple',
 'multiple forecasting',
 'forecasting tool',
 'tool based',
 'based machine',
 'machine learning',
 'learning machine',
 'machine learning',
 'learning model',
 'model trained',
 'trained hindcasts',
 'hindcasts weather',
 'weather correlated',
 'correlated historical',
 'historical energy',
 'energy production',
 'production historical',
 'historical net',
 'net demand',
 'demand result',
 'result precise',
 'precise accurate',
 'accurate wind',
 'wind solar',
 'solar generation',
 ...]

In [2001]:
# helper function: get two grams

def get_bigrams_by_article_id(id):
    title = df_nlp.loc[id].doc_full_name
    desc = df_nlp.loc[id].doc_description
    body = df_nlp.loc[id].doc_body
    
    # a list of tokens
    tokened_text = tokenize(title) + tokenize(desc) + tokenize(body)
    
    # ngrams 2
    grams = [f"{x[0]} {x[1]}" for x in list(bigrams(tokened_text))]
    
    # sort with frequency descending
    sorted_grams = [x[0] for x in Counter(grams).most_common()]
    
    return sorted_grams

In [2002]:
get_bigrams_by_article_id(949)

['logical plan',
 'apache spark',
 'spark sql',
 'c 3',
 'sort operator',
 'parsed logical',
 'make sure',
 'community project',
 'project blog',
 'spark spark',
 'aggregate operator',
 'a1 14',
 'a2 15',
 'sql analyzer',
 'analyzer resolve',
 'resolve order',
 'order column',
 'column apache',
 'sql component',
 'component several',
 'several sub',
 'sub component',
 'component including',
 'including analyzer',
 'analyzer play',
 'play important',
 'important role',
 'role making',
 'making sure',
 'sure logical',
 'plan fully',
 'fully resolved',
 'resolved end',
 'end analysis',
 'analysis phase',
 'phase analyzer',
 'analyzer take',
 'take parsed',
 'plan input',
 'input make',
 'sure table',
 'table reference',
 'reference attribute',
 'attribute column',
 'column reference',
 'reference function',
 'function reference',
 'reference resolved',
 'resolved looking',
 'looking metadata',
 'metadata catalog',
 'catalog work',
 'work applying',
 'applying set',
 'set rule',
 'rule logical',
 'plan transforming',
 'transforming stage',
 'stage order',
 'order resolve',
 'resolve specific',
 'specific portion',
 'portion plan',
 'blog resource',
 'resource code',
 'code contribution',
 'contribution university',
 'university ibm',
 'ibm design',
 'design apache',
 'apache systemml',
 'systemml apache',
 'sql apache',
 'working analyzer',
 'a1 c',
 'c a2',
 'attribute referenced',
 'sort a1',
 'asc true',
 'true aggregate',
 'aggregate c',
 'a1 17',
 'a2 18',
 'mode complete',
 'complete isdistinct',
 'isdistinct false',
 'false a3',
 'a3 19',
 'localrelation 1',
 '1 b',
 'b 2',
 '2 c',
 '3 4',
 '4 e',
 'e 5',
 'operator resolved',
 'referenced sort',
 'child aggregate',
 'order properly',
 'properly resolve',
 'resolve sort',
 'sort resolved',
 'a3 16l',
 'dilip biswal',
 'technology center',
 'apache software',
 'software foundation',
 'plan home',
 'home community',
 'spark tc',
 'tc community',
 'plan examine',
 'examine working',
 'analyzer taking',
 'taking example',
 'example defect',
 'defect describing',
 'describing addressed',
 'addressed problem',
 'problem example',
 'example query',
 'query select',
 'select a1',
 'a2 count',
 'count c',
 'c a3',
 'a3 tab',
 'tab group',
 'group b',
 'b order',
 'order a1',
 'c problem',
 'problem description',
 'description case',
 'case analyzer',
 'analyzer unable',
 'unable resolve',
 'resolve attribute',
 'referenced order',
 'order clause',
 'clause see',
 'see let',
 'let look',
 'look underlying',
 'underlying parsed',
 'plan parsed',
 'plan sort',
 'a1 asc',
 'asc c',
 'c asc',
 'c a1',
 '17 c',
 '18 count',
 'count mode',
 '19 localrelation',
 '5 case',
 'case localrelation',
 'localrelation resolved',
 'resolved none',
 'none plan',
 'plan operator',
 'resolved since',
 'since underlying',
 'underlying attribute',
 'attribute refer',
 'refer resolved',
 'resolved however',
 'however see',
 'see sort',
 'operator aggregate',
 'operator attribute',
 'resolved output',
 'output child',
 'operator output',
 'output aggregate',
 'operator a1',
 '17 a2',
 '18 a3',
 '19 plan',
 'plan missing',
 'missing attribute',
 'attribute c',
 '3 referenced',
 'operator cause',
 'cause failure',
 'failure analysis',
 'analysis process',
 'process turn',
 'turn result',
 'result query',
 'query failure',
 'failure order',
 'operator need',
 'need make',
 'sure a1',
 'a1 sort',
 'resolved immediate',
 'immediate child',
 'c sort',
 'resolved grandchild',
 'grandchild local',
 'local relation',
 'relation spark',
 'spark analyzer',
 'analyzer resolveaggregatefunctions',
 'resolveaggregatefunctions rule',
 'rule modified',
 'modified order',
 'operator query',
 'query result',
 'result following',
 'following analyzed',
 'analyzed logical',
 'plan fix',
 'fix project',
 'project a1',
 '14 a2',
 '15 a3',
 '16l sort',
 '14 asc',
 'asc a2',
 '15 asc',
 'aggregate 1',
 '1 c',
 '3 1',
 '1 a1',
 '14 c',
 '3 a2',
 '15 count',
 'count 1',
 '1 mode',
 '16l localrelation',
 '5 conclusion',
 'conclusion hopefully',
 'hopefully blog',
 'blog give',
 'give brief',
 'brief insight',
 'insight working',
 'analyzer post',
 'post extended',
 'extended description',
 'description analyzer',
 'analyzer future',
 'future general',
 'general handling',
 'handling analyzer',
 'analyzer issue',
 'issue requires',
 'requires deep',
 'deep understanding',
 'understanding spark',
 'spark logical',
 'plan author',
 'author dilip',
 'biswal senior',
 'senior software',
 'software engineer',
 'engineer spark',
 'spark technology',
 'center ibm',
 'ibm active',
 'active apache',
 'spark contributor',
 'contributor work',
 'work open',
 'open source',
 'source community',
 'community experienced',
 'experienced relational',
 'relational database',
 'database distributed',
 'distributed computing',
 'computing big',
 'big data',
 'data analytics',
 'analytics extensively',
 'extensively worked',
 'worked sql',
 'sql engine',
 'engine like',
 'like informix',
 'informix derby',
 'derby big',
 'big sql',
 'sql share',
 'share share',
 'share dilip',
 'biswal date',
 'date 05',
 '05 june',
 'june 2016tags',
 '2016tags spark',
 'apache sparkspark',
 'sparkspark technology',
 'center community',
 'blog apache',
 'foundation affiliation',
 'affiliation endorse',
 'endorse review',
 'review material',
 'material provided',
 'provided website',
 'website managed',
 'managed ibm',
 'ibm apache',
 'apache apache',
 'spark trademark',
 'trademark apache',
 'foundation united',
 'united state',
 'state country']

In [2004]:
# Extract possible topics (terms) for a given article.
# Algorithm explain:
# - Fetch highly relevant articles
# - Get each article's ngrams results
# - Union the ngrams, find intersection terms from these relevant articles.
# Since relevant similarity score is calculated with TFIDF (term frequency),
# so the more relevant, the more highly possible to have intersected ngrams terms.

def extract_topics_bigrams_by_article_id(article_id, m=3):
    
    # m: threadhold of how many most relevant articles to look for
    # (generally, the more instances to union, the less likely to have intersection, 
    # so don't set m too large.)
    
    
    # Get relavant articles ids. (also append self)
    ids = [article_id] + loopup_similar_articles(article_id)[0][:m]
    
    # Get ngrams for each article, and assemble to documents list. 
    documents = [get_bigrams_by_article_id(i) for i in ids]
    
    
    # Find intersected. 
    # Since np.intersect1d only take two instances, use reduce() to
    # do 'batch' processing iteration. 
    topics = functools.reduce(lambda x, y: np.intersect1d(x, y), documents)
    
    return topics

In [2008]:
# Test the result: 

extract_topics_bigrams_by_article_id(788, m=3)

array(['machine learning'], dtype='<U52')

In [2014]:
# Test the result: 

extract_topics_bigrams_by_article_id(1047, m=3)

array(['logistic regression'], dtype='<U29')

In [2020]:
# Check topic extracted against articles

loopup_similar_articles(1047)[1]

['How to Perform a Logistic Regression in R',
 'Build a logistic regression model with WML & DSX',
 'Higher-order Logistic Regression for Large Datasets',
 'Build a Naive-Bayes Model with WML & DSX',
 'Simple Linear Regression? Do It The Bayesian Way',
 'Empirical Bayes for multiple sample sizes',
 'Modern Machine Learning Algorithms',
 'Understanding empirical Bayes estimation (using baseball statistics)',
 'Ensemble Learning to Improve Machine Learning Results',
 'Which One to Choose for Your Problem',
 'Top 10 Machine Learning Algorithms for Beginners',
 'What I Learned Implementing a Classifier from Scratch in Python · Jean-Nicholas Hould',
 'Essentials of Machine Learning Algorithms (with Python and R Codes)',
 '10 Essential Algorithms For Machine Learning Engineers',
 'Deep Learning Achievements Over the Past Year ',
 'ML Algorithm != Learning Machine',
 'Learn TensorFlow and Deep Learning Together and Now!',
 'Dimensionality Reduction Algorithms',
 'Best Practices for Custom Models in Watson Visual Recognition',
 'The Two Phases of Gradient Descent in Deep Learning']

----

In [2052]:
# What are the most viewed (popular) articles? 

def get_most_popular_articles(data=df, n=10):
    # input: n - number of top viewed to return
    
    ids = data.groupby('article_id').size().sort_values(ascending=False).head(n).index
    
    return list(ids.values)

In [2053]:
most_popular_list = list(get_most_popular_articles(n=20))
most_popular_list

[1429.0,
 1330.0,
 1431.0,
 1427.0,
 1364.0,
 1314.0,
 1293.0,
 1170.0,
 1162.0,
 1304.0,
 1436.0,
 1271.0,
 1398.0,
 43.0,
 1351.0,
 1393.0,
 1185.0,
 1160.0,
 1354.0,
 1368.0]

In [2056]:
df[df.article_id.isin(most_popular_list)].title.value_counts()

use deep learning for image classification                            937
insights from new york car accident reports                           927
visualize car data with brunel                                        671
use xgboost, scikit-learn & ibm watson machine learning apis          643
predicting churn with the spss random tree algorithm                  627
healthcare python streaming application demo                          614
finding optimal locations of new store using decision optimization    572
apache spark lab, part 1: basic concepts                              565
analyze energy consumption in buildings                               512
gosales transactions for logistic regression model                    483
welcome to pixiedust                                                  481
customer demographics and sales                                       473
total population by country                                           465
deep learning with tensorflow course by big data university           460
model bike sharing data with spss                                     457
the nurse assignment problem                                          455
classify tumors with machine learning                                 442
analyze accident reports on amazon emr spark                          433
movie recommender system with spark machine learning                  426
putting a human face on machine learning                              418
Name: title, dtype: int64

In [2074]:
df[df.article_id==43.0].title.head(1).values[0]

'deep learning with tensorflow course by big data university'

In [2078]:
df_nlp[df_nlp.article_id==43].doc_full_name.values[0].lower()

'deep learning with tensorflow course by big data university'

In [2079]:
df[df.article_id==43.0].title.head(1).values[0] == df_nlp[df_nlp.article_id==43].doc_full_name.values[0].lower()

True

In [2080]:
df[df.article_id==1427.0].title.head(1).values[0]

'use xgboost, scikit-learn & ibm watson machine learning apis'

----

### Approach
Deal with limit info of article in df. And inconsistent article instance in df, df_content.

In [2091]:
unique_ids_in_df = sorted(list(df.article_id.astype('int64').value_counts().index))

unique_ids_in_df

[0,
 2,
 4,
 8,
 9,
 12,
 14,
 15,
 16,
 18,
 20,
 25,
 26,
 28,
 29,
 30,
 32,
 33,
 34,
 36,
 39,
 40,
 43,
 48,
 50,
 51,
 53,
 54,
 57,
 58,
 59,
 60,
 62,
 64,
 65,
 68,
 74,
 76,
 77,
 78,
 80,
 81,
 82,
 87,
 89,
 92,
 96,
 98,
 100,
 101,
 102,
 103,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 115,
 116,
 117,
 120,
 122,
 124,
 125,
 130,
 131,
 132,
 134,
 136,
 138,
 142,
 143,
 145,
 146,
 151,
 152,
 153,
 157,
 158,
 162,
 164,
 173,
 176,
 181,
 183,
 184,
 188,
 189,
 191,
 193,
 194,
 195,
 202,
 205,
 210,
 213,
 215,
 221,
 223,
 224,
 225,
 230,
 232,
 233,
 234,
 236,
 237,
 239,
 240,
 241,
 244,
 250,
 251,
 252,
 253,
 254,
 256,
 258,
 260,
 263,
 266,
 268,
 270,
 273,
 277,
 278,
 283,
 284,
 288,
 291,
 295,
 297,
 298,
 299,
 302,
 303,
 310,
 311,
 313,
 314,
 315,
 316,
 319,
 323,
 324,
 329,
 330,
 336,
 337,
 339,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 355,
 356,
 359,
 362,
 363,
 364,
 366,
 367,
 369,
 373,
 375,
 376,
 379,
 381,
 382,
 383,
 384,
 389,
 390,
 395,
 398,
 399,
 400,
 404,
 409,
 411,
 412,
 415,
 416,
 417,
 420,
 422,
 426,
 427,
 428,
 429,
 430,
 437,
 440,
 443,
 444,
 446,
 448,
 455,
 460,
 462,
 463,
 464,
 465,
 468,
 470,
 473,
 474,
 475,
 477,
 479,
 480,
 482,
 485,
 486,
 491,
 492,
 494,
 495,
 499,
 500,
 502,
 504,
 508,
 510,
 515,
 517,
 521,
 522,
 524,
 525,
 528,
 532,
 534,
 542,
 544,
 547,
 553,
 555,
 557,
 559,
 563,
 564,
 566,
 567,
 569,
 575,
 583,
 585,
 586,
 588,
 593,
 599,
 600,
 606,
 607,
 609,
 610,
 616,
 617,
 618,
 622,
 626,
 631,
 632,
 634,
 636,
 641,
 644,
 645,
 647,
 651,
 653,
 655,
 656,
 658,
 659,
 662,
 665,
 667,
 668,
 669,
 670,
 673,
 675,
 677,
 678,
 679,
 680,
 681,
 682,
 684,
 686,
 692,
 693,
 695,
 701,
 705,
 708,
 714,
 715,
 720,
 721,
 722,
 723,
 724,
 725,
 727,
 729,
 730,
 732,
 735,
 740,
 744,
 749,
 751,
 757,
 758,
 759,
 760,
 761,
 763,
 764,
 766,
 768,
 778,
 781,
 782,
 784,
 785,
 788,
 793,
 795,
 800,
 805,
 809,
 812,
 813,
 821,
 825,
 833,
 843,
 844,
 846,
 853,
 855,
 857,
 858,
 861,
 862,
 864,
 865,
 868,
 870,
 871,
 876,
 878,
 880,
 881,
 882,
 884,
 887,
 891,
 892,
 896,
 898,
 903,
 905,
 906,
 910,
 911,
 919,
 926,
 928,
 930,
 932,
 933,
 935,
 936,
 939,
 940,
 941,
 943,
 947,
 948,
 949,
 951,
 952,
 955,
 957,
 958,
 959,
 961,
 962,
 965,
 967,
 968,
 969,
 972,
 973,
 974,
 975,
 977,
 981,
 984,
 985,
 986,
 990,
 993,
 996,
 997,
 1000,
 1004,
 1006,
 1008,
 1014,
 1015,
 1016,
 1017,
 1018,
 1024,
 1025,
 1028,
 1030,
 1035,
 1038,
 1042,
 1043,
 1044,
 1047,
 1048,
 1050,
 1051,
 1052,
 1053,
 1054,
 1055,
 1056,
 1057,
 1058,
 1059,
 1060,
 1061,
 1062,
 1063,
 1064,
 1065,
 1066,
 1067,
 1068,
 1069,
 1070,
 1071,
 1072,
 1073,
 1074,
 1075,
 1077,
 1078,
 1079,
 1080,
 1083,
 1084,
 1085,
 1086,
 1089,
 1091,
 1092,
 1097,
 1101,
 1106,
 1108,
 1112,
 1113,
 1114,
 1116,
 1119,
 1120,
 1121,
 1122,
 1123,
 1124,
 1125,
 1127,
 1128,
 1130,
 1134,
 1135,
 1137,
 1138,
 1139,
 1140,
 1141,
 1142,
 1143,
 1144,
 1145,
 1146,
 1147,
 1148,
 1149,
 1150,
 1151,
 1152,
 1153,
 1154,
 1155,
 1156,
 1157,
 1158,
 1159,
 1160,
 1161,
 1162,
 1163,
 1164,
 1165,
 1166,
 1167,
 1168,
 1169,
 1170,
 1171,
 1172,
 1173,
 1174,
 1175,
 1176,
 1177,
 1178,
 1179,
 1180,
 1181,
 1183,
 1184,
 1185,
 1186,
 1187,
 1188,
 1189,
 1190,
 1191,
 1192,
 1195,
 1196,
 1197,
 1198,
 1199,
 1200,
 1202,
 1203,
 1206,
 1208,
 1210,
 1219,
 1221,
 1225,
 1226,
 1227,
 1228,
 1230,
 1232,
 1233,
 1234,
 1235,
 1237,
 1244,
 1247,
 1251,
 1252,
 1253,
 1254,
 1257,
 1260,
 1261,
 1263,
 1266,
 1267,
 1271,
 1273,
 1274,
 1276,
 1277,
 1278,
 1279,
 1280,
 1281,
 1282,
 1283,
 1285,
 1286,
 1289,
 1290,
 1291,
 1292,
 1293,
 1294,
 1295,
 1296,
 1297,
 1298,
 1299,
 1303,
 1304,
 1305,
 1306,
 1307,
 1308,
 1313,
 1314,
 1315,
 1317,
 1318,
 1319,
 1320,
 1321,
 1324,
 1326,
 1328,
 1329,
 1330,
 1331,
 1332,
 1333,
 1334,
 1335,
 1336,
 1337,
 1338,
 1340,
 1343,
 1344,
 1346,
 1348,
 1349,
 1350,
 1351,
 1354,
 1355,
 1356,
 1357,
 1358,
 1359,
 1360,
 1361,
 1362,
 1363,
 1364,
 1365,
 1366,
 1367,
 1368,
 1369,
 1371,
 1372,
 1377,
 1378,
 1386,
 1387,
 1390,
 1391,
 1393,
 1394,
 1395,
 1396,
 1397,
 1398,
 1400,
 1401,
 1402,
 1403,
 1404,
 1405,
 1406,
 1407,
 1408,
 1409,
 1410,
 1411,
 1412,
 1414,
 1415,
 1416,
 1418,
 1419,
 1420,
 1421,
 1422,
 1423,
 1424,
 1425,
 1426,
 1427,
 1428,
 1429,
 1430,
 1431,
 1432,
 1433,
 1434,
 1435,
 1436,
 1437,
 1439,
 1440,
 1441,
 1442,
 1443,
 1444]

In [2094]:
unique_ids_in_df_content = sorted(list(df_content.article_id.astype('int64').value_counts().index))
unique_ids_in_df_content

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 ...]

In [2096]:
# ids that are not in df_content, but appear in df

ids_not_in_df_content = list(set(unique_ids_in_df) - set(unique_ids_in_df_content))
ids_not_in_df_content

[1051,
 1052,
 1053,
 1054,
 1055,
 1056,
 1057,
 1058,
 1059,
 1060,
 1061,
 1062,
 1063,
 1064,
 1065,
 1066,
 1067,
 1068,
 1069,
 1070,
 1071,
 1072,
 1073,
 1074,
 1075,
 1077,
 1078,
 1079,
 1080,
 1083,
 1084,
 1085,
 1086,
 1089,
 1091,
 1092,
 1097,
 1101,
 1106,
 1108,
 1112,
 1113,
 1114,
 1116,
 1119,
 1120,
 1121,
 1122,
 1123,
 1124,
 1125,
 1127,
 1128,
 1130,
 1134,
 1135,
 1137,
 1138,
 1139,
 1140,
 1141,
 1142,
 1143,
 1144,
 1145,
 1146,
 1147,
 1148,
 1149,
 1150,
 1151,
 1152,
 1153,
 1154,
 1155,
 1156,
 1157,
 1158,
 1159,
 1160,
 1161,
 1162,
 1163,
 1164,
 1165,
 1166,
 1167,
 1168,
 1169,
 1170,
 1171,
 1172,
 1173,
 1174,
 1175,
 1176,
 1177,
 1178,
 1179,
 1180,
 1181,
 1183,
 1184,
 1185,
 1186,
 1187,
 1188,
 1189,
 1190,
 1191,
 1192,
 1195,
 1196,
 1197,
 1198,
 1199,
 1200,
 1202,
 1203,
 1206,
 1208,
 1210,
 1219,
 1221,
 1225,
 1226,
 1227,
 1228,
 1230,
 1232,
 1233,
 1234,
 1235,
 1237,
 1244,
 1247,
 1251,
 1252,
 1253,
 1254,
 1257,
 1260,
 1261,
 1263,
 1266,
 1267,
 1271,
 1273,
 1274,
 1276,
 1277,
 1278,
 1279,
 1280,
 1281,
 1282,
 1283,
 1285,
 1286,
 1289,
 1290,
 1291,
 1292,
 1293,
 1294,
 1295,
 1296,
 1297,
 1298,
 1299,
 1303,
 1304,
 1305,
 1306,
 1307,
 1308,
 1313,
 1314,
 1315,
 1317,
 1318,
 1319,
 1320,
 1321,
 1324,
 1326,
 1328,
 1329,
 1330,
 1331,
 1332,
 1333,
 1334,
 1335,
 1336,
 1337,
 1338,
 1340,
 1343,
 1344,
 1346,
 1348,
 1349,
 1350,
 1351,
 1354,
 1355,
 1356,
 1357,
 1358,
 1359,
 1360,
 1361,
 1362,
 1363,
 1364,
 1365,
 1366,
 1367,
 1368,
 1369,
 1371,
 1372,
 1377,
 1378,
 1386,
 1387,
 1390,
 1391,
 1393,
 1394,
 1395,
 1396,
 1397,
 1398,
 1400,
 1401,
 1402,
 1403,
 1404,
 1405,
 1406,
 1407,
 1408,
 1409,
 1410,
 1411,
 1412,
 1414,
 1415,
 1416,
 1418,
 1419,
 1420,
 1421,
 1422,
 1423,
 1424,
 1425,
 1426,
 1427,
 1428,
 1429,
 1430,
 1431,
 1432,
 1433,
 1434,
 1435,
 1436,
 1437,
 1439,
 1440,
 1441,
 1442,
 1443,
 1444]

In [2098]:
# There are 277 articles that mentioned in df, but not shown in df_content. 
# (inconsistency: the given df_content is not up to date)
# For these 277 articles, we only have 'page title' information. 

len(ids_not_in_df_content)

277

In [2144]:
# Subset the diff articles dataframe

ids_not_in_df_content_float = [float(x) for x in ids_not_in_df_content]

df_diff = df[df.article_id.isin(ids_not_in_df_content_float)][['article_id', 'title']].drop_duplicates()

df_diff.article_id = df_diff.article_id.astype('int64')

df_diff = df_diff.sort_values(by='article_id', ascending=True)

df_diff.index = df_diff.article_id.values.flatten()

df_diff

      article_id                                              title
1051        1051  a tensorflow regression model to predict house...
1052        1052  access db2 warehouse on cloud and db2 with python
1053        1053                           access mysql with python
1054        1054                                access mysql with r
1055        1055                      access postgresql with python
...          ...                                                ...
1440        1440                                world marriage data
1441        1441  world tourism data by the world tourism organi...
1442        1442  worldwide county and region - national account...
1443        1443  worldwide electricity demand and production 19...
1444        1444  worldwide fuel oil consumption by household (i...

[277 rows x 2 columns]

**As these diff articles only have title info, we can build a title-title similary model based on TFIDF of title-title**

In [2143]:
df_content_titles_subset = df_content[['article_id', 'doc_full_name']]

df_content_titles_subset.columns = [['article_id', 'title']]

df_content_titles_subset.index = df_content_titles_subset['article_id'].values.flatten()

df_content_titles_subset

     article_id                                              title
0             0  Detect Malfunctioning IoT Sensors with Streami...
1             1  Communicating data science: A guide to present...
2             2         This Week in Data Science (April 18, 2017)
3             3  DataLayer Conference: Boost the performance of...
4             4      Analyze NY Restaurant data using Spark in DSX
...         ...                                                ...
1046       1046            A look under the covers of PouchDB-find
1047       1047  A comparison of logistic regression and naive ...
1048       1048  What I Learned Implementing a Classifier from ...
1049       1049                              Use dashDB with Spark
1050       1050  Jupyter Notebooks with Scala, Python, or R Ker...

[1051 rows x 2 columns]

In [2171]:
a = df_content_titles_subset.to_numpy()

In [2172]:
b = df_diff.to_numpy()

In [2178]:
all_titles_np = np.concatenate((a, b))
all_titles_np

array([[0, 'Detect Malfunctioning IoT Sensors with Streaming Analytics'],
       [1, 'Communicating data science: A guide to presenting your work'],
       [2, 'This Week in Data Science (April 18, 2017)'],
       ...,
       [1442,
        'worldwide county and region - national accounts - gross national income 1948-2010'],
       [1443, 'worldwide electricity demand and production 1990-2012'],
       [1444,
        'worldwide fuel oil consumption by household (in 1000 metric tons)']],
      dtype=object)

In [2180]:
len(all_titles_np)

1328

In [2185]:
titles_df = pd.DataFrame(all_titles_np)
titles_df.columns = ['article_id', 'title']
titles_df.index = titles_df.article_id
titles_df.tail(50)

           article_id                                              title
article_id
1390             1390  style transfer experiments with watson machine...
1391             1391                                             sudoku
1393             1393                       the nurse assignment problem
1394             1394                  the nurse assignment problem data
1395             1395                        the unit commitment problem
1396             1396            times world university ranking analysis
1397             1397  total employment, by economic activity (thousa...
1398             1398                        total population by country
1400             1400  uci ml repository: chronic kidney disease data...
1401             1401                                       uci: abalone
1402             1402                        uci: adult - predict income
1403             1403                                uci: car evaluation
1404             1404                                  uci: forest fires
1405             1405                     uci: heart disease - cleveland
1406             1406                                          uci: iris
1407             1407                 uci: poker hand - testing data set
1408             1408                uci: poker hand - training data set
1409             1409                              uci: red wine quality
1410             1410                           uci: sms spam collection
1411             1411                            uci: white wine quality
1412             1412                              uci: wine recognition
1414             1414      united states demographic measures: education
1415             1415         united states demographic measures: income
1416             1416  united states demographic measures: population...
1418             1418  united states demographic measures: zip code t...
1419             1419  unmet need for family planning, spacing, perce...
1420             1420  use apache systemml and spark for machine lear...
1421             1421                   use pmml to predict iris species
1422             1422  use r dataframes & ibm watson natural language...
1423             1423                 use sql with data in hadoop python
1424             1424  use spark for python to load data and run sql ...
1425             1425   use spark for r to load data and run sql queries
1426             1426  use spark for scala to load data and run sql q...
1427             1427  use xgboost, scikit-learn & ibm watson machine...
1428             1428  use decision optimization to schedule league g...
1429             1429         use deep learning for image classification
1430             1430  using pixiedust for fast, flexible, and easier...
1431             1431                     visualize car data with brunel
1432             1432         visualize data with the matplotlib library
1433             1433         visualize the 1854 london cholera outbreak
1434             1434                                              wages
1435             1435  watson assistant workspace analysis with user ...
1436             1436                               welcome to pixiedust
1437             1437               what caused the challenger disaster?
1439             1439         working with ibm cloud object storage in r
1440             1440                                world marriage data
1441             1441  world tourism data by the world tourism organi...
1442             1442  worldwide county and region - national account...
1443             1443  worldwide electricity demand and production 19...
1444             1444  worldwide fuel oil consumption by household (i...

Make a dataframe, store title-title-similarity.

In [2187]:
titles_df.shape[0]

1328

In [2188]:
# Make a title-title dummy dataframe.
title_title = pd.DataFrame(
                data=np.zeros((titles_df.shape[0],titles_df.shape[0])), 
                index=titles_df.index, 
                columns=titles_df.index
            )

title_title

article_id,0,1,2,3,4,5,6,7,8,9,...,1434,1435,1436,1437,1439,1440,1441,1442,1443,1444
article_id,,,,,,,,,,,,,,,,,,,,,
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1440,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1441,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1442,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1443,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1444,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [2189]:
def compute_title_similarity(article_id_1, article_id_2, data=titles_df):
    # Compute the consine similarity based on tfidf of title (doc_full_name)
    # Based on the titles df (union all titles in df and df_content)
    

    doc_a = ' '.join(tokenize(data.loc[article_id_1].title))
    doc_b = ' '.join(tokenize(data.loc[article_id_2].title))
    
    

    # combine to a list of documents
    documents = [doc_a, doc_b]

    
    # instanciate a scikitlearn tfidf vecorizer
    vectorizer = TfidfVectorizer()

    # fit transform to get a sparse matrix
    matrix = vectorizer.fit_transform(documents)


    # # UnComment out belows to examing details (term features, tfidf values)
    # ====================================
    # term_features =  vectorizer.get_feature_names_out()

    # # convert to readable array 
    # matrix_array = matrix.toarray()

    # # assemble to a dataframe for explor 
    # tfidf_dataframe = pd.DataFrame(data=matrix_array, columns=term_features)
    # ====================================


    return cosine_similarity(matrix[:1], matrix[1:])[0][0]

In [2197]:
compute_title_similarity(284, 977)

0.22576484600261607

In [2201]:
# Iterations. Update the similar score values to title_title

# ATTENTION: THE ITERATION TAKES time, better to track progress


start = time.time()


# Number of articles in title_title
len_articles = title_title.shape[0]


# List of index of all articles
idx_articles = list(title_title.index)

# Last idx for tracking in print
idx_last = title_title.tail(1).index[0]

# Loop thru each article: for each row, loop each columns. 
for i in idx_articles:
    print(f"Processing row {i} of {idx_last}.")
    
    for j in idx_articles:
        title_title.loc[i, j] = compute_title_similarity(i, j)
        

end = time.time()
print(f"\nTotal Time Processed:")
print(end - start)

Processing row 0 of 1444.
Processing row 1 of 1444.
Processing row 2 of 1444.
Processing row 3 of 1444.
Processing row 4 of 1444.
Processing row 5 of 1444.
Processing row 6 of 1444.
Processing row 7 of 1444.
Processing row 8 of 1444.
Processing row 9 of 1444.
Processing row 10 of 1444.
Processing row 11 of 1444.
Processing row 12 of 1444.
Processing row 13 of 1444.
Processing row 14 of 1444.
Processing row 15 of 1444.
Processing row 16 of 1444.
Processing row 17 of 1444.
Processing row 18 of 1444.
Processing row 19 of 1444.
Processing row 20 of 1444.
Processing row 21 of 1444.
Processing row 22 of 1444.
Processing row 23 of 1444.
Processing row 24 of 1444.
Processing row 25 of 1444.
Processing row 26 of 1444.
Processing row 27 of 1444.
Processing row 28 of 1444.
Processing row 29 of 1444.
Processing row 30 of 1444.
Processing row 31 of 1444.
Processing row 32 of 1444.
Processing row 33 of 1444.
Processing row 34 of 1444.
Processing row 35 of 1444.
Processing row 36 of 1444.
Processing row 37 of 1444.
Processing row 38 of 1444.
Processing row 39 of 1444.
Processing row 40 of 1444.
Processing row 41 of 1444.
Processing row 42 of 1444.
Processing row 43 of 1444.
Processing row 44 of 1444.
Processing row 45 of 1444.
Processing row 46 of 1444.
Processing row 47 of 1444.
Processing row 48 of 1444.
Processing row 49 of 1444.
Processing row 50 of 1444.
Processing row 51 of 1444.
Processing row 52 of 1444.
Processing row 53 of 1444.
Processing row 54 of 1444.
Processing row 55 of 1444.
Processing row 56 of 1444.
Processing row 57 of 1444.
Processing row 58 of 1444.
Processing row 59 of 1444.
Processing row 60 of 1444.
Processing row 61 of 1444.
Processing row 62 of 1444.
Processing row 63 of 1444.
Processing row 64 of 1444.
Processing row 65 of 1444.
Processing row 66 of 1444.
Processing row 67 of 1444.
Processing row 68 of 1444.
Processing row 69 of 1444.
Processing row 70 of 1444.
Processing row 71 of 1444.
Processing row 72 of 1444.
Processing row 73 of 1444.
Processing row 74 of 1444.
Processing row 75 of 1444.
Processing row 76 of 1444.
Processing row 77 of 1444.
Processing row 78 of 1444.
Processing row 79 of 1444.
Processing row 80 of 1444.
Processing row 81 of 1444.
Processing row 82 of 1444.
Processing row 83 of 1444.
Processing row 84 of 1444.
Processing row 85 of 1444.
Processing row 86 of 1444.
Processing row 87 of 1444.
Processing row 88 of 1444.
Processing row 89 of 1444.
Processing row 90 of 1444.
Processing row 91 of 1444.
Processing row 92 of 1444.
Processing row 93 of 1444.
Processing row 94 of 1444.
Processing row 95 of 1444.
Processing row 96 of 1444.
Processing row 97 of 1444.
Processing row 98 of 1444.
Processing row 99 of 1444.
Processing row 100 of 1444.
Processing row 101 of 1444.
Processing row 102 of 1444.
Processing row 103 of 1444.
Processing row 104 of 1444.
Processing row 105 of 1444.
Processing row 106 of 1444.
Processing row 107 of 1444.
Processing row 108 of 1444.
Processing row 109 of 1444.
Processing row 110 of 1444.
Processing row 111 of 1444.
Processing row 112 of 1444.
Processing row 113 of 1444.
Processing row 114 of 1444.
Processing row 115 of 1444.
Processing row 116 of 1444.
Processing row 117 of 1444.
Processing row 118 of 1444.
Processing row 119 of 1444.
Processing row 120 of 1444.
Processing row 121 of 1444.
Processing row 122 of 1444.
Processing row 123 of 1444.
Processing row 124 of 1444.
Processing row 125 of 1444.
Processing row 126 of 1444.
Processing row 127 of 1444.
Processing row 128 of 1444.
Processing row 129 of 1444.
Processing row 130 of 1444.
Processing row 131 of 1444.
Processing row 132 of 1444.
Processing row 133 of 1444.
Processing row 134 of 1444.
Processing row 135 of 1444.
Processing row 136 of 1444.
Processing row 137 of 1444.
Processing row 138 of 1444.
Processing row 139 of 1444.
Processing row 140 of 1444.
Processing row 141 of 1444.
Processing row 142 of 1444.
Processing row 143 of 1444.
Processing row 144 of 1444.
Processing row 145 of 1444.
Processing row 146 of 1444.
Processing row 147 of 1444.
Processing row 148 of 1444.
Processing row 149 of 1444.
Processing row 150 of 1444.
Processing row 151 of 1444.
Processing row 152 of 1444.
Processing row 153 of 1444.
Processing row 154 of 1444.
Processing row 155 of 1444.
Processing row 156 of 1444.
Processing row 157 of 1444.
Processing row 158 of 1444.
Processing row 159 of 1444.
Processing row 160 of 1444.
Processing row 161 of 1444.
Processing row 162 of 1444.
Processing row 163 of 1444.
Processing row 164 of 1444.
Processing row 165 of 1444.
Processing row 166 of 1444.
Processing row 167 of 1444.
Processing row 168 of 1444.
Processing row 169 of 1444.
Processing row 170 of 1444.
Processing row 171 of 1444.
Processing row 172 of 1444.
Processing row 173 of 1444.
Processing row 174 of 1444.
Processing row 175 of 1444.
Processing row 176 of 1444.
Processing row 177 of 1444.
Processing row 178 of 1444.
Processing row 179 of 1444.
Processing row 180 of 1444.
Processing row 181 of 1444.
Processing row 182 of 1444.
Processing row 183 of 1444.
Processing row 184 of 1444.
Processing row 185 of 1444.
Processing row 186 of 1444.
Processing row 187 of 1444.
Processing row 188 of 1444.
Processing row 189 of 1444.
Processing row 190 of 1444.
Processing row 191 of 1444.
Processing row 192 of 1444.
Processing row 193 of 1444.
Processing row 194 of 1444.
Processing row 195 of 1444.
Processing row 196 of 1444.
Processing row 197 of 1444.
Processing row 198 of 1444.
Processing row 199 of 1444.
Processing row 200 of 1444.
Processing row 201 of 1444.
Processing row 202 of 1444.
Processing row 203 of 1444.
Processing row 204 of 1444.
Processing row 205 of 1444.
Processing row 206 of 1444.
Processing row 207 of 1444.
Processing row 208 of 1444.
Processing row 209 of 1444.
Processing row 210 of 1444.
Processing row 211 of 1444.
Processing row 212 of 1444.
Processing row 213 of 1444.
Processing row 214 of 1444.
Processing row 215 of 1444.
Processing row 216 of 1444.
Processing row 217 of 1444.
Processing row 218 of 1444.
Processing row 219 of 1444.
Processing row 220 of 1444.
Processing row 221 of 1444.
Processing row 222 of 1444.
Processing row 223 of 1444.
Processing row 224 of 1444.
Processing row 225 of 1444.
Processing row 226 of 1444.
Processing row 227 of 1444.
Processing row 228 of 1444.
Processing row 229 of 1444.
Processing row 230 of 1444.
Processing row 231 of 1444.
Processing row 232 of 1444.
Processing row 233 of 1444.
Processing row 234 of 1444.
Processing row 235 of 1444.
Processing row 236 of 1444.
Processing row 237 of 1444.
Processing row 238 of 1444.
Processing row 239 of 1444.
Processing row 240 of 1444.
Processing row 241 of 1444.
Processing row 242 of 1444.
Processing row 243 of 1444.
Processing row 244 of 1444.
Processing row 245 of 1444.
Processing row 246 of 1444.
Processing row 247 of 1444.
Processing row 248 of 1444.
Processing row 249 of 1444.
Processing row 250 of 1444.
Processing row 251 of 1444.
Processing row 252 of 1444.
Processing row 253 of 1444.
Processing row 254 of 1444.
Processing row 255 of 1444.
Processing row 256 of 1444.
Processing row 257 of 1444.
Processing row 258 of 1444.
Processing row 259 of 1444.
Processing row 260 of 1444.
Processing row 261 of 1444.
Processing row 262 of 1444.
Processing row 263 of 1444.
Processing row 264 of 1444.
Processing row 265 of 1444.
Processing row 266 of 1444.
Processing row 267 of 1444.
Processing row 268 of 1444.
Processing row 269 of 1444.
Processing row 270 of 1444.
Processing row 271 of 1444.
Processing row 272 of 1444.
Processing row 273 of 1444.
Processing row 274 of 1444.
Processing row 275 of 1444.
Processing row 276 of 1444.
Processing row 277 of 1444.
Processing row 278 of 1444.
Processing row 279 of 1444.
Processing row 280 of 1444.
Processing row 281 of 1444.
Processing row 282 of 1444.
Processing row 283 of 1444.
Processing row 284 of 1444.
Processing row 285 of 1444.
Processing row 286 of 1444.
Processing row 287 of 1444.
Processing row 288 of 1444.
Processing row 289 of 1444.
Processing row 290 of 1444.
Processing row 291 of 1444.
Processing row 292 of 1444.
Processing row 293 of 1444.
Processing row 294 of 1444.
Processing row 295 of 1444.
Processing row 296 of 1444.

Processing row 297 of 1444.
Processing row 298 of 1444.
Processing row 299 of 1444.
Processing row 300 of 1444.
Processing row 301 of 1444.
Processing row 302 of 1444.
Processing row 303 of 1444.
Processing row 304 of 1444.
Processing row 305 of 1444.
Processing row 306 of 1444.
Processing row 307 of 1444.
Processing row 308 of 1444.
Processing row 309 of 1444.
Processing row 310 of 1444.
Processing row 311 of 1444.
Processing row 312 of 1444.
Processing row 313 of 1444.
Processing row 314 of 1444.
Processing row 315 of 1444.
Processing row 316 of 1444.
Processing row 317 of 1444.
Processing row 318 of 1444.
Processing row 319 of 1444.
Processing row 320 of 1444.
Processing row 321 of 1444.
Processing row 322 of 1444.
Processing row 323 of 1444.
Processing row 324 of 1444.
Processing row 325 of 1444.
Processing row 326 of 1444.
Processing row 327 of 1444.
Processing row 328 of 1444.
Processing row 329 of 1444.
Processing row 330 of 1444.
Processing row 331 of 1444.
Processing row 332 of 1444.
Processing row 333 of 1444.
Processing row 334 of 1444.
Processing row 335 of 1444.
Processing row 336 of 1444.
Processing row 337 of 1444.
Processing row 338 of 1444.
Processing row 339 of 1444.
Processing row 340 of 1444.
Processing row 341 of 1444.
Processing row 342 of 1444.
Processing row 343 of 1444.
Processing row 344 of 1444.
Processing row 345 of 1444.
Processing row 346 of 1444.
Processing row 347 of 1444.
Processing row 348 of 1444.
Processing row 349 of 1444.
Processing row 350 of 1444.
Processing row 351 of 1444.
Processing row 352 of 1444.
Processing row 353 of 1444.
Processing row 354 of 1444.
Processing row 355 of 1444.
Processing row 356 of 1444.
Processing row 357 of 1444.
Processing row 358 of 1444.
Processing row 359 of 1444.
Processing row 360 of 1444.
Processing row 361 of 1444.
Processing row 362 of 1444.
Processing row 363 of 1444.
Processing row 364 of 1444.
Processing row 365 of 1444.
Processing row 366 of 1444.
Processing row 367 of 1444.
Processing row 368 of 1444.
Processing row 369 of 1444.
Processing row 370 of 1444.
Processing row 371 of 1444.
Processing row 372 of 1444.
Processing row 373 of 1444.
Processing row 374 of 1444.
Processing row 375 of 1444.
Processing row 376 of 1444.
Processing row 377 of 1444.
Processing row 378 of 1444.
Processing row 379 of 1444.
Processing row 380 of 1444.
Processing row 381 of 1444.
Processing row 382 of 1444.
Processing row 383 of 1444.
Processing row 384 of 1444.
Processing row 385 of 1444.
Processing row 386 of 1444.
Processing row 387 of 1444.
Processing row 388 of 1444.
Processing row 389 of 1444.
Processing row 390 of 1444.
Processing row 391 of 1444.
Processing row 392 of 1444.
Processing row 393 of 1444.
Processing row 394 of 1444.
Processing row 395 of 1444.
Processing row 396 of 1444.
Processing row 397 of 1444.
Processing row 398 of 1444.
Processing row 399 of 1444.
Processing row 400 of 1444.
Processing row 401 of 1444.
Processing row 402 of 1444.
Processing row 403 of 1444.
Processing row 404 of 1444.
Processing row 405 of 1444.
Processing row 406 of 1444.
Processing row 407 of 1444.
Processing row 408 of 1444.
Processing row 409 of 1444.
Processing row 410 of 1444.
Processing row 411 of 1444.
Processing row 412 of 1444.
Processing row 413 of 1444.
Processing row 414 of 1444.
Processing row 415 of 1444.
Processing row 416 of 1444.
Processing row 417 of 1444.
Processing row 418 of 1444.
Processing row 419 of 1444.
Processing row 420 of 1444.
Processing row 421 of 1444.
Processing row 422 of 1444.
Processing row 423 of 1444.
Processing row 424 of 1444.
Processing row 425 of 1444.
Processing row 426 of 1444.
Processing row 427 of 1444.
Processing row 428 of 1444.
Processing row 429 of 1444.
Processing row 430 of 1444.
Processing row 431 of 1444.
Processing row 432 of 1444.
Processing row 433 of 1444.
Processing row 434 of 1444.
Processing row 435 of 1444.
Processing row 436 of 1444.
Processing row 437 of 1444.
Processing row 438 of 1444.
Processing row 439 of 1444.
Processing row 440 of 1444.
Processing row 441 of 1444.
Processing row 442 of 1444.
Processing row 443 of 1444.
Processing row 444 of 1444.
Processing row 445 of 1444.
Processing row 446 of 1444.
Processing row 447 of 1444.
Processing row 448 of 1444.
Processing row 449 of 1444.
Processing row 450 of 1444.
Processing row 451 of 1444.
Processing row 452 of 1444.
Processing row 453 of 1444.
Processing row 454 of 1444.
Processing row 455 of 1444.
Processing row 456 of 1444.
Processing row 457 of 1444.
Processing row 458 of 1444.
Processing row 459 of 1444.
Processing row 460 of 1444.
Processing row 461 of 1444.
Processing row 462 of 1444.
Processing row 463 of 1444.
Processing row 464 of 1444.
Processing row 465 of 1444.
Processing row 466 of 1444.
Processing row 467 of 1444.
Processing row 468 of 1444.
Processing row 469 of 1444.
Processing row 470 of 1444.
Processing row 471 of 1444.
Processing row 472 of 1444.
Processing row 473 of 1444.
Processing row 474 of 1444.
Processing row 475 of 1444.
Processing row 476 of 1444.
Processing row 477 of 1444.
Processing row 478 of 1444.
Processing row 479 of 1444.
Processing row 480 of 1444.
Processing row 481 of 1444.
Processing row 482 of 1444.
Processing row 483 of 1444.
Processing row 484 of 1444.
Processing row 485 of 1444.
Processing row 486 of 1444.
Processing row 487 of 1444.
Processing row 488 of 1444.
Processing row 489 of 1444.
Processing row 490 of 1444.
Processing row 491 of 1444.
Processing row 492 of 1444.
Processing row 493 of 1444.
Processing row 494 of 1444.
Processing row 495 of 1444.
Processing row 496 of 1444.
Processing row 497 of 1444.
Processing row 498 of 1444.
Processing row 499 of 1444.
Processing row 500 of 1444.
Processing row 501 of 1444.
Processing row 502 of 1444.
Processing row 503 of 1444.
Processing row 504 of 1444.
Processing row 505 of 1444.
Processing row 506 of 1444.
Processing row 507 of 1444.
Processing row 508 of 1444.
Processing row 509 of 1444.
Processing row 510 of 1444.
Processing row 511 of 1444.
Processing row 512 of 1444.
Processing row 513 of 1444.
Processing row 514 of 1444.
Processing row 515 of 1444.
Processing row 516 of 1444.
Processing row 517 of 1444.
Processing row 518 of 1444.
Processing row 519 of 1444.
Processing row 520 of 1444.
Processing row 521 of 1444.
Processing row 522 of 1444.
Processing row 523 of 1444.
Processing row 524 of 1444.
Processing row 525 of 1444.
Processing row 526 of 1444.
Processing row 527 of 1444.
Processing row 528 of 1444.
Processing row 529 of 1444.
Processing row 530 of 1444.
Processing row 531 of 1444.
Processing row 532 of 1444.
Processing row 533 of 1444.
Processing row 534 of 1444.
Processing row 535 of 1444.
Processing row 536 of 1444.
Processing row 537 of 1444.
Processing row 538 of 1444.
Processing row 539 of 1444.
Processing row 540 of 1444.
Processing row 541 of 1444.
Processing row 542 of 1444.
Processing row 543 of 1444.
Processing row 544 of 1444.
Processing row 545 of 1444.
Processing row 546 of 1444.
Processing row 547 of 1444.
Processing row 548 of 1444.
Processing row 549 of 1444.
Processing row 550 of 1444.
Processing row 551 of 1444.
Processing row 552 of 1444.
Processing row 553 of 1444.
Processing row 554 of 1444.
Processing row 555 of 1444.
Processing row 556 of 1444.
Processing row 557 of 1444.
Processing row 558 of 1444.
Processing row 559 of 1444.
Processing row 560 of 1444.
Processing row 561 of 1444.
Processing row 562 of 1444.
Processing row 563 of 1444.
Processing row 564 of 1444.
Processing row 565 of 1444.
Processing row 566 of 1444.
Processing row 567 of 1444.
Processing row 568 of 1444.
Processing row 569 of 1444.
Processing row 570 of 1444.
Processing row 571 of 1444.
Processing row 572 of 1444.
Processing row 573 of 1444.
Processing row 574 of 1444.
Processing row 575 of 1444.
Processing row 576 of 1444.
Processing row 577 of 1444.
Processing row 578 of 1444.
Processing row 579 of 1444.
Processing row 580 of 1444.
Processing row 581 of 1444.
Processing row 582 of 1444.
Processing row 583 of 1444.
Processing row 584 of 1444.
Processing row 585 of 1444.
Processing row 586 of 1444.
Processing row 587 of 1444.
Processing row 588 of 1444.
Processing row 589 of 1444.

Processing row 590 of 1444.
Processing row 591 of 1444.
Processing row 592 of 1444.
Processing row 593 of 1444.
Processing row 594 of 1444.
Processing row 595 of 1444.
Processing row 596 of 1444.
Processing row 597 of 1444.
Processing row 598 of 1444.
Processing row 599 of 1444.
Processing row 600 of 1444.
Processing row 601 of 1444.
Processing row 602 of 1444.
Processing row 603 of 1444.
Processing row 604 of 1444.
Processing row 605 of 1444.
Processing row 606 of 1444.
Processing row 607 of 1444.
Processing row 608 of 1444.
Processing row 609 of 1444.
Processing row 610 of 1444.
Processing row 611 of 1444.
Processing row 612 of 1444.
Processing row 613 of 1444.
Processing row 614 of 1444.
Processing row 615 of 1444.
Processing row 616 of 1444.
Processing row 617 of 1444.
Processing row 618 of 1444.
Processing row 619 of 1444.
Processing row 620 of 1444.
Processing row 621 of 1444.
Processing row 622 of 1444.
Processing row 623 of 1444.
Processing row 624 of 1444.
Processing row 625 of 1444.
Processing row 626 of 1444.
Processing row 627 of 1444.
Processing row 628 of 1444.
Processing row 629 of 1444.
Processing row 630 of 1444.
Processing row 631 of 1444.
Processing row 632 of 1444.
Processing row 633 of 1444.
Processing row 634 of 1444.
Processing row 635 of 1444.
Processing row 636 of 1444.
Processing row 637 of 1444.
Processing row 638 of 1444.
Processing row 639 of 1444.
Processing row 640 of 1444.
Processing row 641 of 1444.
Processing row 642 of 1444.
Processing row 643 of 1444.
Processing row 644 of 1444.
Processing row 645 of 1444.
Processing row 646 of 1444.
Processing row 647 of 1444.
Processing row 648 of 1444.
Processing row 649 of 1444.
Processing row 650 of 1444.
Processing row 651 of 1444.
Processing row 652 of 1444.
Processing row 653 of 1444.
Processing row 654 of 1444.
Processing row 655 of 1444.
Processing row 656 of 1444.
Processing row 657 of 1444.
Processing row 658 of 1444.
Processing row 659 of 1444.
Processing row 660 of 1444.
Processing row 661 of 1444.
Processing row 662 of 1444.
Processing row 663 of 1444.
Processing row 664 of 1444.
Processing row 665 of 1444.
Processing row 666 of 1444.
Processing row 667 of 1444.
Processing row 668 of 1444.
Processing row 669 of 1444.
Processing row 670 of 1444.
Processing row 671 of 1444.
Processing row 672 of 1444.
Processing row 673 of 1444.
Processing row 674 of 1444.
Processing row 675 of 1444.
Processing row 676 of 1444.
Processing row 677 of 1444.
Processing row 678 of 1444.
Processing row 679 of 1444.
Processing row 680 of 1444.
Processing row 681 of 1444.
Processing row 682 of 1444.
Processing row 683 of 1444.
Processing row 684 of 1444.
Processing row 685 of 1444.
Processing row 686 of 1444.
Processing row 687 of 1444.
Processing row 688 of 1444.
Processing row 689 of 1444.
Processing row 690 of 1444.
Processing row 691 of 1444.
Processing row 692 of 1444.
Processing row 693 of 1444.
Processing row 694 of 1444.
Processing row 695 of 1444.
Processing row 696 of 1444.
Processing row 697 of 1444.
Processing row 698 of 1444.
Processing row 699 of 1444.
Processing row 700 of 1444.
Processing row 701 of 1444.
Processing row 702 of 1444.
Processing row 703 of 1444.
Processing row 704 of 1444.
Processing row 705 of 1444.
Processing row 706 of 1444.
Processing row 707 of 1444.
Processing row 708 of 1444.
Processing row 709 of 1444.
Processing row 710 of 1444.
Processing row 711 of 1444.
Processing row 712 of 1444.
Processing row 713 of 1444.
Processing row 714 of 1444.
Processing row 715 of 1444.
Processing row 716 of 1444.
Processing row 717 of 1444.
Processing row 718 of 1444.
Processing row 719 of 1444.
Processing row 720 of 1444.
Processing row 721 of 1444.
Processing row 722 of 1444.
Processing row 723 of 1444.
Processing row 724 of 1444.
Processing row 725 of 1444.
Processing row 726 of 1444.
Processing row 727 of 1444.
Processing row 728 of 1444.
Processing row 729 of 1444.
Processing row 730 of 1444.
Processing row 731 of 1444.
Processing row 732 of 1444.
Processing row 733 of 1444.
Processing row 734 of 1444.
Processing row 735 of 1444.
Processing row 736 of 1444.
Processing row 737 of 1444.
Processing row 738 of 1444.
Processing row 739 of 1444.
Processing row 740 of 1444.
Processing row 741 of 1444.
Processing row 742 of 1444.
Processing row 743 of 1444.
Processing row 744 of 1444.
Processing row 745 of 1444.
Processing row 746 of 1444.
Processing row 747 of 1444.
Processing row 748 of 1444.
Processing row 749 of 1444.
Processing row 750 of 1444.
Processing row 751 of 1444.
Processing row 752 of 1444.
Processing row 753 of 1444.
Processing row 754 of 1444.
Processing row 755 of 1444.
Processing row 756 of 1444.
Processing row 757 of 1444.
Processing row 758 of 1444.
Processing row 759 of 1444.
Processing row 760 of 1444.
Processing row 761 of 1444.
Processing row 762 of 1444.
Processing row 763 of 1444.
Processing row 764 of 1444.
Processing row 765 of 1444.
Processing row 766 of 1444.
Processing row 767 of 1444.
Processing row 768 of 1444.
Processing row 769 of 1444.
Processing row 770 of 1444.
Processing row 771 of 1444.
Processing row 772 of 1444.
Processing row 773 of 1444.
Processing row 774 of 1444.
Processing row 775 of 1444.
Processing row 776 of 1444.
Processing row 777 of 1444.
Processing row 778 of 1444.
Processing row 779 of 1444.
Processing row 780 of 1444.
Processing row 781 of 1444.
Processing row 782 of 1444.
Processing row 783 of 1444.
Processing row 784 of 1444.
Processing row 785 of 1444.
Processing row 786 of 1444.
Processing row 787 of 1444.
Processing row 788 of 1444.
Processing row 789 of 1444.
Processing row 790 of 1444.
Processing row 791 of 1444.
Processing row 792 of 1444.
Processing row 793 of 1444.
Processing row 794 of 1444.
Processing row 795 of 1444.
Processing row 796 of 1444.
Processing row 797 of 1444.
Processing row 798 of 1444.
Processing row 799 of 1444.
Processing row 800 of 1444.
Processing row 801 of 1444.
Processing row 802 of 1444.
Processing row 803 of 1444.
Processing row 804 of 1444.
Processing row 805 of 1444.
Processing row 806 of 1444.
Processing row 807 of 1444.
Processing row 808 of 1444.
Processing row 809 of 1444.
Processing row 810 of 1444.
Processing row 811 of 1444.
Processing row 812 of 1444.
Processing row 813 of 1444.
Processing row 814 of 1444.
Processing row 815 of 1444.
Processing row 816 of 1444.
Processing row 817 of 1444.
Processing row 818 of 1444.
Processing row 819 of 1444.
Processing row 820 of 1444.
Processing row 821 of 1444.
Processing row 822 of 1444.
Processing row 823 of 1444.
Processing row 824 of 1444.
Processing row 825 of 1444.
Processing row 826 of 1444.
Processing row 827 of 1444.
Processing row 828 of 1444.
Processing row 829 of 1444.
Processing row 830 of 1444.
Processing row 831 of 1444.
Processing row 832 of 1444.
Processing row 833 of 1444.
Processing row 834 of 1444.
Processing row 835 of 1444.
Processing row 836 of 1444.
Processing row 837 of 1444.
Processing row 838 of 1444.
Processing row 839 of 1444.
Processing row 840 of 1444.
Processing row 841 of 1444.
Processing row 842 of 1444.
Processing row 843 of 1444.
Processing row 844 of 1444.
Processing row 845 of 1444.
Processing row 846 of 1444.
Processing row 847 of 1444.
Processing row 848 of 1444.
Processing row 849 of 1444.
Processing row 850 of 1444.
Processing row 851 of 1444.
Processing row 852 of 1444.
Processing row 853 of 1444.
Processing row 854 of 1444.
Processing row 855 of 1444.
Processing row 856 of 1444.
Processing row 857 of 1444.
Processing row 858 of 1444.
Processing row 859 of 1444.
Processing row 860 of 1444.
Processing row 861 of 1444.
Processing row 862 of 1444.
Processing row 863 of 1444.
Processing row 864 of 1444.
Processing row 865 of 1444.
Processing row 866 of 1444.
Processing row 867 of 1444.
Processing row 868 of 1444.
Processing row 869 of 1444.
Processing row 870 of 1444.
Processing row 871 of 1444.
Processing row 872 of 1444.
Processing row 873 of 1444.
Processing row 874 of 1444.
Processing row 875 of 1444.
Processing row 876 of 1444.
Processing row 877 of 1444.
Processing row 878 of 1444.
Processing row 879 of 1444.
Processing row 880 of 1444.
Processing row 881 of 1444.
Processing row 882 of 1444.

Processing row 883 of 1444.
Processing row 884 of 1444.
Processing row 885 of 1444.
Processing row 886 of 1444.
Processing row 887 of 1444.
Processing row 888 of 1444.
Processing row 889 of 1444.
Processing row 890 of 1444.
Processing row 891 of 1444.
Processing row 892 of 1444.
Processing row 893 of 1444.
Processing row 894 of 1444.
Processing row 895 of 1444.
Processing row 896 of 1444.
Processing row 897 of 1444.
Processing row 898 of 1444.
Processing row 899 of 1444.
Processing row 900 of 1444.
Processing row 901 of 1444.
Processing row 902 of 1444.
Processing row 903 of 1444.
Processing row 904 of 1444.
Processing row 905 of 1444.
Processing row 906 of 1444.
Processing row 907 of 1444.
Processing row 908 of 1444.
Processing row 909 of 1444.
Processing row 910 of 1444.
Processing row 911 of 1444.
Processing row 912 of 1444.
Processing row 913 of 1444.
Processing row 914 of 1444.
Processing row 915 of 1444.
Processing row 916 of 1444.
Processing row 917 of 1444.
Processing row 918 of 1444.
Processing row 919 of 1444.
Processing row 920 of 1444.
Processing row 921 of 1444.
Processing row 922 of 1444.
Processing row 923 of 1444.
Processing row 924 of 1444.
Processing row 925 of 1444.
Processing row 926 of 1444.
Processing row 927 of 1444.
Processing row 928 of 1444.
Processing row 929 of 1444.
Processing row 930 of 1444.
Processing row 931 of 1444.
Processing row 932 of 1444.
Processing row 933 of 1444.
Processing row 934 of 1444.
Processing row 935 of 1444.
Processing row 936 of 1444.
Processing row 937 of 1444.
Processing row 938 of 1444.
Processing row 939 of 1444.
Processing row 940 of 1444.
Processing row 941 of 1444.
Processing row 942 of 1444.
Processing row 943 of 1444.
Processing row 944 of 1444.
Processing row 945 of 1444.
Processing row 946 of 1444.
Processing row 947 of 1444.
Processing row 948 of 1444.
Processing row 949 of 1444.
Processing row 950 of 1444.
Processing row 951 of 1444.
Processing row 952 of 1444.
Processing row 953 of 1444.
Processing row 954 of 1444.
Processing row 955 of 1444.
Processing row 956 of 1444.
Processing row 957 of 1444.
Processing row 958 of 1444.
Processing row 959 of 1444.
Processing row 960 of 1444.
Processing row 961 of 1444.
Processing row 962 of 1444.
Processing row 963 of 1444.
Processing row 964 of 1444.
Processing row 965 of 1444.
Processing row 966 of 1444.
Processing row 967 of 1444.
Processing row 968 of 1444.
Processing row 969 of 1444.
Processing row 970 of 1444.
Processing row 971 of 1444.
Processing row 972 of 1444.
Processing row 973 of 1444.
Processing row 974 of 1444.
Processing row 975 of 1444.
Processing row 976 of 1444.
Processing row 977 of 1444.
Processing row 978 of 1444.
Processing row 979 of 1444.
Processing row 980 of 1444.
Processing row 981 of 1444.
Processing row 982 of 1444.
Processing row 983 of 1444.
Processing row 984 of 1444.
Processing row 985 of 1444.
Processing row 986 of 1444.
Processing row 987 of 1444.
Processing row 988 of 1444.
Processing row 989 of 1444.
Processing row 990 of 1444.
Processing row 991 of 1444.
Processing row 992 of 1444.
Processing row 993 of 1444.
Processing row 994 of 1444.
Processing row 995 of 1444.
Processing row 996 of 1444.
Processing row 997 of 1444.
Processing row 998 of 1444.
Processing row 999 of 1444.
Processing row 1000 of 1444.
Processing row 1001 of 1444.
Processing row 1002 of 1444.
Processing row 1003 of 1444.
Processing row 1004 of 1444.
Processing row 1005 of 1444.
Processing row 1006 of 1444.
Processing row 1007 of 1444.
Processing row 1008 of 1444.
Processing row 1009 of 1444.
Processing row 1010 of 1444.
Processing row 1011 of 1444.
Processing row 1012 of 1444.
Processing row 1013 of 1444.
Processing row 1014 of 1444.
Processing row 1015 of 1444.
Processing row 1016 of 1444.
Processing row 1017 of 1444.
Processing row 1018 of 1444.
Processing row 1019 of 1444.
Processing row 1020 of 1444.
Processing row 1021 of 1444.
Processing row 1022 of 1444.
Processing row 1023 of 1444.
Processing row 1024 of 1444.
Processing row 1025 of 1444.
Processing row 1026 of 1444.
Processing row 1027 of 1444.
Processing row 1028 of 1444.
Processing row 1029 of 1444.
Processing row 1030 of 1444.
Processing row 1031 of 1444.
Processing row 1032 of 1444.
Processing row 1033 of 1444.
Processing row 1034 of 1444.
Processing row 1035 of 1444.
Processing row 1036 of 1444.
Processing row 1037 of 1444.
Processing row 1038 of 1444.
Processing row 1039 of 1444.
Processing row 1040 of 1444.
Processing row 1041 of 1444.
Processing row 1042 of 1444.
Processing row 1043 of 1444.
Processing row 1044 of 1444.
Processing row 1045 of 1444.
Processing row 1046 of 1444.
Processing row 1047 of 1444.
Processing row 1048 of 1444.
Processing row 1049 of 1444.
Processing row 1050 of 1444.
Processing row 1051 of 1444.
Processing row 1052 of 1444.
Processing row 1053 of 1444.
Processing row 1054 of 1444.
Processing row 1055 of 1444.
Processing row 1056 of 1444.
Processing row 1057 of 1444.
Processing row 1058 of 1444.
Processing row 1059 of 1444.
Processing row 1060 of 1444.
Processing row 1061 of 1444.
Processing row 1062 of 1444.
Processing row 1063 of 1444.
Processing row 1064 of 1444.
Processing row 1065 of 1444.
Processing row 1066 of 1444.
Processing row 1067 of 1444.
Processing row 1068 of 1444.
Processing row 1069 of 1444.
Processing row 1070 of 1444.
Processing row 1071 of 1444.
Processing row 1072 of 1444.
Processing row 1073 of 1444.
Processing row 1074 of 1444.
Processing row 1075 of 1444.
Processing row 1077 of 1444.
Processing row 1078 of 1444.
Processing row 1079 of 1444.
Processing row 1080 of 1444.
Processing row 1083 of 1444.
Processing row 1084 of 1444.
Processing row 1085 of 1444.
Processing row 1086 of 1444.
Processing row 1089 of 1444.
Processing row 1091 of 1444.
Processing row 1092 of 1444.
Processing row 1097 of 1444.
Processing row 1101 of 1444.
Processing row 1106 of 1444.
Processing row 1108 of 1444.
Processing row 1112 of 1444.
Processing row 1113 of 1444.
Processing row 1114 of 1444.
Processing row 1116 of 1444.
Processing row 1119 of 1444.
Processing row 1120 of 1444.
Processing row 1121 of 1444.
Processing row 1122 of 1444.
Processing row 1123 of 1444.
Processing row 1124 of 1444.
Processing row 1125 of 1444.
Processing row 1127 of 1444.
Processing row 1128 of 1444.
Processing row 1130 of 1444.
Processing row 1134 of 1444.
Processing row 1135 of 1444.
Processing row 1137 of 1444.
Processing row 1138 of 1444.
Processing row 1139 of 1444.
Processing row 1140 of 1444.
Processing row 1141 of 1444.
Processing row 1142 of 1444.
Processing row 1143 of 1444.
Processing row 1144 of 1444.
Processing row 1145 of 1444.
Processing row 1146 of 1444.
Processing row 1147 of 1444.
Processing row 1148 of 1444.
Processing row 1149 of 1444.
Processing row 1150 of 1444.
Processing row 1151 of 1444.
Processing row 1152 of 1444.
Processing row 1153 of 1444.
Processing row 1154 of 1444.
Processing row 1155 of 1444.
Processing row 1156 of 1444.
Processing row 1157 of 1444.
Processing row 1158 of 1444.
Processing row 1159 of 1444.
Processing row 1160 of 1444.
Processing row 1161 of 1444.
Processing row 1162 of 1444.
Processing row 1163 of 1444.
Processing row 1164 of 1444.
Processing row 1165 of 1444.
Processing row 1166 of 1444.
Processing row 1167 of 1444.
Processing row 1168 of 1444.
Processing row 1169 of 1444.
Processing row 1170 of 1444.
Processing row 1171 of 1444.
Processing row 1172 of 1444.
Processing row 1173 of 1444.
Processing row 1174 of 1444.
Processing row 1175 of 1444.
Processing row 1176 of 1444.
Processing row 1177 of 1444.
Processing row 1178 of 1444.
Processing row 1179 of 1444.
Processing row 1180 of 1444.
Processing row 1181 of 1444.
Processing row 1183 of 1444.
Processing row 1184 of 1444.
Processing row 1185 of 1444.
Processing row 1186 of 1444.
Processing row 1187 of 1444.
Processing row 1188 of 1444.
Processing row 1189 of 1444.
Processing row 1190 of 1444.
Processing row 1191 of 1444.
Processing row 1192 of 1444.
Processing row 1195 of 1444.
Processing row 1196 of 1444.
Processing row 1197 of 1444.
Processing row 1198 of 1444.
Processing row 1199 of 1444.
Processing row 1200 of 1444.
Processing row 1202 of 1444.
Processing row 1203 of 1444.

Processing row 1206 of 1444.
Processing row 1208 of 1444.
Processing row 1210 of 1444.
Processing row 1219 of 1444.
Processing row 1221 of 1444.
Processing row 1225 of 1444.
Processing row 1226 of 1444.
Processing row 1227 of 1444.
Processing row 1228 of 1444.
Processing row 1230 of 1444.
Processing row 1232 of 1444.
Processing row 1233 of 1444.
Processing row 1234 of 1444.
Processing row 1235 of 1444.
Processing row 1237 of 1444.
Processing row 1244 of 1444.
Processing row 1247 of 1444.
Processing row 1251 of 1444.
Processing row 1252 of 1444.
Processing row 1253 of 1444.
Processing row 1254 of 1444.
Processing row 1257 of 1444.
Processing row 1260 of 1444.
Processing row 1261 of 1444.
Processing row 1263 of 1444.
Processing row 1266 of 1444.
Processing row 1267 of 1444.
Processing row 1271 of 1444.
Processing row 1273 of 1444.
Processing row 1274 of 1444.
Processing row 1276 of 1444.
Processing row 1277 of 1444.
Processing row 1278 of 1444.
Processing row 1279 of 1444.
Processing row 1280 of 1444.
Processing row 1281 of 1444.
Processing row 1282 of 1444.
Processing row 1283 of 1444.
Processing row 1285 of 1444.
Processing row 1286 of 1444.
Processing row 1289 of 1444.
Processing row 1290 of 1444.
Processing row 1291 of 1444.
Processing row 1292 of 1444.
Processing row 1293 of 1444.
Processing row 1294 of 1444.
Processing row 1295 of 1444.
Processing row 1296 of 1444.
Processing row 1297 of 1444.
Processing row 1298 of 1444.
Processing row 1299 of 1444.
Processing row 1303 of 1444.
Processing row 1304 of 1444.
Processing row 1305 of 1444.
Processing row 1306 of 1444.
Processing row 1307 of 1444.
Processing row 1308 of 1444.
Processing row 1313 of 1444.
Processing row 1314 of 1444.
Processing row 1315 of 1444.
Processing row 1317 of 1444.
Processing row 1318 of 1444.
Processing row 1319 of 1444.
Processing row 1320 of 1444.
Processing row 1321 of 1444.
Processing row 1324 of 1444.
Processing row 1326 of 1444.
Processing row 1328 of 1444.
Processing row 1329 of 1444.
Processing row 1330 of 1444.
Processing row 1331 of 1444.
Processing row 1332 of 1444.
Processing row 1333 of 1444.
Processing row 1334 of 1444.
Processing row 1335 of 1444.
Processing row 1336 of 1444.
Processing row 1337 of 1444.
Processing row 1338 of 1444.
Processing row 1340 of 1444.
Processing row 1343 of 1444.
Processing row 1344 of 1444.
Processing row 1346 of 1444.
Processing row 1348 of 1444.
Processing row 1349 of 1444.
Processing row 1350 of 1444.
Processing row 1351 of 1444.
Processing row 1354 of 1444.
Processing row 1355 of 1444.
Processing row 1356 of 1444.
Processing row 1357 of 1444.
Processing row 1358 of 1444.
Processing row 1359 of 1444.
Processing row 1360 of 1444.
Processing row 1361 of 1444.
Processing row 1362 of 1444.
Processing row 1363 of 1444.
Processing row 1364 of 1444.
Processing row 1365 of 1444.
Processing row 1366 of 1444.
Processing row 1367 of 1444.
Processing row 1368 of 1444.
Processing row 1369 of 1444.
Processing row 1371 of 1444.
Processing row 1372 of 1444.
Processing row 1377 of 1444.
Processing row 1378 of 1444.
Processing row 1386 of 1444.
Processing row 1387 of 1444.
Processing row 1390 of 1444.
Processing row 1391 of 1444.
Processing row 1393 of 1444.
Processing row 1394 of 1444.
Processing row 1395 of 1444.
Processing row 1396 of 1444.
Processing row 1397 of 1444.
Processing row 1398 of 1444.
Processing row 1400 of 1444.
Processing row 1401 of 1444.
Processing row 1402 of 1444.
Processing row 1403 of 1444.
Processing row 1404 of 1444.
Processing row 1405 of 1444.
Processing row 1406 of 1444.
Processing row 1407 of 1444.
Processing row 1408 of 1444.
Processing row 1409 of 1444.
Processing row 1410 of 1444.
Processing row 1411 of 1444.
Processing row 1412 of 1444.
Processing row 1414 of 1444.
Processing row 1415 of 1444.
Processing row 1416 of 1444.
Processing row 1418 of 1444.
Processing row 1419 of 1444.
Processing row 1420 of 1444.
Processing row 1421 of 1444.
Processing row 1422 of 1444.
Processing row 1423 of 1444.
Processing row 1424 of 1444.
Processing row 1425 of 1444.
Processing row 1426 of 1444.
Processing row 1427 of 1444.
Processing row 1428 of 1444.
Processing row 1429 of 1444.
Processing row 1430 of 1444.
Processing row 1431 of 1444.
Processing row 1432 of 1444.
Processing row 1433 of 1444.
Processing row 1434 of 1444.
Processing row 1435 of 1444.
Processing row 1436 of 1444.
Processing row 1437 of 1444.
Processing row 1439 of 1444.
Processing row 1440 of 1444.
Processing row 1441 of 1444.
Processing row 1442 of 1444.
Processing row 1443 of 1444.
Processing row 1444 of 1444.

Total Time Processed:
3155.546615123749

In [2202]:
title_title

article_id,0,1,2,3,4,5,6,7,8,9,...,1434,1435,1436,1437,1439,1440,1441,1442,1443,1444
article_id,,,,,,,,,,,,,,,,,,,,,
0,1.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.0,1.000000,0.201993,0.0,0.084580,0.115216,0.0,0.136276,0.260556,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.136276,0.069973,0.000000,0.000000,0.000000
2,0.0,0.201993,1.000000,0.0,0.084580,0.115216,0.0,0.136276,0.450176,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.136276,0.069973,0.000000,0.000000,0.000000
3,0.0,0.000000,0.000000,1.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.0,0.084580,0.084580,0.0,1.000000,0.105992,0.0,0.125367,0.105992,0.130494,...,0.0,0.0,0.0,0.0,0.0,0.125367,0.064371,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1440,0.0,0.136276,0.136276,0.0,0.125367,0.170776,0.0,0.201993,0.170776,0.000000,...,0.0,0.0,0.0,0.0,0.0,1.000000,0.390105,0.000000,0.000000,0.000000
1441,0.0,0.069973,0.069973,0.0,0.064371,0.087687,0.0,0.103716,0.087687,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.390105,1.000000,0.000000,0.000000,0.000000
1442,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,1.000000,0.063601,0.054473
1443,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.063601,1.000000,0.078745
1444,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.054473,0.078745,1.000000

In [2203]:
# Export to pickle

title_title.to_pickle('title_title_similarity_df.pkl')

In [2270]:
9999 in title_title.index.values

False

In [2271]:
# Look Up similar articles by article by title similarity (title-title)

# Use a query method from pre-calculated 
# title_title df. Save time.

def loopup_similar_title_articles(article_id, data=title_title, n=20):
    
    # input: n - number of top similar to return
    
    if article_id in title_title.index.values: 
    
        ids = list(data.loc[article_id][data.loc[article_id].index != article_id].sort_values(ascending=False).head(20).index)
        names = list(titles_df.loc[ids].title.values)
        
    else:
        print(f"[article_id] {article_id} not found in dataset.")
        ids = []
        names = []
    
    
    return ids, names

In [2223]:
# Find similar articles (with title similarity)

rec_a = loopup_similar_title_articles(437)[0]
rec_a

[122,
 313,
 1427,
 762,
 254,
 1390,
 655,
 805,
 444,
 800,
 260,
 1035,
 384,
 1001,
 40,
 500,
 893,
 1297,
 390,
 1185]

In [2225]:
# Find similar articles (with overall similarity score (title, body, desc))

rec_b = loopup_similar_articles(437)[0]
rec_b

[655,
 511,
 686,
 555,
 751,
 762,
 662,
 122,
 517,
 653,
 335,
 805,
 254,
 417,
 827,
 112,
 644,
 82,
 529,
 384]

In [2243]:
# Combine two list. 
# List that from title similarity and list that from overall similarity. 
# Intersection plus each list's unique items.
# the combined result list served as a union of two list. 

def union_list(list_a, list_b):
    # input: two lists 
    # output: a union list.
    
    intersect = np.intersect1d(list_a, list_b)
    unique_in_a = set(list_a) - set(intersect)
    unique_in_b = set(list_b) - set(intersect)
    
    union = list(set.union(set.union(unique_in_a, unique_in_b), intersect))
    
    # shuffle the list
    random.shuffle(union)

    
    return union

In [2245]:
print(len(union_list(rec_a, rec_b)))

union_rec_list = union_list(rec_a, rec_b)

union_rec_list

34

[653,
 1297,
 805,
 644,
 827,
 500,
 40,
 762,
 1427,
 335,
 529,
 313,
 122,
 655,
 112,
 800,
 893,
 384,
 686,
 417,
 1001,
 555,
 444,
 1390,
 254,
 1035,
 751,
 1185,
 517,
 82,
 260,
 662,
 511,
 390]

In [2333]:
def get_article_titles(ids, data=titles_df):
    # Input: a list of article ids
    # data: the all article title dataframe
    
    titles = data[data.article_id.isin(ids)].title.apply(lambda x: x.title()).values
    result = list(titles)

    return result

----

### Putting All Content-Content together make rec

In [2338]:
# Getting union results to make content recs

def make_content_recs(article_id, data=titles_df):
    '''
    Strategy: get relevant content based on title score, and get relevant content based
              on overall (title,desc,body) score. Combine them.
              Also look futher another extra layer, to fetch relevant content of its relevant content. 
              think of 'relevant of relevant.', put these extra to union list. 
    '''
    
    # output: ids and titles tuple
    
    recs_based_on_title = loopup_similar_title_articles(article_id)[0]
    recs_based_on_overall = loopup_similar_articles(article_id)[0]
    
    union_recs = union_list(recs_based_on_title, recs_based_on_overall)
    
    extra_recs = []
    
    
    # If article_id not in df_content, find one from the list that is in df_content or article_article,
    # so that it can use overall score similarity to load extra relevant content
    if article_id not in article_article.index.values:
        # print(f"{article_id} not in article_article, pulling addinional relevant content.")
        
        for i in union_recs:
            if i in article_article.index.values:
                # find similar base on overall score, and slice first 5 instance
                extra = loopup_similar_articles(i)[0][:5]
                extra_recs.append(extra)
                
    extra_recs = np.array(extra_recs).flatten()
    extra_recs = list(np.unique(extra_recs))


    for e in extra_recs:
        if e not in union_recs:
            union_recs.append(e)
            
    
    titles = get_article_titles(union_recs)
            
    
    return union_recs, titles

In [2348]:
# Make recs based on content article_id 1427. 
# Revealing that they are 'machine learning' related

make_content_recs(1427)

([1420,
  800,
  655,
  161,
  313,
  34,
  1422,
  1390,
  893,
  444,
  122,
  809,
  762,
  260,
  805,
  1035,
  254,
  124,
  384,
  437,
  96,
  112,
  250,
  455,
  495,
  511,
  555,
  592,
  595,
  600,
  686,
  721,
  723,
  751,
  793,
  806,
  812,
  907,
  967,
  972,
  1006],
 ['Top 10 Machine Learning Use Cases: Part 1',
  'Improving Quality Of Life With Spark-Empowered Machine Learning',
  'Building Custom Machine Learning Algorithms With Apache Systemml',
  'Watson Machine Learning For Developers',
  'Python Machine Learning: Scikit-Learn Tutorial',
  'Use The Machine Learning Library In Spark',
  'Building Your First Machine Learning System ',
  'Apple, Ibm Add Machine Learning To Partnership With Watson-Core Ml Coupling',
  'The Machine Learning Database',
  'What Is Machine Learning?',
  'Continuous Learning On Watson',
  'Ibm Watson Machine Learning: Get Started',
  'Declarative Machine Learning',
  'Make Machine Learning A Reality For Your Enterprise',
  'Top 10 Machine Learning Algorithms For Beginners',
  'Put A Human Face On Machine Learning With Wml & Dsx',
  'Build A Naive-Bayes Model With Wml & Dsx',
  'Apache Spark Analytics',
  'Load Dashdb Data With Apache Spark',
  'Access Ibm Analytics For Apache Spark From Rstudio',
  'Create A Project For Watson Machine Learning In Dsx',
  'Score A Predictive Model Built With Ibm Spss Modeler, Wml & Dsx',
  'The Power Of Machine Learning In Spark',
  '10 Essential Algorithms For Machine Learning Engineers',
  'Build A Predictive Analytic Model',
  'From Machine Learning To Learning Machine (Dinesh Nirmal)',
  '10 Powerful Features On Watson Data Platform, No Coding Necessary',
  'Machine Learning For The Enterprise',
  'Machine Learning For Everyone',
  'Collaborate On Projects In Dsx',
  'Use The Machine Learning Library',
  'Machine Learning Exercises In Python, Part 1',
  'Use The Machine Learning Library In Ibm Analytics For Apache Spark',
  'Build Spark Sql Queries',
  'Ml Algorithm != Learning Machine',
  'Create A Project In Dsx',
  'Essentials Of Machine Learning Algorithms (With Python And R Codes)',
  'Machine Learning For The Enterprise.',
  'Style Transfer Experiments With Watson Machine Learning',
  'Use Apache Systemml And Spark For Machine Learning',
  'Use R Dataframes & Ibm Watson Natural Language Understanding'])

----
### Extracting topics from popular content

In [2380]:
def get_title_bigrams_by(id, data=titles_df):
    title = data.loc[id].title
    
    # a list of tokens
    tokened_text = tokenize(title)
    
    # ngrams 2
    grams = [f"{x[0]} {x[1]}" for x in list(bigrams(tokened_text))]
    
    # sort with frequency descending
    sorted_grams = [x[0] for x in Counter(grams).most_common()]
    
    return sorted_grams

In [2440]:
def extract_topics_by_title_bigrams(article_id, m=2):
    
    # Input: m - threadhold about top M to slice from the frequent term counter
    
    # Get relavant articles ids. (also append self)
    ids = [article_id] + make_content_recs(article_id)[0]
    
    # Get ngrams for each title, and assemble to documents list. 
    documents = [get_title_bigrams_by(i) for i in ids]
    
    
    # Find most common bigrams. Highly possible be the topic
    documents_flatten = [item for sublist in documents for item in sublist]
    
    # most counted terms. Select first m instances. 
    topics_counter = Counter(documents_flatten).most_common()[:m]
    
    topics = [x[0].title() for x in topics_counter]
    
    
    return topics

In [2441]:
# Test topics extracting from given a article id

print(extract_topics_by_title_bigrams(500))

print(extract_topics_by_title_bigrams(55))

print(extract_topics_by_title_bigrams(1400))

print(extract_topics_by_title_bigrams(937))

['Machine Learning', 'Deep Learning']
['Apache Spark', 'Cloud Data']
['Data Science', 'Ibm Data']
['Ibm Watson', 'Watson Data']

---

### Let's show what are the top topics

In [2474]:
# Let's show what are the top topics

# Checked the top viewed content
print(most_popular_list)
print('\n')

# A list to hold each hot/popular content's topic
popular_topics_overall = []

# Loop thru each popular article, extract its topic and combine them.
for article_id in most_popular_list:
    article_id = int(article_id)
    topics = extract_topics_by_title_bigrams(article_id)
    print(f"[{article_id}] is about: {topics}")
    popular_topics_overall.append(topics)
    

# Sort with most frequent to represent most popular topics
print(f"\n\nBased on most viewed articles (top 20 instance), the top 10  popular topics are:\n")
most_popular_topics = [x[0] for x in Counter(np.array(popular_topics_overall).flatten()).most_common()[0:10]]

for k,v in enumerate(most_popular_topics):
    print(k+1, v)
    
    

print(f"\nThis is valuable because based on such demand, we can feed more related content in future. \nAlso to serve as knowleadge-based recommendation for brand new users")

[1429.0, 1330.0, 1431.0, 1427.0, 1364.0, 1314.0, 1293.0, 1170.0, 1162.0, 1304.0, 1436.0, 1271.0, 1398.0, 43.0, 1351.0, 1393.0, 1185.0, 1160.0, 1354.0, 1368.0]


[1429] is about: ['Deep Learning', 'Machine Learning']
[1330] is about: ['Cloudant Query', 'Apache Spark']
[1431] is about: ['Data Science', 'Watson Data']
[1427] is about: ['Machine Learning', 'Watson Machine']
[1364] is about: ['Machine Learning', 'Data Science']
[1314] is about: ['Apache Spark', 'Jupyter Notebook']
[1293] is about: ['Cloudant Query', 'Data Science']
[1170] is about: ['Apache Spark', 'Spark Sql']
[1162] is about: ['Machine Learning', 'Jupyter Notebook']
[1304] is about: ['Machine Learning', 'Logistic Regression']
[1436] is about: ['Data Science', 'Ibm Watson']
[1271] is about: ['Making Compose', 'Compose Customer']
[1398] is about: ['Country Statistic', 'Country Population']
[43] is about: ['Deep Learning', 'Data Science']
[1351] is about: ['Data Science', 'Watson Data']
[1393] is about: ['Data Science', 'Web Pick']
[1185] is about: ['Machine Learning', 'Learning Algorithm']
[1160] is about: ['Apache Spark', 'Spark 2']
[1354] is about: ['Machine Learning', 'Apache Spark']
[1368] is about: ['Machine Learning', 'Wml Dsx']


Based on most viewed articles (top 20 instance), the top 10  popular topics are:

1 Machine Learning
2 Data Science
3 Apache Spark
4 Deep Learning
5 Cloudant Query
6 Watson Data
7 Jupyter Notebook
8 Watson Machine
9 Spark Sql
10 Logistic Regression

This is valuable because based on such demand, we can feed more related content in future.
Also to serve as knowleadge-based recommendation for brand new users